<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <body>
        <h:form id="frmNotaFiscalEntrada">
            <div class="col-md-12">
                <p:commandButton value="Novo Lançamento" icon="Novo" oncomplete="PF('dlgSelecionarTipoEmissao').show();" />
                <p:commandButton value="Pesquisar" icon="Consultar" oncomplete="PF('dlgPesquisaNotaEntrada').show()" />
                <hr/>
            </div>
            <div class="col-md-12">
                <p:contextMenu id="contexto" for="dtblNotaFiscalEntrada">
                    <p:menuitem value="Ver"  icon="Info" onclick="PF('dlgVerNotaEntrada').show();" update=":tabs:frmVerNotaEntrada" />
                    <p:menuitem value="Editar" icon="Editar" disabled="#{!notaEntradaMB.verificaSePodeEditar()}"  update=":tabs:frmLancarNotaEntrada" 
                                oncomplete="PF('dlgLancarNotaEntrada').show();"/>
                    <p:menuitem value="Excluir"  icon="Excluir" disabled="#{!notaEntradaMB.verificaSePodeEditar()}" action="#{notaEntradaMB.Excluir()}" 
                                update="@form, :msg" />
                </p:contextMenu>
                <p:dataTable id="dtblNotaFiscalEntrada" value="#{notaEntradaMB.model}" lazy="true"  var="nf" 
                             paginator="true" rows="10" emptyMessage="Nenhuma NF de Entrada localizada!"
                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="5,10,15" paginatorAlwaysVisible="false" paginatorPosition="bottom"
                             selectionMode="single" 
                             selection="#{notaEntradaMB.listaNotaEntradaSelecionada}" rowKey="#{nf}" >
                    <p:ajax event="rowSelect" listener="#{notaEntradaMB.semSelecionar()}"   update="@form" />
                    <p:ajax event="rowUnselect"  listener="#{notaEntradaMB.semSelecionar()}"   update="@form" />
                    <f:facet name="header">
                        <h:outputText value="Nota Fiscal de Entrada"  />
                        <h:commandLink title="Exportar para Excel">
                            <p:graphicImage name="/icons/Excel.png" />
                            <p:dataExporter type="xls" target="dtblNotaFiscalEntrada" fileName="NFs_Entrada"  />
                        </h:commandLink>
                        <h:commandLink title="Exportar para PDF">
                            <p:graphicImage name="/icons/Pdf.png" />
                            <p:dataExporter type="pdf" target="dtblNotaFiscalEntrada" fileName="NFs_Entrada"  />
                        </h:commandLink>
                    </f:facet>
                    <p:column style="width: 3.5%">
                        <p:rowToggler />
                    </p:column>
                    <p:column headerText="ID" width="5%" style="text-align: center">
                        <h:outputText value="#{nf.idNotaEntrada}" />
                    </p:column>
                    <p:column headerText="Número " width="10%"  styleClass="hidden-xs hidden-sm">
                        <h:outputText value="#{nf.numero}" />
                    </p:column>
                    <p:column headerText="Fornecedor" width="20%" style="font-size: 10px;">
                        <h:outputText value="#{nf.idFornecedor.nome}" />                    
                    </p:column>
                    <p:column headerText="Emissão" width="10%"  styleClass="hidden-xs hidden-sm" >
                        <h:outputText value="#{nf.dtEmissao}" >
                            <f:convertDateTime pattern="dd/MM/yyyy"/>
                        </h:outputText>                    
                    </p:column>
                    <p:column headerText="Entrada" width="10%" style="text-align: center">
                        <h:outputText value="#{nf.dtEntrada}" >
                            <f:convertDateTime pattern="dd/MM/yyyy"/>
                        </h:outputText>
                    </p:column>                            
                    <p:column headerText="Status" width="10%" style="text-align: center">
                        <h:outputText value="#{req.status}" />                    
                    </p:column>
                    <p:column headerText="Valor Total" width="10%" style="text-align: center">
                        <h:outputText value="#{req.valor}" >
                            <f:convertNumber type="currency" minFractionDigits="2" maxFractionDigits="2" />
                        </h:outputText>
                    </p:column>
                    <p:rowExpansion>
                        <p:dataTable value="#{nf.notaEntradaItemList}" var="nfItem" style="width: 80%" >
                            <p:column headerText="Produto" width="25%">
                                <h:outputText value="#{nfItem.idProduto.descricao}" />
                            </p:column>
                            <p:column headerText="Unidade" width="10%">
                                <h:outputText value="#{nfItem.idProduto.idUnidadeSaida.descricaoResumida}" />
                            </p:column>
                            <p:column headerText="Valor Unitário" width="10%" style="text-align: center">
                                <h:outputText value="#{nfItem.valorUnitario}" >
                                    <f:convertNumber type="currency" minFractionDigits="2" maxFractionDigits="2" />
                                </h:outputText>
                            </p:column>
                            <p:column headerText="Quantidade" width="10%" style="text-align: center">
                                <h:outputText value="#{nfItem.quantidade}" />
                            </p:column>
                            <p:column headerText="Valor Total" width="10%" style="text-align: center">
                                <h:outputText value="#{nfItem.quantidade * nfItem.valorUnitario}" >
                                    <f:convertNumber type="currency" minFractionDigits="2" maxFractionDigits="2" />
                                </h:outputText>
                            </p:column>
                        </p:dataTable>
                    </p:rowExpansion>
                </p:dataTable>
            </div>
        </h:form>
        <p:dialog  header="Como deseja fazer este lançamento?" widgetVar="dlgSelecionarTipoEmissao" modal="true" width="30%" 
                   height="100%" resizable="false" position="center"  closeOnEscape="true">
            <div class="col-md-12">
                <center>
                    <p:commandButton value="Enviar XML" icon="Novo" styleClass="btn btn-lg"/>
                    <p:commandButton value="Cadastrar manualmente" icon="Novo" styleClass="btn btn-lg" action="#{notaEntradaMB.novo()}" 
                                       oncomplete="PF('dlgSelecionarTipoEmissao').hide();" onclick="PF('dlgLancarNotaEntrada').show();" update=":tabs:frmLancarNotaEntrada"/>
                </center>
            </div>
        </p:dialog>
    </body>
</html>
