<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:bcr="http://java.sun.com/jsf/composite/bcr">

    <p:dialog widgetVar="dlgAtalhoFornecedor" modal="true" header="Cadastro de Fornecedor"  width="50%" height="500"  position="top">
        <p:ajax event="close" update=":tabs:frmLancarNotaEntrada:tabs:fornecedor" />
        <iframe src="../Fornecedor//index.xhtml"  width="100%" height="99%" />
    </p:dialog>

    <p:dialog  header="Lançar Nota Fiscal de Entrada" widgetVar="dlgLancarNotaEntrada" modal="true" width="70%" 
               height="90%" resizable="false" position="top"  closeOnEscape="true" showEffect="fade" hideEffect="fade" >
        <h:form id="frmLancarNotaEntrada"  >
            <p:messages  closable="true" />
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                    <p:outputLabel for="tipoEmissao" value="Tipo de Emissão"  />
                    <p:selectOneMenu id="tipoEmissao" styleClass="form-control" 
                                     value="#{notaEntradaMB.notaEntrada.tipoEmissao}" > 
                        <f:selectItem itemLabel="Resumido" itemValue="R"/>
                        <f:selectItem itemLabel="Normal" itemValue="N"/>
                        <p:ajax event="change" update="chaveNFe, serieNF, modeloNF"/>
                    </p:selectOneMenu>
                </div> 
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <p:outputLabel for="chaveNFe" value="Chave de Acesso"  />
                    <p:inputText id="chaveNFe" value="#{notaEntradaMB.notaEntrada.chaveAcesso}" placeholder="Máx. 44 caracteres"
                                 title="Chave de Acesso da NFe. Máx. 44 caracteres." maxlength="44" 
                                 rendered="#{notaEntradaMB.notaEntrada.tipoEmissao == 'R'}"/>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                    <p:outputLabel for="numeroNF" value="Número NF"  />
                    <p:inputText id="numeroNF" value="#{notaEntradaMB.notaEntrada.numero}" placeholder="Máx. 10 caracteres"
                                 title="Número do documento fiscal. Máx. 10 caracteres." maxlength="10" required="true" requiredMessage="Informe o numero do documento."/>
                </div> 
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                    <p:outputLabel for="serieNF" value="Série"  />
                    <p:inputText id="serieNF" value="#{notaEntradaMB.notaEntrada.serie}" placeholder="Máx. 3 caracteres"
                                 title="Série do documento fiscal. Max. 3 caracteres." rendered="#{notaEntradaMB.notaEntrada.tipoEmissao == 'R'}" 
                                 maxlength="3" required="#{notaEntradaMB.notaEntrada.tipoEmissao != 'R'}" requiredMessage="Informe a série do documento."/>
                </div> 
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                    <p:outputLabel for="modeloNF" value="Modelo" />
                    <p:selectOneMenu id="modeloNF" filter="true" filterMatchMode="contains" converter="Converter"
                                     styleClass="form-control" required="#{notaEntradaMB.notaEntrada.tipoEmissao != 'R'}" requiredMessage="Informe o modelo do documento." 
                                     widgetVar="wvaFornecedor1" value="#{notaEntradaMB.notaEntrada.idModelo}" var="modelox" rendered="#{notaEntradaMB.notaEntrada.tipoEmissao == 'R'}">
                        <f:selectItem itemLabel="Selecione o Fornecedor" itemValue="" />
                        <f:selectItems value="#{modeloNfeMB.listarModelos()}" var="modelo"
                                       itemLabel="#{modelo.idModelo} - #{modelo.codigo}  - #{modelo.descricao}" />
                        <p:column>
                            <h:outputText value="#{modelox.idModelo}" />
                        </p:column>
                        <p:column>
                            <h:outputText value="#{modelox.codigo}" />
                        </p:column>
                        <p:column>
                            <h:outputText value="#{modelo.descricao}" />
                        </p:column>

                    </p:selectOneMenu>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" >
                    <p:outputLabel for="fornecedor" value="Fornecedor" />
                    <bcr:atalhoDialogoOneMenu dialogName="dlgAtalhoFornecedor" nameWidgetVar="wvaFornecedor1" 
                                              nameFunc="atalhoFornecedor" valueToOpenDialog="Cadastrar Fornecedor" />
                    <p:selectOneMenu id="fornecedor" filter="true" filterMatchMode="contains"  converter="Converter"
                                     styleClass="form-control" required="true" requiredMessage="Informe o fornecedor!" 
                                     widgetVar="wvaFornecedor1" onchange="atalhoFornecedor(this)"
                                     value="#{notaEntradaMB.notaEntrada.idFornecedor}" var="forne">
                        <f:selectItem itemLabel="Selecione o Fornecedor" itemValue="" />
                        <f:selectItems value="#{fornecedorMB.listaFornecedores()}" var="forn"
                                       itemLabel="#{forn.idFornecedor} - #{forn.nome}  - #{forn.cgccpf}" />
                        <f:selectItem itemLabel="Cadastrar Fornecedor" itemValue="cadF" />
                        <p:column>
                            <h:outputText value="#{forne.idFornecedor}" />
                        </p:column>
                        <p:column>
                            <h:outputText value="#{forne.nome}" />
                        </p:column>
                        <p:column>
                            <h:outputText value="#{forne.cgccpf}" />
                        </p:column>

                    </p:selectOneMenu>
                </div>      
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                    <p:outputLabel for="dtEmissao" value="Data Emissão" />
                    <p:calendar value="#{notaEntradaMB.notaEntrada.dtEmissao}" id="dtEmissao" pattern="dd/MM/yyyy" 
                                mask="99/99/9999" locale="pt" showButtonPanel="true" navigator="true" required="true" 
                                requiredMessage="Informe a data de emissão." />
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                    <p:outputLabel for="dtEntrada" value="Data Entrada" />
                    <p:calendar value="#{notaEntradaMB.notaEntrada.dtEntrada}" id="dtEntrada" pattern="dd/MM/yyyy" 
                                mask="99/99/9999" locale="pt" showButtonPanel="true" navigator="true" />
                </div>
            </div>
            <div class="row">
                <p:outputLabel for="cfop" value="Código Fiscal - CFOP" />
                <h:panelGrid columns="2">
                    <p:inputText id="cfop" value="#{notaEntradaMB.notaEntrada.idCFOP.descricao}" 
                                 title="CFOP ou código fiscal do documento" readonly="true"
                                 disabled="#{notaEntradaMB.notaEntrada.tipoEmissao == 'R'}"/>
                </h:panelGrid>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                <hr/>
                <p:commandButton value="Confirmar" icon="new_confirmar" styleClass="btn" update="@form, :msg" 
                                 oncomplete="if (!args.validationFailed){PF('dlgLancarNotaEntrada').hide();}" />
                <br/>
                <hr/>
            </div>
        </h:form>
    </p:dialog>
</ui:composition>
