<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <p:dialog id="dlgPesquisaNotaEntrada" header="Pesquisa de Notas Fiscais de Entrada" widgetVar="dlgPesquisaNotaEntrada" modal="true" width="50%" showEffect="fade" hideEffect="fade" closeOnEscape="true">
        <h:form id="frmPesquisaNotaEntrada">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" >
                    <h:outputText value="Nº Documento"  />
                    <p:inputText  value="#{notaEntradaMB.notaEntrada.numero}"  />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8" >
                    <h:outputText value="Fornecedor" />
                    <p:selectOneMenu value="#{notaEntradaMB.notaEntrada.idFornecedor}" converter="Converter" 
                                     filter="true" filterMatchMode="contains" var="forne" styleClass="form-control"  >
                        <f:selectItem  itemLabel="Selecione o fornecedor" itemValue=""  />
                        <f:selectItems value="#{fornecedorMB.listaFornecedores()}" var="forn"
                                       itemLabel="#{forn.idFornecedor} - #{forn.nome} - #{forn.cgccpf} " itemValue="#{forn}" />
                        <p:column>
                            <h:outputText value="#{forne.idFornecedor}" />
                        </p:column>
                        <p:column>
                            <h:outputText value="#{forne.nome}" />
                        </p:column>
                        <p:column>
                            <h:outputText value="#{forne.cgccpf}" />
                        </p:column>
                    </p:selectOneMenu>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" >
                    <h:outputText value="Status"  />
                    <p:selectOneMenu styleClass="form-control"  value="#{notaEntradaMB.status}" >
                        <f:selectItem itemLabel="Todas" itemValue="Todas" />
                        <f:selectItem itemLabel="Lançadas" itemValue="Lançada" />
                        <f:selectItem itemLabel="Faturadas" itemValue="Faturada" />
                    </p:selectOneMenu>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" >
                    <style>
                        .colunm1{
                            width: 150px;
                        }
                    </style>
                    <h:panelGroup >
                        <h:outputText value="Datas de:" />
                        <p:selectOneMenu styleClass="form-control" value="#{notaEntradaMB.data}">
                            <f:selectItem itemLabel="Emissão" itemValue="E" /> 
                            <f:selectItem itemLabel="Entrada" itemValue="N" /> 
                        </p:selectOneMenu>
                    </h:panelGroup>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" >
                    <h:panelGrid columns="3" style="width: 100%">
                        <h:panelGroup>
                            Data Inicial
                            <p:calendar value="#{notaEntradaMB.dtIni}" pattern="dd/MM/yyyy" mask="99/99/9999" locale="pt" navigator="true" /> 
                        </h:panelGroup>
                        à
                        <h:panelGroup>
                            Data Final
                            <p:calendar value="#{notaEntradaMB.dtFim}" pattern="dd/MM/yyyy" mask="99/99/9999" locale="pt" navigator="true" /> 
                        </h:panelGroup>
                    </h:panelGrid>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                    <hr/>
                    <p:commandButton value="Pesquisar"  action="#{notaEntradaMB.pesquisar()}" update=":tabs:frmNotaFiscalEntrada" icon="Consultar" 
                                     oncomplete="PF('dlgPesquisaNotaEntrada').hide();"/>
                </div>
            </div>
        </h:form>
    </p:dialog>
</ui:composition>