<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:bnu="http://bootsfaces.net/ui"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">

    <body>

        <ui:composition template="./../../WEB-INF/Template.xhtml">

            <ui:define name="titulo">
                Cadastro de Perfil
            </ui:define>

            <ui:define name="descriptionpage">
                Nesta seção você pode cadastrar/alterar os perfis de usuários.
            </ui:define>

            <ui:define name="breadcrumb">
                Cadastro de Perfil
            </ui:define>

            <ui:define name="content">
                <div class="col-md-12">
                    <p:panel header="Cadastro de Perfil" >
                        <div class="row">
                            <h:form id="frmCadastro">
                                <div class="col-md-12">
                                    <p:commandButton value="Novo" immediate="true" icon="Novo"  >
                                        <p:ajax update="@form, :frmCadastro" listener="#{perfilMB.novo()}"  resetValues="true"  />
                                    </p:commandButton>
                                    <p:commandButton  value="Salvar" action="#{perfilMB.salvar()}" update=":frmCadastro, :msg" icon="Salvar">
                                        <f:param name="mode" value="true"  />
                                    </p:commandButton>
                                    <p:commandButton  value="Consultar" icon="Consultar" update=":frmConsultar" oncomplete="PF('dlgConsulta').show()" />
                                    <hr/>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                                            <p:outputLabel value="Descrição" for="descricao" />
                                            <p:inputText id="descricao" value="#{perfilMB.perfil.descricao}" required="#{param['mode']}" requiredMessage="Informe a descrição"  maxlength="255" />
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <hr/>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                    <p:tabView id="TabAcessos">
                                                        <p:tab title="Cadastros" >
                                                        </p:tab>
                                                        <p:tab title="Financeiro" >
                                                            <h:panelGroup id="grpFinanceiro">
                                                                <div class="row">
                                                                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-1">
                                                                        <h:panelGrid columns="1">
                                                                            <h:outputText value="Acesso Total" /> 
                                                                            <p:selectBooleanButton offLabel="Não" onLabel="Sim" offIcon="SemPermissao" onIcon="ComPermissao"  value="#{perfilMB.acesso.financeiroAcessoTotal}" >
                                                                                <p:ajax  listener="#{perfilMB.mudaAcessoTotalFinanceiro()}" update=":frmCadastro:TabAcessos:grpFinanceiro" />
                                                                            </p:selectBooleanButton>  
                                                                        </h:panelGrid>
                                                                    </div>
                                                                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
                                                                        <h:panelGrid columns="1">
                                                                            <h:outputText value="Acesso Módulo Financeiro" /> 
                                                                            <p:selectBooleanButton offLabel="Não" onLabel="Sim" offIcon="SemPermissao" onIcon="ComPermissao" value="#{perfilMB.acesso.moduloFinanceiro}" />
                                                                        </h:panelGrid>
                                                                    </div>
                                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                                        <hr/>
                                                                        <p:tabView id="tabFinanceiro">
                                                                            <p:tab title="Contas á Pagar">
                                                                                <div class="row">
                                                                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                                                                                        <h:panelGrid columns="1">
                                                                                            <h:outputText value="Acesso ao Contas á Pagar" /> 
                                                                                            <p:selectBooleanButton offLabel="Não" onLabel="Sim" offIcon="SemPermissao" onIcon="ComPermissao" value="#{perfilMB.acesso.financeiroContasPagar}" />
                                                                                        </h:panelGrid>
                                                                                    </div>
                                                                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                                                                                        <h:panelGrid columns="1">
                                                                                            <h:outputText value="Pesquisar Contas á Pagar" /> 
                                                                                            <p:selectBooleanButton offLabel="Não" onLabel="Sim" offIcon="SemPermissao" onIcon="ComPermissao" value="#{perfilMB.acesso.contasPagarPesquisar}" />
                                                                                        </h:panelGrid>
                                                                                    </div>
                                                                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                                                                                        <h:panelGrid columns="1">
                                                                                            <h:outputText value="Lançar Contas á Pagar" /> 
                                                                                            <p:selectBooleanButton offLabel="Não" onLabel="Sim" offIcon="SemPermissao" onIcon="ComPermissao" value="#{perfilMB.acesso.contasPagarInserir}" />
                                                                                        </h:panelGrid>
                                                                                    </div>
                                                                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                                                                                        <h:panelGrid columns="1">
                                                                                            <h:outputText value="Pagar Contas" /> 
                                                                                            <p:selectBooleanButton offLabel="Não" onLabel="Sim" offIcon="SemPermissao" onIcon="ComPermissao" value="#{perfilMB.acesso.contasPagarPagar}" />
                                                                                        </h:panelGrid>
                                                                                    </div>
                                                                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                                                                                        <h:panelGrid columns="1">
                                                                                            <h:outputText value="Excluir Contas á Pagar" /> 
                                                                                            <p:selectBooleanButton offLabel="Não" onLabel="Sim" offIcon="SemPermissao" onIcon="ComPermissao" value="#{perfilMB.acesso.contasPagarExcluir}" />
                                                                                        </h:panelGrid>
                                                                                    </div>
                                                                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                                                                                        <h:panelGrid columns="1">
                                                                                            <h:outputText value="Estornar Contas á Pagar" /> 
                                                                                            <p:selectBooleanButton offLabel="Não" onLabel="Sim" offIcon="SemPermissao" onIcon="ComPermissao" value="#{perfilMB.acesso.contasPagarEstornar}" />
                                                                                        </h:panelGrid>
                                                                                    </div>
                                                                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                                                                                        <h:panelGrid columns="1">
                                                                                            <h:outputText value="Ver Contas á Pagar" /> 
                                                                                            <p:selectBooleanButton offLabel="Não" onLabel="Sim" offIcon="SemPermissao" onIcon="ComPermissao" value="#{perfilMB.acesso.contasPagarVer}" />
                                                                                        </h:panelGrid>
                                                                                    </div>
                                                                                </div>
                                                                            </p:tab>
                                                                            <p:tab title="Contas á Receber">
                                                                                <div class="row">
                                                                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                                                                                        <h:panelGrid columns="1">
                                                                                            <h:outputText value="Acesso ao Contas á Receber" /> 
                                                                                            <p:selectBooleanButton offLabel="Não" onLabel="Sim" offIcon="SemPermissao" onIcon="ComPermissao" value="#{perfilMB.acesso.financeiroContasReceber}" />
                                                                                        </h:panelGrid>
                                                                                    </div>
                                                                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                                                                                        <h:panelGrid columns="1">
                                                                                            <h:outputText value="Pesquisar Contas á Receber" /> 
                                                                                            <p:selectBooleanButton offLabel="Não" onLabel="Sim" offIcon="SemPermissao" onIcon="ComPermissao" value="#{perfilMB.acesso.contasReceberPesquisar}" />
                                                                                        </h:panelGrid>
                                                                                    </div>
                                                                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                                                                                        <h:panelGrid columns="1">
                                                                                            <h:outputText value="Lançar Contas á Receber" /> 
                                                                                            <p:selectBooleanButton offLabel="Não" onLabel="Sim" offIcon="SemPermissao" onIcon="ComPermissao" value="#{perfilMB.acesso.contasReceberInserir}" />
                                                                                        </h:panelGrid>
                                                                                    </div>
                                                                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                                                                                        <h:panelGrid columns="1">
                                                                                            <h:outputText value="Receber Contas " /> 
                                                                                            <p:selectBooleanButton offLabel="Não" onLabel="Sim" offIcon="SemPermissao" onIcon="ComPermissao" value="#{perfilMB.acesso.contasReceberReceber}" />
                                                                                        </h:panelGrid>
                                                                                    </div>
                                                                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                                                                                        <h:panelGrid columns="1">
                                                                                            <h:outputText value="Excluir Contas á Receber" /> 
                                                                                            <p:selectBooleanButton offLabel="Não" onLabel="Sim" offIcon="SemPermissao" onIcon="ComPermissao" value="#{perfilMB.acesso.contasReceberExcluir}" />
                                                                                        </h:panelGrid>
                                                                                    </div>
                                                                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                                                                                        <h:panelGrid columns="1">
                                                                                            <h:outputText value="Estornar Contas á Receber" /> 
                                                                                            <p:selectBooleanButton offLabel="Não" onLabel="Sim" offIcon="SemPermissao" onIcon="ComPermissao" value="#{perfilMB.acesso.contasReceberEstornar}" />
                                                                                        </h:panelGrid>
                                                                                    </div>
                                                                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                                                                                        <h:panelGrid columns="1">
                                                                                            <h:outputText value="Ver Contas á Receber" /> 
                                                                                            <p:selectBooleanButton offLabel="Não" onLabel="Sim" offIcon="SemPermissao" onIcon="ComPermissao" value="#{perfilMB.acesso.contasReceberVer}" />
                                                                                        </h:panelGrid>
                                                                                    </div>
                                                                                </div>
                                                                            </p:tab>
                                                                            <p:tab title="Movimento Caixa">
                                                                                <div class="row">
                                                                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                                                                                        <h:panelGrid columns="1">
                                                                                            <h:outputText value="Acesso ao Caixa" /> 
                                                                                            <p:selectBooleanButton offLabel="Não" onLabel="Sim" offIcon="SemPermissao" onIcon="ComPermissao" value="#{perfilMB.acesso.financeiroCaixa}" />
                                                                                        </h:panelGrid>
                                                                                    </div>
                                                                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                                                                                        <h:panelGrid columns="1">
                                                                                            <h:outputText value="Pesquisar Caixa" /> 
                                                                                            <p:selectBooleanButton offLabel="Não" onLabel="Sim" offIcon="SemPermissao" onIcon="ComPermissao" value="#{perfilMB.acesso.caixaPesquisar}" />
                                                                                        </h:panelGrid>
                                                                                    </div>
                                                                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                                                                                        <h:panelGrid columns="1">
                                                                                            <h:outputText value="Sangria" /> 
                                                                                            <p:selectBooleanButton offLabel="Não" onLabel="Sim" offIcon="SemPermissao" onIcon="ComPermissao" value="#{perfilMB.acesso.caixaSangria}" />
                                                                                        </h:panelGrid>
                                                                                    </div>
                                                                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                                                                                        <h:panelGrid columns="1">
                                                                                            <h:outputText value="Suprimento" /> 
                                                                                            <p:selectBooleanButton offLabel="Não" onLabel="Sim" offIcon="SemPermissao" onIcon="ComPermissao" value="#{perfilMB.acesso.caixaSuprimento}" />
                                                                                        </h:panelGrid>
                                                                                    </div>
                                                                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                                                                                        <h:panelGrid columns="1">
                                                                                            <h:outputText value="Transferência" /> 
                                                                                            <p:selectBooleanButton offLabel="Não" onLabel="Sim" offIcon="SemPermissao" onIcon="ComPermissao" value="#{perfilMB.acesso.caixaTransferencia}" />
                                                                                        </h:panelGrid>
                                                                                    </div>
                                                                                </div>
                                                                            </p:tab>
                                                                            <p:tab title="Movimento Bancário">
                                                                                <div class="row">
                                                                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                                                                                        <h:panelGrid columns="1">
                                                                                            <h:outputText value="Acesso ao Banco" /> 
                                                                                            <p:selectBooleanButton offLabel="Não" onLabel="Sim" offIcon="SemPermissao" onIcon="ComPermissao" value="#{perfilMB.acesso.financeiroBanco}" />
                                                                                        </h:panelGrid>
                                                                                    </div>
                                                                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                                                                                        <h:panelGrid columns="1">
                                                                                            <h:outputText value="Pesquisar Movimento Bancario" /> 
                                                                                            <p:selectBooleanButton offLabel="Não" onLabel="Sim" offIcon="SemPermissao" onIcon="ComPermissao" value="#{perfilMB.acesso.bancoPesquisar}" />
                                                                                        </h:panelGrid>
                                                                                    </div>
                                                                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                                                                                        <h:panelGrid columns="1">
                                                                                            <h:outputText value="Depósito" /> 
                                                                                            <p:selectBooleanButton offLabel="Não" onLabel="Sim" offIcon="SemPermissao" onIcon="ComPermissao" value="#{perfilMB.acesso.bancoDeposito}" />
                                                                                        </h:panelGrid>
                                                                                    </div>
                                                                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                                                                                        <h:panelGrid columns="1">
                                                                                            <h:outputText value="Saque" /> 
                                                                                            <p:selectBooleanButton offLabel="Não" onLabel="Sim" offIcon="SemPermissao" onIcon="ComPermissao" value="#{perfilMB.acesso.bancoSaque}" />
                                                                                        </h:panelGrid>
                                                                                    </div>
                                                                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                                                                                        <h:panelGrid columns="1">
                                                                                            <h:outputText value="Transferência" /> 
                                                                                            <p:selectBooleanButton offLabel="Não" onLabel="Sim" offIcon="SemPermissao" onIcon="ComPermissao" value="#{perfilMB.acesso.bancoTransferencia}" />
                                                                                        </h:panelGrid>
                                                                                    </div>
                                                                                </div>
                                                                            </p:tab>
                                                                            <p:tab title="Gestão de Resultados">
                                                                                <div class="row">
                                                                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                                                                                        <h:panelGrid columns="1">
                                                                                            <h:outputText value="Gestão de Resultados" /> 
                                                                                            <p:selectBooleanButton offLabel="Não" onLabel="Sim" offIcon="SemPermissao" onIcon="ComPermissao" value="#{perfilMB.acesso.gestaoResultado}" />
                                                                                        </h:panelGrid>
                                                                                    </div>
                                                                                </div>
                                                                            </p:tab>
                                                                        </p:tabView>
                                                                    </div>
                                                                </div>
                                                            </h:panelGroup>
                                                        </p:tab>
                                                    </p:tabView>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </h:form>
                            <p:dialog widgetVar="dlgConsulta"  header="Consulta de Cidades" width="80%" resizable="false" position="center top" modal="true">
                                <h:form id="frmConsultar">
                                    <p:messages  closable="true"/>
                                    <p:contextMenu for="perfis" >
                                        <p:menuitem value="Editar"  icon="Editar" oncomplete="PF('dlgConsulta').hide()"  update=":frmCadastro"  />
                                        <p:menuitem value="Excluir" update="@form" icon="Excluir" actionListener="#{perfilMB.excluir}"/>
                                    </p:contextMenu>
                                    <p:dataTable id="perfis" value="#{perfilMB.listaPerfis()}" var="perf" 
                                                 paginator="true" rows="15" paginatorAlwaysVisible="false" 
                                                 paginatorPosition="bottom" lazy="true" 
                                                 rowKey="#{perf.idPerfil}" selection="#{perfilMB.perfil}" selectionMode="single">
                                        <f:facet name="header">
                                            Perfis
                                        </f:facet>
                                        <f:facet name="footer">
                                            #{perfilMB.listaPerfis().size()} Registros encontrados.
                                        </f:facet>
                                        <p:column headerText="Código" filterBy="#{perf.idPerfil}" width="2%" sortBy="#{perf.idPerfil}">
                                            <h:outputText value="#{perf.idPerfil}" />
                                        </p:column>
                                        <p:column headerText="Descrição" filterBy="#{perf.descricao}" width="20%" sortBy="#{perf.descricao}">
                                            <h:outputText value="#{perf.descricao}" />
                                        </p:column>
                                    </p:dataTable>
                                </h:form>
                            </p:dialog>
                        </div>
                    </p:panel>
                </div>

            </ui:define>

        </ui:composition>

    </body>
</html>
