<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <p:dialog widgetVar="dlgConsulta" modal="true" header="Consulta de Cargo" width="80%" resizable="false" position="center top" >
        <p:messages id="msg2" closable="true"/>
        <h:form id="frmConsultar">
            <p:contextMenu for="cargo" >
                <p:menuitem value="Editar"  icon="Editar" oncomplete="PF('dlgConsulta').hide()"  update=":frmCadastro"  />
                <p:menuitem value="Excluir" update="@form,:msg2" icon="Excluir" actionListener="#{cargoMB.excluir()}"/>
            </p:contextMenu>

            <p:dataTable id="cargo" value="#{cargoMB.listarCargos()}" var="cargo" paginator="true" rows="15" paginatorAlwaysVisible="false" 
                         paginatorPosition="bottom" emptyMessage="Nenhum registro encontrado!"
                         rowKey="#{cargo.idCargo}" selection="#{cargoMB.cargo}" selectionMode="single">
                <f:facet name="header">
                    Cargo
                </f:facet>
                <f:facet name="footer">
                    #{cargoMB.listarCargos().size()} Registros encontrados.
                </f:facet>

                <p:column headerText="Código" filterBy="#{cargo.idCargo}" width="8%" sortBy="#{cargo.idCargo}">
                    <center>
                        <h:outputText value="#{cargo.idCargo}" />
                    </center>
                </p:column>
                <p:column headerText="Descricao" filterBy="#{cargo.descricao}" width="20%" sortBy="#{cargo.descricao}">
                    <h:outputText value="#{cargo.descricao}" />
                </p:column>
                <p:column headerText="CBO" filterBy="#{cargo.cbo}" width="20%" sortBy="#{cargo.cbo}">
                    <h:outputText value="#{cargo.cbo}" />
                </p:column>
            </p:dataTable>
        </h:form>
    </p:dialog>
</ui:composition>