<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">

    <body>

        <ui:composition template="./../../WEB-INF/Template.xhtml">

            <ui:define name="titulo">
                Cadastro de Cargo
            </ui:define>

            <ui:define name="descriptionpage">
                Nesta seção você pode cadastrar os Cargos.
            </ui:define>

            <ui:define name="breadcrumb">
                Cadastro de Cargo
            </ui:define>

            <ui:define name="content">
                <p:panel header="Cadastro de Cargo">
                    <ui:include src="consultarCargo.xhtml"/>
                    <ui:include src="inserirCargo.xhtml"/>
                </p:panel>
            </ui:define>

        </ui:composition>

    </body>
</html>
