<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:f="http://java.sun.com/jsf/core">

    <p:dialog  header="Editar Contas à Receber" widgetVar="dlgContasReceberEditar" modal="true" width="80%" height="80%" resizable="false" position="top"  closeOnEscape="true" showEffect="fade" hideEffect="fade" >
        <h:form id="frmContasReceberEditar" style="overflow:scroll; height: 100%; ">
            <p:messages  closable="true" />
            <p:tabView  id="tabs">
                <p:tab title="Dados Básicos">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" >
                            <p:outputLabel for="fornecedor" value="Fornecedor" />
                            <p:selectOneMenu id="fornecedor" filter="true" filterMatchMode="contains"  converter="Converter"
                                             styleClass="form-control" required="true" requiredMessage="Informe o fornecedor!"
                                             value="#{recebimentoMB.recebimento.idCliente}" var="clie">
                                <f:selectItem itemLabel="Selecione o Cliente" itemValue="" />
                                <f:selectItems value="#{clienteMB.listarTodosClientes()}" var="cli"
                                               itemLabel="#{cli.idCliente} - #{cli.nome}  - #{cli.cgccpf}" />
                                <p:column>
                                    <h:outputText value="#{clie.idCliente}" />
                                </p:column>
                                <p:column>
                                    <h:outputText value="#{cli.nome}" />
                                </p:column>
                                <p:column>
                                    <h:outputText value="#{cli.cgccpf}" />
                                </p:column>
                            </p:selectOneMenu>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2" >
                            <p:outputLabel for="dtVencimento" value="Data Vencto" />
                            <p:calendar value="#{recebimentoMB.recebimento.dtVencimento}" id="dtVencimento" pattern="dd/MM/yyyy" mask="99/99/9999" locale="pt" showButtonPanel="true" navigator="true" required="true" requiredMessage="Informe a data de vencimento!" />
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2" >
                            <p:outputLabel for="vlrDocumento" value="Valor Docto" />
                            <pe:inputNumber value="#{recebimentoMB.recebimento.valorDuplicata}" id="vlrDocumento"  required="true" requiredMessage="Informe a o valor do documento!" symbol="R$ "
                                            decimalSeparator="," thousandSeparator=".">
                                <p:ajax event="blur" update="btnAddCentroCusto,:tabs:frmCentroCustoAdicionar:valorCentro" />
                            </pe:inputNumber>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" >
                            <p:outputLabel for="planoContas" value="Conta" />
                            <p:selectOneMenu id="planoContas" filter="true" filterMatchMode="contains"  styleClass="form-control" required="true" 
                                             converter="Converter"
                                             requiredMessage="Informe o fornecedor!" value="#{recebimentoMB.recebimento.idPlanoContas}" var="vpc">
                                <f:selectItem itemLabel="Selecione o Plano de Contas" itemValue="" />
                                <f:selectItems value="#{planoContasMB.listarPlanosDeConta()}" var="planos" 
                                               itemLabel="#{planos.codigo} - #{planos.descricao}" itemDisabled="#{planos.tipo=='S'?'true':'false'}" />
                                <p:column>
                                    <h:outputText value="#{vpc.codigo}"  style="font-weight: #{vpc.tipo=='S'?'':'bolder'}" />
                                </p:column>
                                <p:column>
                                    <h:outputText value="#{vpc.descricao}"  style="font-weight: #{vpc.tipo=='S'?'':'bolder'}" />
                                </p:column>
                            </p:selectOneMenu>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2" >
                            <p:outputLabel for="numDocto" value="Nº do Documento" />
                            <p:inputText value="#{recebimentoMB.recebimento.numDocto}" id="numDocto"  />
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2" >
                            <p:outputLabel for="numDuplicata" value="Nº da Duplicata" />
                            <p:inputText id="numDuplicata"  value="#{recebimentoMB.recebimento.numDuplicata}" />
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3" >
                            <p:outputLabel for="tipoDocumento" value="Tipo de Documento" />
                            <p:selectOneMenu id="tipoDocumento" filter="true" filterMatchMode="contains"  styleClass="form-control" required="true" 
                                             requiredMessage="Informe o Tipo de Documento!" value="#{recebimentoMB.recebimento.tipodocumento}">
                                <f:selectItem itemLabel="Selecione o Tipo de Documento" itemValue="" />
                                <f:selectItem itemLabel="Dinheiro" itemValue="Dinheiro" />
                                <f:selectItem itemLabel="Cheque" itemValue="Cheque" />
                                <f:selectItem itemLabel="Boleto" itemValue="Boleto" />
                                <f:selectItem itemLabel="Cartão de Crédito" itemValue="Cartão de Crédito" />
                                <f:selectItem itemLabel="Cartão de Débito" itemValue="Cartão de Débito" /> 
                                <f:selectItem itemLabel="Duplicata" itemValue="Duplicata" /> 
                                <f:selectItem itemLabel="Carnê" itemValue="Carnê" /> 
                                <f:selectItem itemLabel="Transf. Eletrônica" itemValue="Transf. Eletrônica" /> 
                                 <f:selectItem itemLabel="Tarifa Bancária" itemValue="Tarifa Bancária" /> 
                                <f:selectItem itemLabel="Débito em Conta" itemValue="Débito em Conta" /> 
                                <f:selectItem itemLabel="Sem Documento" itemValue="Sem Documento" /> 
                            </p:selectOneMenu>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2" >
                            <p:outputLabel for="lancarQuantidade" value="Nº Parcela" />
                            <p:spinner id="lancarQuantidade" value="#{recebimentoMB.recebimento.numParcela}"  />
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                            <p:inputText value="#{recebimentoMB.recebimento.observacao}" styleClass="form-control" />
                        </div>
                    </div>
                </p:tab>
                <p:tab  title="Centros de Custo" >
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                            <hr/>
                            <p:commandButton id="btnAddCentroCusto" value="Adicionar Centro de Custo" onclick="PF('dlgCentroCusto').show();" disabled="#{pagamentoMB.contasPagar.valorDuplicata>0?'false':'true'}" />
                            <hr/>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                            <p:dataTable id="tblCentroCusto" value="#{precebimentoMB.recebimento.centrocustoplanocontasList}" var="listCentro" emptyMessage="Nenhum Centro de Custo Adicionado" >
                                <p:column headerText="Cliente">
                                    <h:outputText value="#{listCentro.idCliente.nome}" />
                                </p:column>
                                <p:column headerText="Centro de Custo">
                                    <h:outputText value="#{listCentro.idCentroCusto.descricao}" />
                                </p:column>
                                <p:column headerText="Plano de Contas">
                                    <h:outputText value="#{listCentro.idPlanoContas.descricao}" />
                                </p:column>
                                <p:column headerText="Valor" style="text-align: center">
                                    <h:outputText value="#{listCentro.valor}" >
                                        <f:convertNumber minFractionDigits="2" maxFractionDigits="2" type="currency" />
                                    </h:outputText>
                                </p:column>
                                <p:column headerText="%" style="text-align: center">
                                    <h:outputText value="#{listCentro.percentual} %" />
                                </p:column>
                                <p:column  style="text-align: center">
                                    <p:commandButton value="Remover" />
                                </p:column>
                            </p:dataTable>
                        </div>
                    </div>

                </p:tab>
            </p:tabView>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                <hr/>
                <p:commandButton value="Confirmar" action="#{recebimentoMB.atualizar()}" update="@form, :msg, :tabs:frmContasPagarPrincipal" oncomplete="if (!args.validationFailed){PF('dlgContasReceberEditar').hide();}" >
                    <f:param name="empresa" value="#{sessaoMB.usuario.idEmpresa.idEmpresa}" />
                </p:commandButton>
                <br/>
                <hr/>
            </div>

        </h:form>
    </p:dialog>


</ui:composition>