<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">
    <h:form id="frmContasReceberPrincipal">
        <div class="col-md-12">
            <p:commandButton  value="Novo Lançamento" icon="Novo" onclick="PF('dlgContasReceberLancar').show();" action="#{recebimentoMB.novoLancamento()}" update=":tabs:frmContasReceberLancar" />
            <p:commandButton  value="Pesquisar"  icon="Consultar" update=":tabs:frmPesquisaContasReceber"  onclick="PF('dlgPesquisaRecebimento').show();" />
            <p:commandButton  value="Receber Lançamentos"  icon="Selecionar" action="#{recebimentoMB.processarListaRecebimento()}" update=":tabs:frmRecebimento" oncomplete="PF('dlgRecebimento').show();" disabled="#{recebimentoMB.disable()}" />
            <hr/>
        </div>
        <div class="col-md-12">
            <p:contextMenu id="contexto" for="dtblContasReceber">
                <p:menuitem value="Ver"    icon="Info" disabled="#{recebimentoMB.verificaSePodeVer()}" update=":tabs:frmVerContaReceber"  onclick="PF('dlgVerContaReceber').show();"/>
                <p:menuitem value="Editar"  icon="Editar" onclick="PF('dlgContasReceberEditar').show()" update=":tabs:frmContasReceberEditar" disabled="#{recebimentoMB.verificaSePodeExcluirEeditar()}" />
                <p:menuitem value="Estornar" icon="Cancelar" action="#{recebimentoMB.estornar()}" update="@form, :msg" disabled="#{recebimentoMB.verificaSePodeEstornar()}" />
                <p:menuitem value="Excluir" icon="Excluir" onclick="PF('dlgExcluirContaReceber').show()" update=":msg, @form" disabled="#{recebimentoMB.verificaSePodeExcluirEeditar()}" />
            </p:contextMenu>
            <p:dataTable id="dtblContasReceber" value="#{recebimentoMB.recebimentos}" var="rec"  paginator="true" rows="10" emptyMessage="Nenhuma contas à receber localizada!" 
                         paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                         rowsPerPageTemplate="5,10,15,30,40,50,60,65,75,90,100" paginatorAlwaysVisible="false" paginatorPosition="bottom"
                         selectionMode="multiple" resizableColumns="true" draggableColumns="true"
                         selection="#{recebimentoMB.recebimentosSelecionados}" rowKey="#{rec.idContasReceber}" >
                <p:ajax event="rowSelect" listener="#{recebimentoMB.disable()}" update="@form" />
                <p:ajax event="rowUnselect" listener="#{recebimentoMB.disable()}"  update="@form" />
                <f:facet name="header">
                    <h:outputText value="Listagem de Contas à Receber"  />
                    <h:commandLink title="Exportar para Excel">
                        <p:graphicImage name="/icons/Excel.png" />
                        <p:dataExporter type="xls" target="dtblContasReceber" fileName="contas_receber"  />
                    </h:commandLink>
                    <h:commandLink title="Exportar para PDF">
                        <p:graphicImage name="/icons/Pdf.png" />
                        <p:dataExporter type="pdf" target="dtblContasReceber" fileName="contas_receber"  />
                    </h:commandLink>
                    <h:commandLink title="Exportar para XML">
                        <p:graphicImage name="/icons/XML.png" />
                        <p:dataExporter type="xml" target="dtblContasReceber" fileName="contas_receber"  />
                    </h:commandLink>
                </f:facet>
                <p:column headerText="Docto" width="5%" style="text-align: center" >
                    <h:outputText value="#{rec.numDocto}" style="font-size: 10px;" />
                </p:column>
                <p:column headerText="Parcela" width="5%" style="text-align: center" >
                    <h:outputText value="#{rec.numParcela ==null?'1':rec.numParcela}/#{recebimentoMB.totalParcela(pag.idCliente.idCliente, pag.numDocto)== 0?'1':pag.idCliente}"  style="font-size: 10px;"/>
                </p:column>
                <p:column headerText="Cliente" width="15%">
                    <h:outputText value="#{rec.idCliente.nome}" style="font-size: 10px;"/>
                </p:column>
                <p:column headerText="Conta" width="15%" styleClass="hidden-xs hidden-sm hidden-md"  >
                    <h:outputText value="#{rec.idPlanoContas.descricao}" style="font-size: 10px;"/>
                </p:column>
                <p:column headerText="Vencimento" width="7%" style="text-align: center" sortBy="#{rec.dtVencimento}" >
                    <h:outputText value="#{rec.dtVencimento}"  style="font-size: 10px;">
                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                    </h:outputText>
                </p:column>
                <p:column headerText="Recebimento" width="7%" style="text-align: center">
                    <h:outputText value="#{rec.dtPagamento}"  style="font-size: 10px;">
                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                    </h:outputText>
                </p:column>
                <p:column headerText="Valor" width="8%" style="text-align: center">
                    <h:outputText value="#{rec.valorDuplicata}" style="font-size: 10px;" >
                        <f:convertNumber type="currency" minFractionDigits="2" maxFractionDigits="2" />
                    </h:outputText>
                </p:column>
                <p:column headerText="Valor Rec" width="8%" style="text-align: center">
                    <h:outputText value="#{rec.valorRecebido}" style="font-size: 10px;">
                        <f:convertNumber type="currency" minFractionDigits="2" maxFractionDigits="2" />
                    </h:outputText>
                </p:column>
                <p:column headerText="Status" width="6%"  styleClass="hidden-xs hidden-sm hidden-md" >
                    <h:outputText value="#{recebimentoMB.verificarStatusValue(rec)}" style="width: 100%; font-size: 10px; " styleClass="#{recebimentoMB.verificarStatusLabel(rec)}" />
                </p:column>
                <p:column headerText="Observação" width="15%" styleClass="hidden-xs hidden-sm" >
                    <h:outputText value="#{rec.observacao}"  style="font-size: 10px;"/>
                </p:column>
                <f:facet name="footer">
                    <h:outputText id="totalSel" value="Contas selecionadas: #{recebimentoMB.recebimentosSelecionados.size()}" />
                </f:facet>
            </p:dataTable>
            <hr/>
        </div>

        <div class="block">
            <ul class="statistics">
                <li>
                    <div class="statistics-info">
                        <a href="#" title="" class="bg-danger"><i class="icon-coin"></i></a>
                        <h5 >
                            #{recebimentoMB.calcularTotalReceber()}
                        </h5>
                    </div>
                    <div class="progress progress-micro">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                        </div>
                    </div>
                    <span>A Receber</span>
                </li>
                <!--/////////////////////////////////////////////////////////////-->
                <li>
                    <div class="statistics-info">
                        <a href="#" title="" class="bg-success"><i class="icon-coin"></i></a>
                        <h5>
                            #{recebimentoMB.calcularTotalRecebido()}
                        </h5>
                    </div>
                    <div class="progress progress-micro">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                        </div>
                    </div>
                    <span>Total Recebido</span>
                </li>
                <!--/////////////////////////////////////////////////////////////-->
                <li>
                    <div class="statistics-info">
                        <a href="#" title="" class="bg-warning"><i class="icon-thumbs-down2"></i></a>
                        <h5>
                            #{recebimentoMB.calcularTotalVencido()}
                        </h5>
                    </div>
                    <div class="progress progress-micro">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                        </div>
                    </div>
                    <span>Total Vencido</span>
                </li>
                <!--/////////////////////////////////////////////////////////////-->
                <li>
                    <div class="statistics-info">
                        <a href="#" title="" class="bg-info"><i class="icon-point-up"></i></a>
                        <h5>
                            #{recebimentoMB.recebimentos.size()}
                        </h5>
                    </div>
                    <div class="progress progress-micro">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                        </div>
                    </div>
                    <span>Nº Lançamentos</span>
                </li>
            </ul>
        </div>
    </h:form>

    <p:dialog widgetVar="dlgExcluirContaReceber" header="Comfirmação" modal="true" closable="false" resizable="false">
        <h:form id="frmContaReceberAExcluir">
            <h:panelGrid columns="2">
                <h:outputText value="Deseja excluir a conta?"/>
            </h:panelGrid>
            <hr/>
            <center>
                <h:panelGrid columns="2">
                    <p:commandButton value="Sim, quero excluir." icon="Selecionar" action="#{recebimentoMB.excluir()}" 
                                     update=":msg,:tabs:frmContasReceberPrincipal:dtblContasReceber" oncomplete="PF('dlgExcluirContaReceber').hide()"/>
                    <p:commandButton value="Não."  icon="Excluir"  onclick="PF('dlgExcluirContaReceber').hide()" />
                </h:panelGrid>
            </center>
        </h:form>
    </p:dialog>
</ui:composition>