<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:f="http://java.sun.com/jsf/core">

    <p:dialog widgetVar="dlgRecebimento" modal="true" width="90%" header="Recebimento de Documentos" showEffect="fade" hideEffect="fade" >
        <p:ajax event="close" listener="#{recebimentoMB.limparListaSelecionados()}" update=":tabs:frmContasReceberPrincipal" />
        <h:form id="frmRecebimento" >
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p:dataTable value="#{recebimentoMB.recebimentosSelecionados}" var="ps" editable="true" editMode="cell">
                    <p:column headerText="Docto" width="6%" style="text-align: center">
                            <h:outputText value="#{ps.numDocto}" /> 
                        </p:column>
                        <p:column headerText="Cliente">
                            <h:outputText value="#{ps.idCliente.nome}" /> 
                        </p:column>
                        <p:column headerText="Vencimento" width="7%" style="text-align: center">
                            <h:outputText value="#{ps.dtVencimento}" >
                                <f:convertDateTime pattern="dd/MM/yyyy"/>
                            </h:outputText> 
                        </p:column>
                        <p:column headerText="Pagamento"  style="text-align: center">
                            <p:calendar value="#{ps.dtPagamento}" mask="99/99/9999" pattern="dd/MM/yyyy" showButtonPanel="true"  locale="pt" required="true" requiredMessage="Informe a data do pagamento do documento #{ps.numDocto} - #{ps.numParcela}"/>
                        </p:column>
                        <p:column headerText="Valor Docto" width="10%" style="text-align: center">
                            <h:outputText value="#{ps.valorDuplicata}" >
                                <f:convertNumber type="currency" minFractionDigits="2" maxFractionDigits="2" />
                            </h:outputText> 
                        </p:column>
                        <p:column headerText="Valor Pago" style="text-align: center">
                            <pe:inputNumber value="#{ps.valorRecebido}"  symbol="R$ " required="true"  requiredMessage="Informe o valor pago do documento #{ps.numDocto} - #{ps.numParcela}"
                                            decimalSeparator="," thousandSeparator="."/>
                        </p:column>
                        <p:column headerText="Destino">
                            <p:selectOneMenu value="#{ps.recebidoCom}" styleClass="form-control" required="true" requiredMessage="Informe o destino do documento #{ps.numDocto} - #{ps.numParcela}">
                                <f:selectItem itemLabel="Destino" itemValue="" />
                                <f:selectItem itemLabel="Caixa" itemValue="C" />
                                <f:selectItem itemLabel="Banco" itemValue="B"   />
                                 <p:ajax event="change" update="bancoo,ccontaCor" />
                            </p:selectOneMenu>
                        </p:column>
                        <p:column headerText="Banco">
                            <p:selectOneMenu id="bancoo" value="#{ps.idBanco}" disabled="#{ps.recebidoCom!='B'}" converter="Converter" filter="true" filterMatchMode="contains" styleClass="form-control" required="true" requiredMessage="Informe o destino do documento #{ps.numDocto} - #{ps.numParcela}">
                                <f:selectItem itemLabel="Banco" itemValue="" />
                                <f:selectItems value="#{bancoMB.listarBancos()}" var="bk"
                                               itemLabel="#{bk.nome}" itemValue="#{bk}" />
                                <p:ajax event="change" update="ccontaCor" />
                            </p:selectOneMenu>
                        </p:column>
                        <p:column headerText="Conta Corrente">
                            <p:selectOneMenu id="ccontaCor" value="#{ps.idContaCorrente}"  disabled="#{ps.recebidoCom!='B'}" converter="Converter" filter="true" filterMatchMode="contains" styleClass="form-control" required="true" requiredMessage="Informe o destino do documento #{ps.numDocto} - #{ps.numParcela}">
                                <f:selectItem itemLabel="Conta Corrente" itemValue="" />
                                <f:selectItems value="#{ps.idBanco.contaCorrenteList}" var="ccor"
                                               itemLabel="#{ccor.numConta}- #{ccor.gestor}" itemValue="#{ccor}" />
                            </p:selectOneMenu>
                        </p:column>
                        <p:column headerText="Tipo Doc">
                            <p:selectOneMenu  filter="true" filterMatchMode="contains"  styleClass="form-control" required="true" 
                                              requiredMessage="Informe o Tipo de Documento!" value="#{ps.tipodocumento}">
                                <f:selectItem itemLabel="Selecione o Tipo de Documento" itemValue="" />
                                <f:selectItem itemLabel="Dinheiro" itemValue="Dinheiro" />
                                <f:selectItem itemLabel="Cheque" itemValue="Cheque" />
                                <f:selectItem itemLabel="Boleto" itemValue="Boleto" />
                                <f:selectItem itemLabel="Cartão de Crédito" itemValue="Cartão de Crédito" />
                                <f:selectItem itemLabel="Cartão de Débito" itemValue="Cartão de Débito" /> 
                                <f:selectItem itemLabel="Duplicata" itemValue="Duplicata" /> 
                                <f:selectItem itemLabel="Carnê" itemValue="Carnê" /> 
                                <f:selectItem itemLabel="Transf. Eletrônica" itemValue="Transf. Eletrônica" /> 
                                 <f:selectItem itemLabel="Tarifa Bancária" itemValue="Tarifa Bancária" /> 
                                <f:selectItem itemLabel="Débito em Conta" itemValue="Débito em Conta" /> 
                                <f:selectItem itemLabel="Sem Documento" itemValue="Sem Documento" /> 
                            </p:selectOneMenu>
                        </p:column>
                    </p:dataTable>
                     <hr/>
                     <p:commandButton value="Receber" action="#{recebimentoMB.receberConta()}" icon="Selecionar" update=":msg, @form, :tabs:frmContasReceberPrincipal" oncomplete="if (!args.validationFailed){PF('dlgRecebimento').hide(); }" />
                </div>
            </div>
        </h:form>
    </p:dialog>
</ui:composition>