<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <p:dialog widgetVar="dlgVerContaReceber" header="Info Contas á Receber" width="60%" modal="true" position="top" showEffect="fade" hideEffect="fade"  >
        <h:form id="frmVerContaReceber" >
            <div class="row">
                <div class="col-lg-12">
                    <strong style="font-size: 15px;">#{recebimentoMB.recebimento.idCliente.nome}</strong><br/>
                    <span style="font-size: 15px;">#{recebimentoMB.recebimento.numDocto} - #{recebimentoMB.recebimento.numParcela}</span>
                    <hr/>
                </div>
                <div class="col-md-4">
                    <h:panelGrid columns="2" styleClass="gridInfo" columnClasses="colunmOneMin, colunmTwoMax">
                        <h:outputText value="Data de Lançamento:" />
                        <h:outputText value="#{recebimentoMB.recebimento.dtLancamento}" >
                            <f:convertDateTime pattern="dd/MM/yyyy"  />
                        </h:outputText>
                        <h:outputText value="Data de Vencimento:" />
                        <h:outputText value="#{recebimentoMB.recebimento.dtVencimento}" >
                            <f:convertDateTime pattern="dd/MM/yyyy"  />
                        </h:outputText>
                        <h:outputText value="Data de Pagamento" />
                        <h:outputText value="#{recebimentoMB.recebimento.dtPagamento}" >
                            <f:convertDateTime pattern="dd/MM/yyyy"  />
                        </h:outputText>
                        <h:outputText value="Valor do Docto:" />
                        <h:outputText value="#{recebimentoMB.recebimento.valorDuplicata}" >
                            <f:convertNumber type="currency"  minFractionDigits="2" maxFractionDigits="2"  />
                        </h:outputText>
                        <h:outputText value="Valor Pago:" />
                        <h:outputText value="#{recebimentoMB.recebimento.valorRecebido}" >
                            <f:convertNumber type="currency"  minFractionDigits="2" maxFractionDigits="2"  />
                        </h:outputText>
                    </h:panelGrid>
                </div>
                <div class="col-md-5">
                    <h:panelGrid columns="2" styleClass="gridInfo" columnClasses="colunmOneMin, colunmTwoMax">
                        <h:outputText value="Situação:" />
                        <h:outputText value="#{recebimentoMB.recebimento.status=='true'?'Recebido':'Aberto'}" />
                        <h:outputText value="Plano de Contas:" />
                        <h:outputText value="#{recebimentoMB.recebimento.idPlanoContas.descricao}" />
                        <h:outputText value="Tipo de Docto:" />
                        <h:outputText value="#{recebimentoMB.recebimento.tipodocumento}" />
                        <h:outputText value="Pago Com:" />
                        <h:outputText value="#{recebimentoMB.recebimento.recebidoCom==null?'':recebimentoMB.recebimento.recebidoCom=='B'?'Banco':'Caixa'}" />
                        <h:outputText value="Banco Ref:" />
                        <h:outputText value="#{recebimentoMB.recebimento.idBanco.nome}" />
                        <h:outputText value="Conta Ref:" />
                        <h:outputText value="#{recebimentoMB.recebimento.idContaCorrente.numConta} - #{recebimentoMB.recebimento.idContaCorrente.gestor}" />
                    </h:panelGrid>
                </div>
                <div class="col-md-3">

                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                            <h:outputText value="Oberservação: " style="font-weight: bolder "/>
                            <br/>
                            <h:outputText value="#{recebimentoMB.recebimento.observacao}"/>
                        </div>
                <div class="col-md-12">
                    <hr/>
                    <p:dataTable value="#{recebimentoMB.recebimento.centrocustoplanocontasList}" var="plan" emptyMessage="Nenhum Centro de Custo Adicionado!">
                        <p:column headerText="Cliente">
                            <h:outputText value="#{plan.idCliente.nome}"/>
                        </p:column>
                        <p:column headerText="Centro de Custo">
                            <h:outputText value="#{plan.idCliente.nome}"/>
                        </p:column>
                        <p:column headerText="Plano de Contas">
                            <h:outputText value="#{plan.idPlanoContas.descricao}"/>
                        </p:column>
                        <p:column headerText="Valor" style="text-align: center" width="10%">
                            <h:outputText value="#{plan.valor}">
                                <f:convertNumber type="currency" minFractionDigits="2" maxFractionDigits="2" />
                            </h:outputText>
                        </p:column>
                        <p:column headerText="%" style="text-align: center" width="10%">
                            <h:outputText value="#{plan.percentual} %"/>
                        </p:column>
                    </p:dataTable>
                </div>
            </div>
        </h:form>
    </p:dialog>

</ui:composition>