<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">
    <body>
        <ui:composition template="./../../WEB-INF/Template.xhtml">
            <ui:define name="titulo">
                <i class="icon-cart-checkout"></i> Compras
            </ui:define>
            <ui:define name="descriptionpage"> 
                Nesta seção você pode analisar necessidades, prover recursos, equipamentos e informações para suas atividades.
            </ui:define>
            <ui:define name="breadcrumb">
                Logística
            </ui:define>
            <ui:define name="content">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="row">
                            <p:tabView id="tabs" dynamic="true" cache="true">
                                <p:tab >
                                    <f:facet name="title">
                                        <i class="icon-file-check"></i>
                                        Análise de Almoxarifado
                                    </f:facet>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h:form id="frmAnaliseAlmox">
                                                <p:dataTable value="#{requisicaoMaterialMB.listaRequisicoesParaAlmoxarifado()}" id="tblItens" var="reqAl"  emptyMessage="Nenhuma requisição aguardando análise de almoxarifado!">
                                                    <p:column width="5%" >
                                                        <p:rowToggler />
                                                    </p:column>
                                                    <p:column headerText="Requisição" width="8%" styleClass="centralizar">
                                                        <h:outputText value="#{reqAl.idRequisicaoMaterial}" />
                                                    </p:column>
                                                    <p:column headerText="Cliente" >
                                                        <h:outputText value="#{reqAl.idCliente.nome}" />
                                                    </p:column>
                                                    <p:column headerText="Local"  >
                                                        <h:outputText value="#{reqAl.idLocalTrabalho.descricao}" />
                                                    </p:column>
                                                    <p:column headerText="Usuário" >
                                                        <h:outputText value="#{reqAl.idUsuario.nome}" />
                                                    </p:column>
                                                    <p:column headerText="Data" styleClass="centralizar" width="10%" >
                                                        <h:outputText value="#{reqAl.dtCadastro}" >
                                                            <f:convertDateTime pattern="dd/MM/yyyy"/>
                                                        </h:outputText>
                                                    </p:column>
                                                    <p:column headerText="Status" styleClass="centralizar" width="10%" >
                                                        <h:outputText value="#{reqAl.status}"  />
                                                    </p:column>
                                                    <p:column width="10%"  >
                                                        <p:commandButton title="Confirmar Saída" icon="Baixa" styleClass="btn-sm" action="#{requisicaoMaterialMB.finalizarSaidaRequisicaoMaterial(reqAl)}" update="@form, :msg"  disabled="#{requisicaoMaterialMB.verificarSePodeSair(reqAl.requisicaoMaterialItemList)}"/>
                                                        <p:commandButton title="Imprimir Cotação" icon="Relatorio" styleClass="btn-sm"  />
                                                    </p:column>
                                                    <p:rowExpansion>
                                                        <p:dataTable value="#{reqAl.requisicaoMaterialItemList}" var="itmReq" id="tblSubItens"  >
                                                            <p:column headerText="Produto" width="35%" >
                                                                <h:outputText value="#{itmReq.idProduto.descricao}" />
                                                            </p:column>
                                                           
                                                            <p:column headerText="Est. Disponível" width="10%" styleClass="centralizar"  >
                                                                <h:outputText styleClass="centralizar" value="#{itmReq.idProduto.quantidade - itmReq.idProduto.quantidadeReservada}" />
                                                            </p:column>
                                                            <p:column headerText="Qnt. Requisitada" styleClass="centralizar" width="10%"  >
                                                                <h:outputText value="#{itmReq.quantidade}" />
                                                            </p:column>
                                                            <p:column headerText="Situação" style=" text-align: center" width="10%"  >
                                                                <h:outputText value="#{itmReq.status}" styleClass="#{itmReq.status=='Cotação'?'label label-warning':itmReq.status=='Aceito'?'label label-success':itmReq.status=='Aguardando' ? 'label label-default' : itmReq.status=='Solicitado'?'label label-primary':''}"/>
                                                            </p:column>
                                                            <p:column  width="10%" >
                                                                <p:commandButton title="Confirmar Item"  icon="Selecionar" disabled="#{ itmReq.quantidade > itmReq.idProduto.quantidade or itmReq.status=='Aceito' or itmReq.status=='Cotação' }" action="#{requisicaoMaterialMB.confirmarAnaliseDeItem(itmReq, reqAl.requisicaoMaterialItemList)}" update=":tabs:frmAnaliseAlmox:tblItens"  />
                                                                <p:commandButton title="Cotar Item" icon="Solicitar" action="#{requisicaoMaterialMB.cotarItem(itmReq)}" update=":tabs:frmAnaliseAlmox:tblItens, :msg" disabled="#{itmReq.idProduto.quantidade >=  itmReq.quantidade or itmReq.status=='Aceito' or itmReq.status=='Cotação'  or itmReq.status=='Solicitado'}" />
                                                                <p:commandButton title="Voltar Situação" icon="Voltar"  disabled="#{itmReq.status=='Aguardando'}" />
                                                            </p:column>
                                                        </p:dataTable>
                                                    </p:rowExpansion>
                                                </p:dataTable>
                                            </h:form>
                                        </div>
                                    </div>
                                </p:tab>
                                <p:tab  >
                                    <f:facet name="title">
                                        <i class="icon-numbered-list"></i>
                                         Cotação 
                                    </f:facet>
                                    <ui:include src="../Cotacao/index.xhtml" />
                                </p:tab>
                                <p:tab >
                                    <f:facet name="title">
                                         <i class="icon-cart3"></i>
                                        Ordem de Compra
                                    </f:facet>
                                </p:tab>
                            </p:tabView>
                        </div>
                    </div>
                </div>

            </ui:define>
        </ui:composition>
    </body>
</html>
