<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <p:dialog widgetVar="dlgConsulta" modal="true" header="Consulta de Colaborador" width="80%" resizable="false" position="center top" >
        <p:messages id="msg2" closable="true"/>
        <h:form id="frmConsultar">
            <p:contextMenu for="colaboradores" >
                <p:menuitem value="Editar"  icon="Editar" oncomplete="PF('dlgConsulta').hide()"  update=":frmCadastro"  />
                <p:menuitem value="Excluir" update="@form,:msg2" icon="Excluir" actionListener="#{colaboradorMB.excluir()}"/>
            </p:contextMenu>

            <p:dataTable id="colaboradores" value="#{colaboradorMB.listarColaboradores()}" var="colaborador" paginator="true" rows="15" paginatorAlwaysVisible="false" 
                         paginatorPosition="bottom" emptyMessage="Nenhum registro encontrado!"
                         rowKey="#{colaborador.idColaborador}" selection="#{colaboradorMB.colaborador}" selectionMode="single">
                <f:facet name="header">
                    Colaborador
                </f:facet>
                <f:facet name="footer">
                    #{colaboradorMB.listarColaboradores().size()} Registros encontrados.
                </f:facet>

                <p:column headerText="Código" filterBy="#{colaborador.idColaborador}" width="8%" sortBy="#{colaborador.idColaborador}">
                    <center>
                        <h:outputText value="#{colaborador.idColaborador}" />
                    </center>
                </p:column>
                <p:column headerText="Nome" filterBy="#{colaborador.nome}" width="20%" sortBy="#{colaborador.nome}">
                    <h:outputText value="#{colaborador.nome}" />
                </p:column>
                <p:column headerText="CPF" filterBy="#{colaborador.cpf}" width="20%" sortBy="#{colaborador.cpf}">
                    <h:outputText value="#{colaborador.cpf}" />
                </p:column>
            </p:dataTable>
        </h:form>
    </p:dialog>
</ui:composition>