<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">

    <body>

        <ui:composition template="./../../WEB-INF/Template.xhtml">

            <ui:define name="titulo">
                Cadastro de Colaborador
            </ui:define>

            <ui:define name="descriptionpage">
                Nesta seção você pode cadastrar os colaboradores.
            </ui:define>

            <ui:define name="breadcrumb">
                Cadastro de Colaborador
            </ui:define>

            <ui:define name="content">
                

                <p:panel header="Cadastro de Colaborador" >
                    <div class="row">
                        <ui:include src="InserirColaborador.xhtml" />
                        <ui:include src="consultarColaborador.xhtml" />
                        <ui:include src="ConsultarCidade.xhtml" />
                    </div>
                </p:panel>
            </ui:define>

        </ui:composition>

    </body>
</html>
