<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:bcr="http://java.sun.com/jsf/composite/bcr">



    <p:dialog widgetVar="dlgConsulta"  header="Consulta de Clientes" width="80%" resizable="false" position="center top " modal="true">
        <p:messages id="msg2" closable="true"/>
        <h:form id="frmConsultar">
            <p:contextMenu for="fornecedores" >
                <p:menuitem value="Ficha / Informação"  icon="Info" onclick="PF('dlgInformacao').show()"   update=":frmInformacao"  />
                <p:menuitem value="Editar"  icon="Editar" oncomplete="PF('dlgConsulta').hide()"  update=":frmCadastro"   >
                    <f:param name="mode" value="false" />
                </p:menuitem>
                <p:menuitem value="Excluir" update="@form,:msg2" icon="Excluir" actionListener="#{fornecedorMB.excluir}"/>
            </p:contextMenu>
            <p:dataTable id="fornecedores" value="#{fornecedorMB.listaFornecedores()}" var="forn" paginator="true" rows="10"
                         paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                         rowsPerPageTemplate="5,10,15" paginatorAlwaysVisible="false" paginatorPosition="bottom"
                         emptyMessage="Nenhum fornecedor encontrado"  rowKey="#{forn.idFornecedor}" 
                         selection="#{fornecedorMB.fornecedor}" selectionMode="single">

                <p:column headerText="Código" filterBy="#{forn.idFornecedor}" >
                    <center><h:outputText value="#{forn.idFornecedor}" /></center>
                </p:column>
                <p:column headerText="Nome" filterBy="#{forn.nome}" >
                    <center><h:outputText value="#{forn.nome}" /></center>
                </p:column>
                <p:column headerText="Tipo Pessoa" filterBy="#{forn.tipoFornecedor}" >
                    <center><h:outputText value="#{forn.tipoFornecedor}" /></center>
                </p:column>
                <p:column headerText="CGCCPF" filterBy="#{forn.cgccpf}" >
                    <center><h:outputText value="#{forn.cgccpf}" /></center>
                </p:column>
                <p:column headerText="Email" filterBy="#{forn.email}" >
                    <center><h:outputText value="#{forn.email}" /></center>
                </p:column>
            </p:dataTable>
        </h:form>
    </p:dialog>

</ui:composition>