<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:bcr="http://java.sun.com/jsf/composite/bcr">


    <div class="row">
        <h:form id="frmCadastro">
            <div class="col-md-12">
                <p:commandButton value="Novo" immediate="true" icon="Novo"  >
                    <p:ajax update="@form, :frmCadastro" listener="#{fornecedorMB.novo()}"  resetValues="true"  />
                </p:commandButton>
                <p:commandButton  value="Salvar"  update=":frmCadastro, :msg" action="#{fornecedorMB.salvar()}" icon="Salvar">
                    <f:param name="id_empresa" value="#{sessaoMB.usuario.idEmpresa.idEmpresa}"  />
                    <f:param name="mode" value="true"  />
                </p:commandButton>
                <p:commandButton  value="Consultar" update=":frmConsultar" icon="Consultar"   oncomplete="PF('dlgConsulta').show()" />
                <hr/>
            </div>
            <div class="col-md-12">
                <p:tabView id="tabs">
                    <p:tab title="Dados Básicos">
                        <div class="row">
                            <div class="col-xs-8 col-sm-8 col-md-4 col-lg-4">
                                <p:outputLabel for="nome" value="Nome" />
                                <p:inputText id="nome" value="#{fornecedorMB.fornecedor.nome}" styleClass="form-control"  required="#{param['mode']}" requiredMessage="Nome é obrigatório!" />
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
                                <p:outputLabel for="dtCadastro" value="Data de Cadastro"   />
                                <p:calendar id="dtCadastro"  value="#{fornecedorMB.fornecedor.dtCadastro}"  pattern="dd/MM/yyyy" readonly="true" showOn="false"  />
                            </div>

                            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                                <p:outputLabel for="numJuridico" value="Nº Jurídico" />
                                <p:inputText id="numJuridico" value="#{fornecedorMB.fornecedor.numJuridico}" styleClass="form-control"   />
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                                <p:outputLabel for="codgps" value="Cod. GPS" />
                                <p:inputText id="codgps" value="#{fornecedorMB.fornecedor.codigoGps}" styleClass="form-control"   />
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                                <p:outputLabel for="inativo" value="Inativo"  />
                                <p:selectOneRadio  id="inativo" value="#{fornecedorMB.fornecedor.inativo}" required="#{param['mode']}" requiredMessage="Informe se o fornecedor está inativo!" >
                                    <f:selectItem itemLabel="Não  " itemValue="N"   />
                                    <f:selectItem itemLabel="Sim  " itemValue="S" />
                                </p:selectOneRadio>
                            </div>
                            <h:panelGroup id="row">
                                <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                                    <p:outputLabel for="tipopessoa" value="Tipo de Pessoa" />
                                    <p:selectOneRadio  id="tipopessoa" value="#{fornecedorMB.fornecedor.tipoFornecedor}" required="#{param['mode']}" requiredMessage="Tipo de Pessoa é obrigatório!">
                                        <f:selectItem itemLabel="Física " itemValue="F" />
                                        <f:selectItem itemLabel="Jurídica  " itemValue="J" />
                                        <p:ajax update=":frmCadastro:tabs:row"  event="change" />
                                    </p:selectOneRadio>
                                </div>
                                <div class="col-xs-5 col-sm-5 col-md-2 col-lg-2">
                                    <p:outputLabel id="lblCPF" for="cpf" value="#{fornecedorMB.fornecedor.tipoFornecedor=='F'?'CPF':'CNPJ'}" />
                                    <p:inputMask id="cpf" value="#{fornecedorMB.fornecedor.cgccpf}"  mask="#{fornecedorMB.fornecedor.tipoFornecedor=='F'?'999.999.999-99':'99.999.999/9999-99'}" required="#{param['mode']}" requiredMessage="#{fornecedorMB.fornecedor.tipoFornecedor=='F'?'CPF':'CNPJ'} é obrigatório!">
                                    </p:inputMask>
                                </div>
                            </h:panelGroup>
                            <div class="col-xs-7 col-sm-7 col-md-4 col-lg-4">
                                <p:outputLabel for="email" value="Email"   />
                                <p:inputText id="email" value="#{fornecedorMB.fornecedor.email}"  placeholder="Ex: contato@bcrtecnologia.com.br" />
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <p:outputLabel for="home" value="Home Page"   />
                                <p:inputText id="home" value="#{fornecedorMB.fornecedor.homePage}"  placeholder="Ex: www.bcrtecnologia.com.br" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <p:outputLabel for="Obs" value="Observação"   />
                                <p:inputText id="Obs" value="#{fornecedorMB.fornecedor.observacao}"  maxlength="255"/>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <p:outputLabel for="cliente" value="Cliente" />
                                <h:panelGrid columns="2" style="width: 100% ">
                                    <p:selectOneMenu id="cliente" value="#{fornecedorMB.fornecedor.idCliente}" widgetVar="wvaCliente"  onchange="atalhoCliente(this)"
                                                     converter="Converter" var="c"  filter="true" filterMatchMode="contains" 
                                                     styleClass="form-control myClass"  >
                                        <f:selectItem  itemLabel="Selecione o Cliente" itemValue=""   />
                                        <f:selectItems value="#{clienteMB.listarTodosClientes()}" var="clie"
                                                       itemLabel="#{clie.idCliente} - #{clie.nome} - #{clie.cgccpf} " itemValue="#{clie}" />
                                        <p:column>
                                            <h:outputText value="#{c.idCliente}" />
                                        </p:column>
                                        <p:column>
                                            <h:outputText value="#{c.nome}" />
                                        </p:column>
                                        <p:column>
                                            <h:outputText value="#{c.cgccpf}" />
                                        </p:column>
                                        <p:ajax event="change" update="@this,btnImport" />
                                    </p:selectOneMenu>
                                    <p:commandButton value="" id="btnImport" action="#{fornecedorMB.importarDadosCliente()}"  update="@form, :msg" icon="ui-icon-transferthick-e-w" styleClass="btnSearch" title="Clique aqui para importar os dados do cliente!"   />
                                </h:panelGrid>
                            </div>
                        </div>
                    </p:tab>
                    <p:tab title="Endereço">
                        <fieldset>
                            <legend>Endereço</legend>
                            <div class="row">
                                <div class="col-md-2">
                                    <p:outputLabel for="cep" value="CEP"/>
                                    <p:inputMask id="cep" value="#{fornecedorMB.fornecedor.cep}" styleClass="inputSearch" mask="99999-999"  onblur="pesquisacep(this.value);" >
                                        <p:ajax listener="#{fornecedorMB.pesquisarCEP(1)}" update="logradouro,bairro,cidade,estado,:msg" />
                                    </p:inputMask>
                                </div>
                                <div class="col-md-2">
                                    <p:outputLabel for="tipologradouro" value="Tipo de Logradouro"/>
                                    <p:inputText id="tipologradouro" value="#{fornecedorMB.fornecedor.tipoLogradouro}"  />
                                </div>
                                <div class="col-md-4">
                                    <p:outputLabel for="logradouro"  value="Logradouro"/>
                                    <p:inputText id="logradouro" value="#{fornecedorMB.fornecedor.logradouro}"  />
                                </div>
                                <div class="col-md-1">
                                    <p:outputLabel for="numero" value="Número"/>
                                    <p:inputText id="numero" value="#{fornecedorMB.fornecedor.numero}" />
                                </div>
                                <div class="col-md-3">
                                    <p:outputLabel for="complemento" value="Complemento"/>
                                    <p:inputText id="complemento" value="#{fornecedorMB.fornecedor.complemento}"  />
                                </div>
                                <div class="col-md-3">
                                    <p:outputLabel for="bairro" value="Bairro"/>
                                    <p:inputText id="bairro" value="#{fornecedorMB.fornecedor.bairro}"  />
                                </div>
                                <div class="col-md-4">
                                    <p:outputLabel for="cidade" value="Cidade"/>
                                    <h:panelGrid columns="2" style="width: 100%;">
                                        <p:inputText id="cidade" value="#{fornecedorMB.cidade.nome}" styleClass="inputSearch" readonly="true" />
                                        <p:commandButton value="" icon="ui-icon-search" styleClass="btnSearch"  onclick="PF('dlgConsultaCidade').show();" actionListener="#{fornecedorMB.carregarDatatableCidade()}" update=":frmConsultarCidade"  >
                                        </p:commandButton>
                                    </h:panelGrid>
                                </div>
                                <div class="col-md-2">
                                    <p:outputLabel for="estado" value="Estado"/>
                                    <p:inputText id="estado" value="#{fornecedorMB.cidade.idEstado.sigla}"  readonly="true"/>
                                </div>
                            </div>
                        </fieldset>
                    </p:tab>
                    <p:tab title="Telefones">
                        <div class="row">
                            <div class="col-md-12">
                                <p:commandButton value="Adicionar Telefone"  icon="ui-icon-plus" onclick="PF('dlgAdicionarTelefone').show();"/>
                                <hr/>
                                <div class="col-md-6">
                                    <p:dataTable id="telefones" value="#{fornecedorMB.listaDeTelefones}" var="phones" rowIndexVar="indexPhone" emptyMessage="Nenhum telefone adicionado">
                                        <f:facet name="header">
                                            Telefones
                                        </f:facet>
                                        <p:column headerText="Operadora" >
                                            <h:outputText value="#{phones.operadora}" />
                                        </p:column>
                                        <p:column headerText="Número" >
                                            <h:outputText value="#{phones.numero}" />
                                        </p:column>
                                        <p:column width="9%" >
                                            <p:commandButton id="excTel" icon="Excluir" action="#{fornecedorMB.excluirTelefone(phones, indexPhone)}" update="telefones" immediate="true" />
                                            <pe:tooltip for="excTel" value="Clique aqui para remover este telefone!" showEffect="fadeIn" hideEffect="fadeIn"/>  
                                        </p:column>
                                    </p:dataTable>
                                </div>

                            </div>
                        </div>
                    </p:tab>
                    <p:tab title="Ultimas Compras">
                        <p:dataTable value="#{fornecedorMB.fornecedor.notaEntradaList}" var="entrada" paginator="true" rows="10"
                                     paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                     rowsPerPageTemplate="5,10,15" paginatorAlwaysVisible="false" paginatorPosition="bottom"
                                     emptyMessage="Nenhum compra até o momento">
                            <f:facet name="header">
                                Ultimas Compras
                            </f:facet>
                            <p:column headerText="NF">
                                <h:outputText value="#{entrada.numero}"  />
                            </p:column>
                            <p:column headerText="Série">
                                <h:outputText value="#{entrada.serie}"  />
                            </p:column>
                            <p:column headerText="Modelo">
                                <h:outputText value="#{entrada.idModelo.descricao}"  />
                            </p:column>
                            <p:column headerText="Data Entrada">
                                <h:outputText value="#{entrada.dtEntrada}"  >
                                    <f:convertDateTime pattern="dd/MM/yyyy" />
                                </h:outputText>
                            </p:column>
                            <p:column headerText="Data Emissao">
                                <h:outputText value="#{entrada.dtEmissao}"  >
                                    <f:convertDateTime pattern="dd/MM/yyyy" />
                                </h:outputText>
                            </p:column>
                            <p:column headerText="Chave">
                                <h:outputText value="#{entrada.chaveAcesso}"  />
                            </p:column>
                            <p:column headerText="Valor">
                                <h:outputText value="#{entrada.valortotalNF}"  >
                                    <f:convertNumber minFractionDigits="2" maxFractionDigits="2" type="currency" />
                                </h:outputText>
                            </p:column>
                        </p:dataTable>
                    </p:tab>



                </p:tabView>

            </div>
        </h:form>
    </div>


</ui:composition>