<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">
    <body>
        <ui:composition template="./../../WEB-INF/Template.xhtml">
            <ui:define name="titulo">
                <i class="icon-cart-checkout"></i> Lançamentos
            </ui:define>
            <ui:define name="descriptionpage"> 
                Nesta seção você pode fazer todos os lançamentos de entrada e saída de insumos e serviços.
            </ui:define>
            <ui:define name="breadcrumb">
                Lancamentos
            </ui:define>
            <ui:define name="content">
                <div class="col-lg-12">
                    <p:tabView id="tabs" dynamic="true" cache="true">
                        <p:tab title="Nota Fiscal de Entrada" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.financeiroContasPagar}" >
                            <div class="row">
                                <ui:include src="../NotaEntrada/index.xhtml" />
                                <ui:include src="../NotaEntrada/Pesquisar.xhtml" />
                                <ui:include src="../NotaEntrada/Lancar.xhtml" />
                                <ui:include src="../NotaEntrada/Ver.xhtml" />
                            </div>
                        </p:tab>
                        <p:tab title="Nota Fiscal de Saída" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.financeiroContasReceber}">
                            <div class="row">
                            </div>
                        </p:tab>
                    </p:tabView>
                </div>
            </ui:define>
        </ui:composition>
    </body>
</html>
