<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <div class="row">
        <h:form id="frmCadastro">
            <div class="col-md-12">
                        <p:commandButton value="Novo" immediate="true" icon="Novo"  >
                            <p:ajax update="@form, :frmCadastro" listener="#{localTrabalhoMB.novo()}"  resetValues="true"  />
                        </p:commandButton>
                        <p:commandButton  value="Salvar" action="#{localTrabalhoMB.salvar()}" update=":frmCadastro, :msg,:frmConsultar" icon="Salvar">
                            <f:param name="id_empresa" value="#{sessaoMB.usuario.idEmpresa.idEmpresa}" />
                            <f:param name="mode" value="true"/>
                        </p:commandButton>
                        <p:commandButton  value="Consultar" icon="Consultar"  update=":frmConsultar" oncomplete="PF('dlgConsulta').show()" />
                <hr/>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <p:outputLabel for="descricao" value="Descrição"  />
                        <p:inputText value="#{localTrabalhoMB.localTrabalho.descricao}" id="descricao" required="true" requiredMessage="Descrição é obrigatória!" />
                    </div>
                    <div class="col-md-6">
                        <p:outputLabel for="ccusto" value="Centro de Custo"  />
                        <p:selectOneMenu value="#{localTrabalhoMB.localTrabalho.idCentroCusto}" id="ccusto" required="true" requiredMessage="Centro de Custo é obrigatória!" converter="Converter" filter="true" filterMatchMode="Contains" var="centrocusto" styleClass="form-control" >
                            <f:selectItem itemLabel="Selecione o Centro de Custo" itemValue=""/>
                            <f:selectItems value="#{centroCustoMB.listarCentroCusto()}" var="ccus"
                                           itemLabel="#{ccus.descricao} - #{ccus.idCliente.nome}" itemValue="#{ccus}" />
                            <p:column>
                                <h:outputText value="#{centrocusto.idCliente.nome}"/>
                            </p:column>
                            <p:column>
                                <h:outputText value="#{centrocusto.descricao}"/>
                            </p:column>
                        </p:selectOneMenu>
                    </div>
                </div>
            </div>
        </h:form>
    </div>
</ui:composition>