<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <p:dialog widgetVar="dlgConsulta" modal="true" header="Consulta de Sub Grupos" width="80%" resizable="false" position="center top" >
        <p:messages id="msg2" closable="true"/>
        <h:form id="frmConsultar">
            <p:contextMenu for="subGrupos" >
                <p:menuitem value="Editar"  icon="Editar" oncomplete="PF('dlgConsulta').hide()"  update=":frmCadastro"  />
                <p:menuitem value="Excluir" update="@form,:msg2" icon="Excluir" actionListener="#{subGrupoMB.excluir()}"/>
            </p:contextMenu>

            <p:dataTable id="subGrupos" value="#{subGrupoMB.listarSubGrupos()}" var="subGrupo" paginator="true" rows="15" paginatorAlwaysVisible="false" 
                         paginatorPosition="bottom" emptyMessage="Nenhum registro encontrado!"
                         rowKey="#{subGrupo.idSubgrupo}" selection="#{subGrupoMB.subGrupo}" selectionMode="single">
                <f:facet name="header">
                    Grupos
                </f:facet>
                <f:facet name="footer">
                    #{subGrupoMB.listarSubGrupos().size()} Registros encontrados.
                </f:facet>

                <p:column headerText="Código" filterBy="#{subGrupo.idSubgrupo}" width="8%" sortBy="#{subGrupo.idSubgrupo}">
                    <center>
                        <h:outputText value="#{subGrupo.idSubgrupo}" />
                    </center>
                </p:column>
                <p:column headerText="Descrição" filterBy="#{subGrupo.descricao}" width="20%" sortBy="#{subGrupo.descricao}">
                    <h:outputText value="#{subGrupo.descricao}" />
                </p:column>
                <p:column headerText="Grupo" filterBy="#{subGrupo.idGrupo.descricao}" width="20%" sortBy="#{subGrupo.idGrupo.descricao}">
                    <h:outputText value="#{subGrupo.idGrupo.descricao}" />
                </p:column>
            </p:dataTable>
        </h:form>
    </p:dialog>
</ui:composition>