<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

    <body>

        <ui:composition template="./../../WEB-INF/Template.xhtml">

            <ui:define name="titulo">
                Cadastro de Plano de Contas
            </ui:define>

            <ui:define name="descriptionpage">
                Nesta seção você pode cadastrar os planos de conta.
            </ui:define>

            <ui:define name="breadcrumb">
                Cadastro de Plano de Contas
            </ui:define>

            <ui:define name="content">
                <div class="col-md-12">
                    <p:panel header="Cadastro de Plano de Contas" id="conteudo">
                    <div class="row">
                        <h:form id="frmCadastro">
                            <div class="col-md-12">
                                        <p:commandButton value="Novo" immediate="true" icon="Novo"  >
                                            <p:ajax update="@form, :frmCadastro" listener="#{planoContasMB.novo()}"  resetValues="true"  />
                                        </p:commandButton>
                                        <p:commandButton  value="Salvar" action="#{planoContasMB.salvar()}" update=":frmCadastro, :msg,:frmConsultar" icon="Salvar">
                                            <f:param name="id_empresa" value="#{sessaoMB.usuario.idEmpresa.idEmpresa}"  />
                                            <f:param name="mode" value="true"  />
                                        </p:commandButton>
                                        <p:commandButton  value="Consultar" icon="Consultar"  update=":frmConsultar"  oncomplete="PF('dlgConsulta').show()" />
                                <hr/>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-2">
                                        <p:outputLabel for="tipo" value="Tipo" />
                                        <p:selectOneMenu value="#{planoContasMB.planoContas.tipo}" id="tipo" styleClass="form-control"  required="#{param['mode']}" requiredMessage="Tipo é obrigatório!">
                                            <f:selectItem  itemLabel="Selecione" itemValue="" />
                                            <f:selectItem id="analitic" itemLabel="Analítica" itemValue="A"  />
                                            <f:selectItem id="sintetic" itemLabel="Sintetica" itemValue="S" />
                                            <p:ajax event="change" update="agrup" />
                                        </p:selectOneMenu>
                                    </div>
                                    <div class="col-md-2">
                                        <p:outputLabel for="creddeb" value="Crédito / Débito" />
                                        <p:selectOneMenu value="#{planoContasMB.planoContas.creditodebito}" id="creddeb" styleClass="form-control"  >
                                            <f:selectItem  itemLabel="Selecione" itemValue="" />
                                            <f:selectItem  itemLabel="Crédito" itemValue="C"  />
                                            <f:selectItem  itemLabel="Débito" itemValue="D" />
                                        </p:selectOneMenu>
                                    </div>
                                    <div class="col-md-3">
                                        <p:outputLabel for="desc" value="Descrição" />
                                        <p:inputText id="desc" value="#{planoContasMB.planoContas.descricao}" required="#{param['mode']}" requiredMessage="Descrição é obrigatório!" />
                                    </div>
                                    <div class="col-md-3">
                                        <p:outputLabel for="contaRef" value="Conta Sintética Referente" />
                                        <p:selectOneMenu id="contaRef" value="#{planoContasMB.planoContas.idPlanoContasReferente}"  converter="Converter"  styleClass="form-control"  required="#{param['mode']}" requiredMessage="Conta referente é obrigatório!" filter="true" filterMatchMode="contains" var="pcx">
                                            <f:selectItem itemLabel="Selecione a conta referente!" itemValue="" />
                                            <f:selectItems value="#{planoContasMB.listarPlanosDeContaSintetica()}" var="pcs"
                                                           itemLabel="#{pcs.codigo} - #{pcs.descricao}" itemValue="#{pcs}" />
                                            <p:column>
                                                <h:outputText value="#{pcx.codigo}" />
                                            </p:column>
                                            <p:column>
                                                <h:outputText value="#{pcx.descricao}" />
                                            </p:column>
                                            <p:column>
                                                <h:outputText value="#{pcx.tipo}" />
                                            </p:column>
                                            <p:ajax event="change"  listener="#{planoContasMB.setaProximaCodigo()}" update="cod" />
                                        </p:selectOneMenu>
                                    </div>
                                    <div class="col-md-2">
                                        <p:outputLabel for="cod" value="Código" />
                                        <h:panelGrid columns="2">
                                            <p:inputText id="cod" value="#{planoContasMB.planoContas.codigo}" required="#{param['mode']}" requiredMessage="Código é obrigatório!" maxlength="10"/>
                                        </h:panelGrid>
                                    </div>
                                    <div class="col-md-4">
                                        <p:outputLabel for="agrup" value="Agrupamento" />
                                        <p:selectOneMenu value="#{planoContasMB.planoContas.idAgrupamento}" 
                                                         converter="Converter" filter="true" filterMatchMode="contains" disabled="#{planoContasMB.planoContas.tipo=='S'}"
                                                         id="agrup" styleClass="form-control"  required="#{param['mode']}"  requiredMessage="Informe o agrupamento!" >
                                            <f:selectItem  itemLabel="Selecione" itemValue="" />
                                            <f:selectItems value="#{agrupamentoMB.listaAgrupamentos()}" var="agr"
                                                           itemLabel="#{agr.descricao}" itemValue="#{agr}"  />
                                        </p:selectOneMenu>
                                    </div>
                                    <div class="col-md-12">
                                        <hr/>
                                        <span style="color:red">Sintética: </span><span>São contas pai, que não geram movimentação!</span>
                                        <br/>
                                        <span style="color: blue">Analítica: </span><span>São contas que geram a movimentação por si mesma! </span>
                                    </div>
                                </div>
                            </div>
                        </h:form>
                    </div>

                    <p:dialog widgetVar="dlgConsulta"  header="Consulta de Plano de Contas" width="60%" resizable="false" position="center top " modal="true">
                        <p:messages id="msg2" closable="true"/>
                        <h:form id="frmConsultar">
                            <p:contextMenu for="planos" >
                                <p:menuitem value="Editar"  icon="Editar" oncomplete="PF('dlgConsulta').hide()"  update=":frmCadastro"   >
                                    <f:param name="mode" value="false" />
                                </p:menuitem>
                                <p:menuitem value="Excluir" update="@form,:msg2" icon="Excluir" actionListener="#{planoContasMB.excluir}"/>
                            </p:contextMenu>
                            <p:dataTable id="planos" value="#{planoContasMB.listarPlanosDeConta()}" var="plans" paginator="true" rows="10"
                                         paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                         rowsPerPageTemplate="5,10,15" paginatorAlwaysVisible="false" paginatorPosition="bottom"
                                         emptyMessage="Nenhum fornecedor encontrado"  rowKey="#{plans.idPlanoContas}" 
                                         selection="#{planoContasMB.planoContas}" selectionMode="single">
                                <f:facet name="header">
                                    Consulta de Planos de Contas
                                </f:facet>
                                <p:column headerText="Tipo" filterBy="#{plans.tipo}" width="20%" >
                                    <center><h:outputText value="#{plans.tipo=='S'?'Sintética':'Analítica'}" /></center>
                                </p:column>
                                <p:column headerText="Descrição" filterBy="#{plans.descricao}" width="30%" >
                                    <center><h:outputText value="#{plans.descricao}" /></center>
                                </p:column>
                                <p:column headerText="Código" filterBy="#{plans.codigo}" filterMatchMode="contains" width="50%" >
                                    <center><h:outputText value="#{plans.codigo}" /></center>
                                </p:column>
                            </p:dataTable>


                        </h:form>
                    </p:dialog>
                </p:panel>
                </div>
                
            </ui:define>

        </ui:composition>

    </body>
</html>
