<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

    <body>

        <ui:composition template="./../WEB-INF/Template.xhtml">

            <ui:define name="titulo">
                MSC - Inicio
            </ui:define>

            <ui:define name="descriptionpage">
                Dashboard
            </ui:define>

            <ui:define name="breadcrumb">
                Dashboard
            </ui:define>

            <ui:define name="content">
                <p:panel header="Dashboard" >
                    <div class="row">
                        <div class="col-md-6">
                            <p:chart type="bar" model="#{dashboardMB.animatedModel2}"   />
                        </div>
                    </div>
                </p:panel>
            </ui:define>

        </ui:composition>

    </body>
</html>
