<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="datatableExport"  required="true"/>
        <cc:attribute name="fileName" default="table" />
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <p:spacer/>
        <p:spacer/>
        <p:spacer/>
        <h:commandLink title="Exportar para Excel">
            <p:graphicImage name="/icons/Excel.png" />
            <p:dataExporter type="xls" target="#{cc.attrs.datatableExport}" fileName="#{cc.attrs.fileName}"  />
        </h:commandLink>
        <p:spacer/>
        <p:spacer/>
        <p:spacer/>
        <h:commandLink title="Exportar para XML" >
            <p:graphicImage name="/icons/XML.png" />
            <p:dataExporter type="xml" target="#{cc.attrs.datatableExport}" fileName="#{cc.attrs.fileName}"/>
        </h:commandLink>
        <p:spacer/>
        <p:spacer/>
        <p:spacer/>
        <h:commandLink title="Exportar para PDF" >
            <p:graphicImage name="/icons/Pdf.png" />
            <p:dataExporter type="pdf" target="#{cc.attrs.datatableExport}" fileName="#{cc.attrs.fileName}"  />
        </h:commandLink>
    </cc:implementation>
</html>