<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="color" shortDescription="use as cores dos css tipo (red, blue, #f8591e)" />
        <cc:attribute name="icon" shortDescription="use os icones do font-awesome" />
        <cc:attribute name="titulo"  />
        <cc:attribute name="value"  />
        <cc:attribute name="valueMoney" />
        <cc:attribute name="valueDate" />
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <style>
            .boxBcr{
                height: 120px;
                width: 100%;

                color: white !important;
                border-radius: 5px !important;
                border-top: 4px solid #000;
                border-top-left-radius: 0px !important;
                border-top-right-radius: 0px !important;
            }
            .boxBcr .tit{
                font-size: 15px;
                font-weight: bolder;
            }
            .boxBcr .tit2{
                font-size: 20px;
                font-weight: bolder;
            }
          
        </style>

        <div class="boxBcr" style="background-color: #{cc.attrs.color};" >
            <div class="icone" style="padding-top: 10px;">
                <center><i class="fa #{cc.attrs.icon}" style="font-size: 25px;"></i></center>
            </div>
            <div class="Titulo">
                <center><span class="tit">#{cc.attrs.titulo}</span></center>
            </div>
            <div class="conteudoWid">
                <center>
                    <span class="tit2">
                        <h:outputText value="#{cc.attrs.value}" />
                        <h:outputText value="#{cc.attrs.valueMoney}" >
                            <f:convertNumber type="currency" minFractionDigits="2" maxFractionDigits="2" />
                        </h:outputText>
                        <h:outputText value="#{cc.attrs.valueDate}" >
                            <f:convertDateTime pattern="dd/MM/yyyy"/>
                        </h:outputText>
                    </span>
                </center>
            </div>
        </div>
    </cc:implementation>
</html>