<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">
    <h:head>
        <title>MSC - #{sessaoMB.usuario.idEmpresa.nomeFantasia}</title>
        <link rel = "icon" href = "#{resource['images/Logo_Ico.ico']}" type = "image/x-icon" />
        <link rel = "shortcut icon" href = "#{resource['images/Logo_Ico.ico']}" type = "image/x-icon" />
        <!-- CSS -->
        <h:outputStylesheet name="css/bootstrap.min.css" />
        <h:outputStylesheet name="css/font-awesome.min.css" />
        <h:outputStylesheet name="css/style.css" />
        <h:outputStylesheet name="css/styles.css" />
        <h:outputStylesheet name="css/icons.css" />
        <h:outputStylesheet name="css/colapse-horizontal.css" />
        <h:outputStylesheet name="icons/icons.css"/>
        <!-- JS -->
        <h:outputScript name="js/plugins/interface/daterangepicker.js" />
        <h:outputScript name="js/plugins/interface/moment.js" />
        <h:outputScript name="js/plugins/interface/jgrowl.min.js" />
        <h:outputScript name="js/bootstrap.min.js" />
        <h:outputScript name="js/application_blank.js" />

        <script>
            PrimeFaces.locales['pt'] = {  
                closeText: 'Fechar',  
                prevText: 'Anterior',  
                nextText: 'Próximo',  
                currentText: 'Começo',  
                monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],  
                monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun', 'Jul','Ago','Set','Out','Nov','Dez'],  
                dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],  
                dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb'],  
                dayNamesMin: ['D','S','T','Q','Q','S','S'],  
                weekHeader: 'Semana',  
                firstDay: 1,  
                isRTL: false,  
                showMonthAfterYear: false,  
                yearSuffix: '',  
                timeOnlyTitle: 'Só Horas',  
                timeText: 'Tempo',  
                hourText: 'Hora',  
                minuteText: 'Minuto',  
                secondText: 'Segundo',  
                currentText: 'Data Atual',  
                ampm: false,  
                month: 'Mês',  
                week: 'Semana',  
                day: 'Dia',  
                allDayText : 'Todo Dia'  
            };  
        </script>



    </h:head>
    <h:body styleClass="sidebar-narrow">
        <style>
            .navbar-inverse{
                background-color:#{sessaoMB.usuario.idEmpresa.idParametrizacao.corTopo} !important;
            }
            .ui-widget-header{
                background: #{sessaoMB.usuario.idEmpresa.idParametrizacao.corBarras} !important;
            }
            .sidebar{
                background-color: #{sessaoMB.usuario.idEmpresa.idParametrizacao.corLateral} !important;
            }
            .sidebar-narrow .navigation > li > ul{
                background-color: #{sessaoMB.usuario.idEmpresa.idParametrizacao.corLateral} !important;
            }
            .user-menu > a{
                background: #{sessaoMB.usuario.idEmpresa.idParametrizacao.corLateral} url(../images/interface/nav_arrow_right.png) no-repeat 220px !important;
            }

        </style>
        <div class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header" style="margin-left: 7px !important;">
                <a class="navbar-brand" href="#" style="padding-top: 10px !important; ">
                    <p:graphicImage name="images/LOGO_.png" width="40" height="36" style="margin-right: 10px !important;" />
                    #{sessaoMB.usuario.idEmpresa.nomeFantasia}
                </a>                
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-icons">
                    <span class="sr-only">Toggle navbar</span>
                    <i class="icon-grid3"></i>
                </button>
                <button type="button" class="navbar-toggle offcanvas">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="icon-paragraph-justify2"></i>
                </button>
            </div>
            <ul class="nav navbar-nav navbar-right collapse" id="navbar-icons">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" title="Contas á Pagar"> 
                        <i class="icon-tag5"></i>
                        <span class="label label-danger">
                            <h:form id="qntPagar">
                                <h:outputText  value="#{pagamentoMB.listarContasVencendoHoje().size()}" />
                            </h:form>
                        </span>
                    </a>
                    <div class="popup dropdown-menu dropdown-menu-right">
                        <div class="popup-header">
                            <span>Contas á Pagar</span>
                        </div>
                        <h:form>
                            <ul class="popup-messages">
                                <ui:repeat value="#{pagamentoMB.listarContasVencendoHoje()}" var="cph">
                                    <li class="unread">
                                        <a href="#">
                                            <h:graphicImage  name="images/Pagar.png" styleClass="user-face" />
                                            <strong><h:outputText value="#{cph.idFornecedor.nome}" /></strong>
                                            <span>Documento: <h:outputText value="#{cph.numDocto}" /></span><br/>
                                            <span>
                                                <h:outputText value="#{cph.valorDuplicata}" >
                                                    <f:convertNumber  type="currency" minFractionDigits="2" maxFractionDigits="2"/>
                                                </h:outputText>
                                            </span>
                                            <br/>
                                            <p:commandButton value="Pagar" styleClass="btn btn-danger"  action="#{pagamentoMB.pagar(cph)}" update="@all, :msg, :qntPagar" />
                                            <p:commandButton value="Adiar"  styleClass="btn btn-default" action="#{pagamentoMB.adiar(cph)}" update="@all, :msg, :qntPagar" />
                                        </a>
                                    </li>
                                </ui:repeat>

                            </ul>
                        </h:form>
                    </div>
                </li>  
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" title="Contas à Receber">
                        <i class="icon-coin"></i>
                        <span class="label label-success">
                            <h:form id="frmTotalVencendoHoje">
                                <h:outputText value="#{recebimentoMB.contarContasVencendoHoje()}"  />
                            </h:form>
                        </span>
                    </a>
                    <div class="popup dropdown-menu dropdown-menu-right">
                        <div class="popup-header">
                            <span>Contas á Receber</span>
                        </div>
                        <h:form>
                            <ul class="popup-messages">
                                <ui:repeat value="#{recebimentoMB.listarContasVencendoHoje()}" var="crh">
                                    <li class="unread">
                                        <a href="#">
                                            <h:graphicImage  name="images/Receber.png" styleClass="user-face" />
                                            <strong>
                                                <h:outputText value="#{crh.idCliente.nome}" />
                                            </strong>
                                            <span>
                                                Documento: <h:outputText value="#{crh.numDocto}" />
                                            </span><br/>
                                            <span>
                                                <h:outputText value="#{crh.valorDuplicata}">
                                                    <f:convertNumber type="currency" minFractionDigits="2" maxFractionDigits="2" />
                                                </h:outputText>
                                            </span>
                                            <br/>
                                            <p:commandButton value="Receber" styleClass="btn btn-success" action="#{recebimentoMB.receber(crh)}" update="@all, :msg,:frmTotalVencendoHoje " />
                                            <p:commandButton value="Adiar"  styleClass="btn btn-default"  action="#{recebimentoMB.adiar(crh)}" update="@all, :msg,:frmTotalVencendoHoje "/>
                                        </a>
                                    </li>
                                </ui:repeat>
                            </ul>
                        </h:form>
                    </div>
                </li>



                <li class="user dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <h:graphicImage name="images/User_Circle.png" />
                        <span>#{sessaoMB.usuario.nome} </span>
                        <i class="caret"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right icons-right">
                        <li><a href="#"><i class="icon-user"></i> Perfil</a></li>
                        <li><a href="#"><i class="icon-cog"></i> Configurações</a></li>
                        <li><a href="#{request.contextPath}/j_spring_security_logout" ><i class="icon-switch"></i> Sair</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="page-container">
            <div class="sidebar">
                <div class="sidebar-content">
                    <div class="user-menu dropdown">
                        <div class="popup dropdown-menu dropdown-menu-right">
                            <div class="thumbnail">
                                <div class="thumb">
                                    <h:graphicImage name="images/User_Circle.png" />
                                    <div class="thumb-options">
                                        <span>
                                            <a href="#" class="btn btn-icon btn-success"><i class="icon-pencil"></i></a>
                                            <a href="#" class="btn btn-icon btn-success"><i class="icon-remove"></i></a>
                                        </span>
                                    </div>
                                </div>

                                <div class="caption text-center">
                                    <h6>#{sessaoMB.usuario.nome} <small>#{sessaoMB.usuario.idPerfil.descricao}</small></h6>
                                </div>
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item"><i class="icon-pencil3 text-muted"></i> My posts <span class="label label-success">289</span></li>
                                <li class="list-group-item"><i class="icon-people text-muted"></i> Users online <span class="label label-danger">892</span></li>
                                <li class="list-group-item"><i class="icon-stats2 text-muted"></i> Reports <span class="label label-primary">92</span></li>
                                <li class="list-group-item"><i class="icon-stack text-muted"></i> Balance <h5 class="pull-right text-danger">$45.389</h5></li>
                            </ul>
                        </div>
                    </div>
                    <ul class="navigation">
                        <li><a href="/MSC/Restrito/index.xhtml"><span>Inicio</span> <i class="icon-home"></i></a></li>
                        <li>
                            <a href="#"><span>Cadastros</span> <i class="icon-drawer3"></i></a>
                            <ul>
                                <bcr:menuItem label="Cliente" url="/MSC/Restrito/Cliente/"  />
                                <bcr:menuItem label="Fornecedor" url="/MSC/Restrito/Fornecedor/" />
                                <bcr:subMenu label="Produto">
                                    <bcr:menuItem label="Produto" url="/MSC/Restrito/Produto/" />
                                    <bcr:subMenu label="Grupo">
                                        <bcr:menuItem label="Grupo" url="/MSC/Restrito/Grupo/" />
                                        <bcr:menuItem label="Sub-Grupo" url="/MSC/Restrito/Subgrupo/" />
                                    </bcr:subMenu>
                                    <bcr:menuItem label="Unidade" url="/MSC/Restrito/Unidade/" />
                                    <bcr:menuItem label="NCM" url="/MSC/Restrito/NCM/" />
                                    <bcr:menuItem label="Localizações" url="/MSC/Restrito/Localizacao/" />
                                </bcr:subMenu>
                                <bcr:subMenu label="Plano de Contas/Centro de Custo">
                                    <bcr:menuItem label="Plano de Contas" url="/MSC/Restrito/PlanoConta/" />
                                    <bcr:menuItem label="Agrupamento" url="/MSC/Restrito/Agrupamento/" />
                                    <bcr:menuItem label="Centro de Custo" url="/MSC/Restrito/CentroCusto/" />
                                </bcr:subMenu>
                                <bcr:subMenu label="Empresa">
                                    <bcr:menuItem label="Empresa" url="/MSC/Restrito/Empresa/" />
                                    <bcr:menuItem label="Colaborador" url="/MSC/Restrito/Colaborador/" />
                                    <bcr:menuItem label="Usuário" url="/MSC/Restrito/Usuario/" />
                                    <bcr:menuItem label="Perfil" url="/MSC/Restrito/Perfil/" />
                                    <bcr:menuItem label="Setor" url="/MSC/Restrito/Setor/" />
                                    <bcr:menuItem label="Local de Trabalho" url="/MSC/Restrito/LocalTrabalho/" />
                                </bcr:subMenu>
                                <bcr:subMenu label="Bancos">
                                    <bcr:menuItem label="Banco" url="/MSC/Restrito/Banco/" />
                                    <bcr:menuItem label="Conta Corrente" url="/MSC/Restrito/ContaCorrente/" />
                                </bcr:subMenu>
                                <bcr:subMenu label="Outros">
                                    <bcr:menuItem label="Estado" url="/MSC/Restrito/Estado/" />
                                    <bcr:menuItem label="Cidade" url="/MSC/Restrito/Cidade/" />
                                    <bcr:menuItem label="Forma de pagamento" url="/MSC/Restrito/FormaPagamento/" />
                                </bcr:subMenu>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><span>Logística</span> <i class="icon-cart-checkout"></i></a>
                            <ul>
                                <bcr:menuItem label="Requisição" url="/MSC/Restrito/Requisicao"  />
                                <bcr:menuItem label="Compras" url="/MSC/Restrito/Compras"  />
                                <bcr:menuItem label="Lançamentos" url="/MSC/Restrito/Lancamentos"  />
                            </ul>
                        </li>
                        <bcr:menuItemSingle url="/MSC/Restrito/Financeiro" icon="icon-coin" title="Financeiro" />
                        <bcr:menuItemSingle url="/MSC/Restrito/GestaoResultado" icon="icon-stats2" title="Gestão de Resultado"  />
                        <bcr:menuItemSingle url="/MSC/Restrito/Configuracoes" icon="icon-cogs" title="Configurações"  />

                    </ul>
                    <!-- /main navigation -->
                </div>
            </div>
            <div class="page-content">

                <div class="page-header">
                    <div class="page-title">
                        <h3> <ui:insert name="titulo"></ui:insert> <small><ui:insert name="descriptionpage"></ui:insert></small></h3>
                    </div>
                    <div class="range">
                        <h:panelGrid columns="1">
                            <p:clock pattern="dd/MM/yyyy HH:mm:ss"/>
                        </h:panelGrid>
                    </div>
                </div>

                <!-- Breadcrumbs line -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="breadcrumb-line">
                            <ul class="breadcrumb">
                                <li><a href="index.html">Inicio</a></li>
                                <li class="active"><ui:insert name="breadcrumb"></ui:insert></li>
                            </ul>
                            <div class="visible-xs breadcrumb-toggle">
                                <a class="btn btn-link btn-lg btn-icon" data-toggle="collapse" data-target=".breadcrumb-buttons"><i class="icon-menu2"></i></a>
                            </div>
                            <ul class="breadcrumb-buttons collapse">
                                <p:ajaxStatus onsuccess="setTimeout(function() { $('.ui-messages').slideUp(); }, 10000); "   >
                                    <f:facet name="start">
                                        <p:graphicImage name="images/82.GIF" />
                                    </f:facet>
                                </p:ajaxStatus> 
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Default panel --> 
                <div class="row">
                    <div class="col-md-12">
                        <p:messages id="msg" closable="true"  />
                    </div>
                </div>
                <div class="row">
                    <ui:insert name="content">

                    </ui:insert>
                    <div class="col-md-12">

                    </div>
                </div>

                <!-- Footer -->
                <div class="footer clearfix">
                    <div class="pull-left">&copy; 2015. MSC by <a href="http://www.uxsolucoes.com.br" target="_blank">UX Soluções em TI</a></div>
                    <div class="pull-right icons-group">
                        Olá #{sessaoMB.usuario.nome} |
                        Perfil de: #{sessaoMB.usuario.idPerfil.descricao} |
                        Último acesso em:
                        <h:outputText value="#{sessaoMB.usuario.dtUltimoAcesso}">
                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss"/>
                        </h:outputText> |
                        Conectado em: #{sessaoMB.usuario.idEmpresa.nomeFantasia}
                    </div>
                </div>
            </div>
        </div>
    </h:body>
</html>

