<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:bcr="http://java.sun.com/jsf/composite/bcr">

    <p:dialog id="dlgPesqMovCaixa" widgetVar="dlgPesquisarCaixaMov" header="Pesquisa de Caixa" modal="true" width="50%" draggable="false" resizable="false" position="top" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.caixaPesquisar}">
        <h:form id="frmPesquisaCaixa">
            <p:messages closable="true" />
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4"  >
                    <p:outputLabel value="Empresa Referente"/><br/>
                    <p:inputText  readonly="true" value="#{caixaMB.caixa.idEmpresa.nomeFantasia}" styleClass="form-control"  />
                    <p:inputText type="hidden"  readonly="true" value="#{caixaMB.caixa.setIdEmpresa(sessaoMB.usuario.idEmpresa)}" styleClass="form-control"  >
                    </p:inputText>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4"  >
                    <p:outputLabel for="dtCaixa" value="Data do Caixa"/>
                    <p:calendar id="dtCaixa" value="#{caixaMB.caixa.dtCaixa}" required="true" requiredMessage="Informe a data do caixa!" locale="pt" showButtonPanel="true" />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4"  >
                    <p:ajaxStatus >
                        <f:facet name="start">
                            <h:outputText value="O Sistema esta calculando os caixas! Aguarde." />
                            <p:graphicImage name="images/ajax-loader.gif" />
                        </f:facet>
                    </p:ajaxStatus> 
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"  >
                    <hr/>
                    <p:commandButton value="Pesquisar" icon="Consultar" oncomplete="PF('dlgPesquisarCaixaMov').hide();"  action="#{caixaMB.pesquisaMovimentoCaixa()}" update=":msg,@form, :tabs:frmMovimentoCaixa ">
                        <f:param name="id_empresa" value="#{sessaoMB.usuario.idEmpresa.idEmpresa}" />
                    </p:commandButton>
                    <hr/>
                    <p:dataTable id="tblCaixas" value="#{caixaMB.listaCaixas(sessaoMB.usuario.idEmpresa)}" var="cxs"  paginatorPosition="bottom" paginatorAlwaysVisible="true"
                                 paginator="true" rows="10" emptyMessage="Nenhuma conta à pagar localizada!" 
                                 paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                 rowsPerPageTemplate="5,10,15,25,50,100" >
                        <p:column headerText="Data do Caixa" width="10%" style="text-align: center">
                            <h:outputText value="#{cxs.dtCaixa}">
                                <f:convertDateTime pattern="dd/MM/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column headerText="Saldo Anterior" width="10%" style="text-align: center">
                            <h:outputText value="#{cxs.saldoAnterior}">
                                <f:convertNumber type="currency" maxFractionDigits="2" minFractionDigits="2" />
                            </h:outputText>
                        </p:column>
                        <p:column headerText="Total de Entrada" width="10%" style="text-align: center">
                            <h:outputText value="#{cxs.totalEntradas}">
                                <f:convertNumber type="currency" maxFractionDigits="2" minFractionDigits="2" />
                            </h:outputText>
                        </p:column>
                        <p:column headerText="Total de Saídas" width="10%" style="text-align: center">
                            <h:outputText value="#{cxs.totalSaidas}">
                                <f:convertNumber type="currency" maxFractionDigits="2" minFractionDigits="2" />
                            </h:outputText>
                        </p:column>
                        <p:column headerText="Saldo Atual" width="10%" style="text-align: center">
                            <h:outputText value="#{cxs.saldoAtual}">
                                <f:convertNumber type="currency" maxFractionDigits="2" minFractionDigits="2" />
                            </h:outputText>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="btnRecalc" value="Recalcular Caixas" action="#{caixaMB.processarTodosCaixas(sessaoMB.usuario.idEmpresa)}"  update="@form"/>
                            <pe:tooltip for="btnRecalc" >
                                <span style="color: red; font-size: 15px; font-weight: bolder">
                                    <center>Atenção! </center> <br/>
                                    Esse procedimento pode demorar. <br/> <br/>
                                    Enquanto estiver processando não feche ou saia da página!
                                </span>
                            </pe:tooltip>
                        </f:facet>
                    </p:dataTable>
                </div>
            </div>
        </h:form>
    </p:dialog>

</ui:composition>