<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:bcr="http://java.sun.com/jsf/composite/bcr">



    <h:form id="frmMovimentoCaixa">
        <div class="col-md-12">

            <p:commandButton  value="Pesquisar" icon="Consultar"  action="#{caixaMB.processarTodosCaixas20UltimosDias(sessaoMB.usuario.idEmpresa)}" update=":tabs:frmPesquisaCaixa" onclick="PF('dlgPesquisarCaixaMov').show();" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.caixaPesquisar}" />
            <p:commandButton  value="Suprimento " icon="Suprimento "  action="#{caixaMB.novoItem()}" update=":tabs:frmSuprimento" oncomplete="PF('dlgSuprimento').show();"  rendered="#{sessaoMB.usuario.idPerfil.idAcesso.caixaSuprimento}"/>
            <p:commandButton  value="Sangria " icon="Sangria"  action="#{caixaMB.novoItem()}" update=":tabs:frmSangria"  oncomplete="PF('dlgSangria').show();" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.caixaSangria}"/>
            <p:commandButton  value="Transferencia Bancária" icon="Transferencia" action="#{caixaMB.novaTransferencia()}" update=":tabs:frmTransferenciaBancaria" oncomplete="PF('dlgTransferenciaBancaria').show();" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.caixaTransferencia}" />
            <hr/>
        </div>
        <div class="col-md-12">
            <p:contextMenu id="contextMovimento" for="dtlMovimento"  rendered="#{sessaoMB.usuario.idPerfil.idAcesso.caixaPesquisar}">
                <p:menuitem value="Ver"   icon="Info"  />
            </p:contextMenu>
            <p:dataTable id="dtlMovimento" var="movs" value="#{caixaMB.itensCaixa}"
                         selectionMode="single"  rendered="#{sessaoMB.usuario.idPerfil.idAcesso.caixaPesquisar}"
                         selection="#{caixaMB.caixaItem}" rowKey="#{movs.idCaixaItem}"
                         paginator="true" rows="10" emptyMessage="Nenhuma movimento!" 
                         paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                         rowsPerPageTemplate="5,10,15" paginatorAlwaysVisible="false" paginatorPosition="bottom">

                <f:facet name="header">
                    <h:outputText value="Listagem do Movimento de Caixa"  />
                    <h:commandLink title="Exportar para Excel">
                        <p:graphicImage name="/icons/Excel.png" />
                        <p:dataExporter type="xls" target="dtlMovimento" fileName="movimentoCaixa"  />
                    </h:commandLink>
                    <h:commandLink title="Exportar para PDF">
                        <p:graphicImage name="/icons/Pdf.png" />
                        <p:dataExporter type="pdf" target="dtlMovimento" fileName="movimentoCaixa"  />
                    </h:commandLink>
                    <h:commandLink title="Exportar para XML">
                        <p:graphicImage name="/icons/XML.png" />
                        <p:dataExporter type="xml" target="dtlMovimento" fileName="movimentoCaixa"  />
                    </h:commandLink>
                </f:facet>
                <p:column headerText="Historico" width="50%"  >
                    <h:outputText value="#{movs.historico}" />
                </p:column>
                <p:column headerText="Doc Ref." width="15%" style="text-align: center;">
                    <h:outputText value="#{movs.idContasPagar.idContasPagar != null ? movs.idContasPagar.idContasPagar : movs.idContasReceber.idContasReceber}" />
                </p:column>
                <p:column headerText="Tipo" width="5%" style="text-align: center;">
                    <h:outputText value="#{movs.tipo}" style="#{caixaMB.defineCor(movs.tipo)}"/>
                </p:column>
                <p:column headerText="Valor" width="10%" style="text-align: center;">
                    <h:outputText value="#{movs.tipo == 'C' ? movs.valor : - movs.valor}" style="#{caixaMB.defineCor(movs.tipo)}">
                        <f:convertNumber type="currency" minFractionDigits="2" maxFractionDigits="2" />
                    </h:outputText>
                </p:column>
                <f:facet name="footer">
                    Caixa do dia 
                    <h:outputText value="#{caixaMB.caixa.dtCaixa}">
                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                    </h:outputText>
                </f:facet>
            </p:dataTable>
            <hr/>
        </div>
        <h:panelGroup id="grupoFinal">
            <div class="block">
                <ul class="statistics">
                    <li>
                        <div class="statistics-info">
                            <a href="#" title="" class="bg-danger"><i class="icon-coin"></i></a>
                            <h5 >
                                <h:outputText value="#{caixaMB.caixa.saldoAnterior}" >
                                    <f:convertNumber type="currency" minFractionDigits="2" maxFractionDigits="2"/>
                                </h:outputText>

                            </h5>
                        </div>
                        <div class="progress progress-micro">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                            </div>
                        </div>
                        <span>Saldo Anterior</span>
                    </li>
                    <!--/////////////////////////////////////////////////////////////-->
                    <li>
                        <div class="statistics-info">
                            <a href="#" title="" class="bg-success"><i class="icon-coin"></i></a>
                            <h5>
                                <h:outputText value="#{caixaMB.caixa.totalEntradas}" >
                                    <f:convertNumber type="currency" minFractionDigits="2" maxFractionDigits="2"/>
                                </h:outputText>
                            </h5>
                        </div>
                        <div class="progress progress-micro">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                            </div>
                        </div>
                        <span>Total de Entradas</span>
                    </li>
                    <!--/////////////////////////////////////////////////////////////-->
                    <li>
                        <div class="statistics-info">
                            <a href="#" title="" class="bg-warning"><i class="icon-thumbs-down2"></i></a>
                            <h5>
                                <h:outputText value="#{caixaMB.caixa.totalSaidas}" >
                                    <f:convertNumber type="currency" minFractionDigits="2" maxFractionDigits="2"/>
                                </h:outputText>
                            </h5>
                        </div>
                        <div class="progress progress-micro">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                            </div>
                        </div>
                        <span>Total de Saídas</span>
                    </li>
                    <!--/////////////////////////////////////////////////////////////-->
                    <li>
                        <div class="statistics-info">
                            <a href="#" title="" class="bg-info"><i class="icon-point-up"></i></a>
                            <h5>
                                <h:outputText value="#{caixaMB.caixa.saldoAtual}" >
                                    <f:convertNumber type="currency" minFractionDigits="2" maxFractionDigits="2"/>
                                </h:outputText>
                            </h5>
                        </div>
                        <div class="progress progress-micro">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                            </div>
                        </div>
                        <span>Saldo Atual</span>
                    </li>
                </ul>
            </div>
        </h:panelGroup>

    </h:form>

    <ui:include src="Sangria.xhtml" />
    <ui:include src="Suprimento.xhtml" />
    <ui:include src="TransferenciaBancaria.xhtml" />

</ui:composition>