<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:bcr="http://java.sun.com/jsf/composite/bcr">


    <p:dialog widgetVar="dlgSangria" header="Lançamento de Sangria" modal="true" width="60%" resizable="false" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.caixaSangria}">
        <h:form id="frmSangria">
            <p:messages id="msgSangria" closable="true" />
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    <p:outputLabel for="ccDest3" value="Caixa Destino" />
                    <p:inputText id="ccDest3" value="#{caixaMB.caixa.dtCaixa}" readonly="true" >
                        <f:convertDateTime pattern="dd/MM/yyyy" />
                    </p:inputText>
                </div>
                  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <p:outputLabel for="valSang" value="Valor" />
                    <pe:inputNumber id="valSang" value="#{caixaMB.caixaItem.valor}"
                                    required="true" requiredMessage="Informe o valor!" symbol="R$ "
                                    decimalSeparator="," thousandSeparator="." />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <p:outputLabel for="historic" value="Histórico" />
                    <p:inputText id="historic" value="#{caixaMB.caixaItem.historico}" required="true" requiredMessage="Informe o histórico!" />
                </div>
              <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                    <bcr:atalhoDialogoOneMenu dialogName="dialogPlanoContas" nameWidgetVar="wvaPlano6" nameFunc="atalhoPlano6" valueToOpenDialog="Cadastrar Plano" />
                    <p:outputLabel for="planContas5" value="Plano de Contas" />
                    <p:selectOneMenu id="planContas5" value="#{caixaMB.planoContas}" converter="Converter"
                                     styleClass="form-control" filter="true" filterMatchMode="contains"  var="p6" 
                                     requiredMessage="Plano de Contas é obrigatório!" widgetVar="wvaPlano6"  onchange="atalhoPlano6(this)">
                        <f:selectItem itemLabel="Selecione o plano" itemValue="" />
                        <f:selectItems value="#{planoContasMB.listarPlanosDeConta()}" var="plans6" 
                                       itemDisabled="#{plans6.tipo=='S'}"
                                       itemLabel="#{plans6.codigo} - #{plans6.descricao} " itemValue="#{plans6}" /> 
                        <f:selectItem itemLabel="Cadastrar Plano" itemValue="cadPlan"     />
                        <p:column   >
                            <h:outputText value="#{p6.codigo}" style="#{p6.tipo=='S'? '':'font-size:15px; font-weight:bolder;'}" />
                        </p:column>
                        <p:column>
                            <h:outputText value="#{p6.descricao}" style="#{planoContasMB.retornaTamanhoString(p6.codigo)>= 4? '':'font-size:15px; font-weight:bolder;'}" />
                        </p:column>
                    </p:selectOneMenu>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                    <p:outputLabel for="observacaoSang" value="Observação" />
                    <p:inputText id="observacaoSang" value="#{caixaMB.caixaItem.observacao}"  />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                     <hr/>
                    <p:commandButton value="Confirmar" action="#{caixaMB.lancarSangria()}"  update=":tabs:frmMovimentoCaixa:dtlMovimento , :tabs:frmMovimentoCaixa,@form,:msg " oncomplete="if (!args.validationFailed){PF('dlgSangria').hide();}"  icon="Selecionar"/>
                </div>
            </div>
        </h:form>
    </p:dialog>
    

</ui:composition>