<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:bcr="http://java.sun.com/jsf/composite/bcr"
                xmlns:bnu="http://bootsfaces.net/ui">


    <p:dialog widgetVar="dlgTransferenciaBancaria" header="Transferência Bancária" modal="true" width="70%" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.caixaTransferencia}">
        <h:form id="frmTransferenciaBancaria">
            <p:messages id="msgTransferencia" closable="true" />
            <bcr:alert  Nivel="warning" Titulo="Atenção! " Descricao="Você não tem saldo suficiente para transferir." rendered="#{caixaMB.movimentacaoBancaria.valor >  caixaMB.caixa.saldoAtual}" />
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    <p:outputLabel for="ccDest" value="Caixa Origem" />
                    <p:inputText id="ccDest" value="#{caixaMB.caixa.dtCaixa}" readonly="true" >
                        <f:convertDateTime pattern="dd/MM/yyyy" />
                    </p:inputText>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-9 col-lg-9">
                    <bcr:atalhoDialogoOneMenu dialogName="dialogPlanoContas" nameWidgetVar="wvaPlano5" nameFunc="atalhoPlano5" valueToOpenDialog="Cadastrar Plano" />
                    <p:outputLabel for="planContas5" value="Plano de Contas" />
                    <p:selectOneMenu id="planContas5" value="#{caixaMB.planoContas}" converter="Converter"
                                     styleClass="form-control" filter="true" filterMatchMode="contains"  var="p5" 
                                     requiredMessage="Plano de Contas é obrigatório!" widgetVar="wvaPlano5"  onchange="atalhoPlano5(this)">
                        <f:selectItem itemLabel="Selecione o plano" itemValue="" />
                        <f:selectItems value="#{planoContasMB.listarPlanosDeConta()}" var="plans5" 
                                       itemDisabled="#{plans5.tipo=='S'}"
                                       itemLabel="#{plans5.codigo} - #{plans5.descricao} " itemValue="#{plans5}" /> 
                        <f:selectItem itemLabel="Cadastrar Plano" itemValue="cadPlan"     />
                        <p:column   >
                            <h:outputText value="#{p5.codigo}" style="#{p5.tipo=='S'? '':'font-size:15px; font-weight:bolder;'}" />
                        </p:column>
                        <p:column>
                            <h:outputText value="#{p5.descricao}" style="#{planoContasMB.retornaTamanhoString(p5.codigo)>= 4? '':'font-size:15px; font-weight:bolder;'}" />
                        </p:column>
                    </p:selectOneMenu>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <p:outputLabel for="valTransf" value="Valor" />
                    <pe:inputNumber id="valTransf" value="#{caixaMB.movimentacaoBancaria.valor}"
                                    required="true" requiredMessage="Informe o valor!" symbol="R$ "
                                    decimalSeparator="," thousandSeparator="." >
                       
                    </pe:inputNumber>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                    <p:outputLabel for="bank" value="Banco Destino" />
                    <p:selectOneMenu id="bank" value="#{caixaMB.movimentacaoBancaria.idBanco}" filter="true" filterMatchMode="contains" styleClass="form-control"
                                     var="bk" required="true" requiredMessage="Informe o banco!" converter="Converter" >
                        <f:selectItem itemLabel="Selecione um banco!" itemValue="" />
                        <f:selectItems value="#{bancoMB.listarBancos()}" var="ban"
                                       itemLabel="#{ban.idBanco} - #{ban.numeroBanco} - #{ban.nome}" itemValue="#{ban}" />
                        <p:column>
                            <h:outputText value="#{bk.idBanco}" />
                        </p:column>
                        <p:column>
                            <h:outputText value="#{bk.numeroBanco}" />
                        </p:column>
                        <p:column>
                            <h:outputText value=" #{bk.nome}" />
                        </p:column>
                        <p:ajax update="ccbank" event="change" />
                    </p:selectOneMenu>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                    <p:outputLabel for="ccbank" value="Conta Corrente Destino" />
                    <p:selectOneMenu id="ccbank" value="#{caixaMB.movimentacaoBancaria.idContaCorrente}" filter="true" filterMatchMode="contains" styleClass="form-control"
                                     var="cc" required="true" requiredMessage="Informe a conta corrente!" converter="Converter" >
                        <f:selectItem itemLabel="Selecione a conta corrente!" itemValue="" />
                        <f:selectItems value="#{caixaMB.movimentacaoBancaria.idBanco.contaCorrenteList}" var="con"
                                       itemLabel="#{con.numAgencia} - #{con.numConta} - #{con.gestor}" itemValue="#{con}" />
                        <p:column>
                            <h:outputText value="#{cc.numAgencia}" />
                        </p:column>
                        <p:column>
                            <h:outputText value="#{cc.numConta}" />
                        </p:column>
                        <p:column>
                            <h:outputText value=" #{cc.gestor}" />
                        </p:column>
                    </p:selectOneMenu>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p:outputLabel for="observacao" value="Observação" />
                    <p:inputText id="observacao" value="#{caixaMB.movimentacaoBancaria.observacao}"  />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p:outputLabel for="Historico" value="Histórico" />
                    <p:inputText id="Historico" value="#{caixaMB.movimentacaoBancaria.historico}" required="true" requiredMessage="Informe o histórico dessa transferencia!"  />
                    <hr/>
                    <p:commandButton id="btnConfirmarTransf" 
                                     value="Confirmar" action="#{caixaMB.lancarTransferencia()}"  update="@form,:msg, :tabs:frmMovimentoCaixa:dtlMovimento" oncomplete="if (!args.validationFailed){PF('dlgTransferenciaBancaria').hide();}"  icon="Selecionar">
                        <f:param name="id_empresa" value="#{sessaoMB.usuario.idEmpresa.idEmpresa}" />
                    </p:commandButton>
                </div>

            </div>
        </h:form>
    </p:dialog>


</ui:composition>