<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:bcr="http://java.sun.com/jsf/composite/bcr">


    <p:dialog widgetVar="dlgTransferenciaBancaria2" modal="true" position="top" header="Transferência de Banco para Banco" width="80%" rendered="#{sessaoMB.usuario.idPerfil.idAcesso.bancoTransferencia}">
        <h:form id="frmTransferenciaBancaria2">
            <p:messages closable="true" />
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"  >
                    <p:outputLabel for="dtTransf" value="Data da Transferência"  />
                    <p:calendar id="dtTransf" locale="pt" value="#{movimentacaoBancariaMB.movimentacaoBancaria.dtMovimentacaoBancariaItem}"  required="true" requiredMessage="Informe a data do depósito!"/>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"  >
                    <p:outputLabel for="vlrTransferencia" value="Valor da Transferência" />
                    <pe:inputNumber id="vlrTransferencia" value="#{movimentacaoBancariaMB.movimentacaoBancaria.valor}" symbol="R$ "   
                                    decimalSeparator="," thousandSeparator="." required="true" requiredMessage="Informe o valor do depósito!">  
                    </pe:inputNumber> 
                </div>
                <div class="col-xs-12  col-sm-12 col-md-6 col-lg-6">
                    <bcr:atalhoDialogoOneMenu dialogName="dialogPlanoContas" nameWidgetVar="wvaPlano9" nameFunc="atalhoPlano9" valueToOpenDialog="Cadastrar Plano" />
                    <p:outputLabel for="planContas9" value="Plano de Contas" />
                    <p:selectOneMenu id="planContas9" value="#{movimentacaoBancariaMB.movimentacaoBancaria.idPlanoContas}" converter="Converter"
                                     styleClass="form-control" filter="true" filterMatchMode="contains"  var="p9"  required="true" 
                                     requiredMessage="Plano de Contas é obrigatório!" widgetVar="wvaPlano9"  onchange="atalhoPlano9(this)">
                        <f:selectItem itemLabel="Selecione o plano" itemValue="" />
                        <f:selectItems value="#{planoContasMB.listarPlanosDeConta()}" var="plans9" 
                                       itemDisabled="#{plans9.tipo=='S'}"
                                       itemLabel="#{plans9.codigo} - #{plans9.descricao} " itemValue="#{plans9}" /> 
                        <f:selectItem itemLabel="Cadastrar Plano" itemValue="cadPlan"     />
                        <p:column   >
                            <h:outputText value="#{p9.codigo}" style="#{p9.tipo=='S'? '':'font-size:15px; font-weight:bolder;'}" />
                        </p:column>
                        <p:column>
                            <h:outputText value="#{p9.descricao}" style="#{p9.tipo=='S' ? '':'font-size:15px; font-weight:bolder;'}" />
                        </p:column>
                    </p:selectOneMenu>
                </div>
            </div>
            <div class="row">
                
            </div>
            <div class="row">
                <div class="col-xs-12  col-sm-12 col-md-6 col-lg-6">
                    <p:outputLabel for="HistDeposito" value="Histórico" />
                    <p:inputText id="HistDeposito" value="#{movimentacaoBancariaMB.movimentacaoBancaria.historico}" required="true" requiredMessage="Informe o histórico!" />
                </div>
                <div class="col-xs-12  col-sm-12 col-md-6 col-lg-6">
                    <p:outputLabel for="obsDeposito" value="Observação" />
                    <p:inputText id="obsDeposito" value="#{movimentacaoBancariaMB.movimentacaoBancaria.observacao}" />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                    <p:outputLabel for="bank" value="Banco Destino" />
                    <p:selectOneMenu id="bank" value="#{movimentacaoBancariaMB.bancoDestino}" filter="true" filterMatchMode="contains" styleClass="form-control"
                                     var="bk" required="true" requiredMessage="Informe o banco!" converter="Converter" >
                        <f:selectItem itemLabel="Selecione um banco!" itemValue="" />
                        <f:selectItems value="#{bancoMB.listarBancos()}" var="ban"
                                       itemLabel="#{ban.idBanco} - #{ban.numeroBanco} - #{ban.nome}" itemValue="#{ban}" />
                        <p:column>
                            <h:outputText value="#{bk.idBanco}" />
                        </p:column>
                        <p:column>
                            <h:outputText value="#{bk.numeroBanco}" />
                        </p:column>
                        <p:column>
                            <h:outputText value=" #{bk.nome}" />
                        </p:column>
                        <p:ajax update="ccbank" event="change" />
                    </p:selectOneMenu>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                    <p:outputLabel for="ccbank" value="Conta Corrente Destino" />
                    <p:selectOneMenu id="ccbank" value="#{movimentacaoBancariaMB.contaCorrenteDestino}" filter="true" filterMatchMode="contains" styleClass="form-control"
                                     var="cc" required="true" requiredMessage="Informe a conta corrente!" converter="Converter" >
                        <f:selectItem itemLabel="Selecione a conta corrente!" itemValue="" />
                        <f:selectItems value="#{movimentacaoBancariaMB.bancoDestino.contaCorrenteList}" var="con"
                                       itemLabel="#{con.numAgencia} - #{con.numConta} - #{con.gestor}" itemValue="#{con}" />
                        <p:column>
                            <h:outputText value="#{cc.numAgencia}" />
                        </p:column>
                        <p:column>
                            <h:outputText value="#{cc.numConta}" />
                        </p:column>
                        <p:column>
                            <h:outputText value=" #{cc.gestor}" />
                        </p:column>
                    </p:selectOneMenu>
                </div>
            </div>
            <div class="col-xs-12  col-sm-12 col-md-12 col-lg-12">
                <hr/>
            </div>
            <div class="col-xs-12  col-sm-12 col-md-4 col-lg-4">
                <p:commandButton value="Confirmar" action="#{movimentacaoBancariaMB.transferirEntreBancos()}" update="@form, :msg, :tabs:frmMovimentoBancario:dtlMovimentoBancario" oncomplete="if (!args.validationFailed ) PF('dlgTransferenciaBancaria2').hide();"  >
                    <f:param name="id_empresa" value="#{sessaoMB.usuario.idEmpresa.idEmpresa}" />
                </p:commandButton>
            </div>
        </h:form>
    </p:dialog>



</ui:composition>