<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <p:dialog widgetVar="dlgConsulta" modal="true" header="Consulta de Cartões" width="80%" resizable="false" position="center top" >
        <p:messages id="msg2" closable="true"/>
        <h:form id="frmConsultar">
            <p:contextMenu for="cartao" >
                <p:menuitem value="Editar"  icon="Editar" oncomplete="PF('dlgConsulta').hide()"  update=":frmCadastro"  />
                <p:menuitem value="Excluir" update="@form,:msg2" icon="Excluir" actionListener="#{cartaoMB.excluir()}"/>
            </p:contextMenu>

            <p:dataTable id="cartao" value="#{cartaoMB.listarCartoes()}" var="cartao" paginator="true" rows="15" paginatorAlwaysVisible="false" 
                         paginatorPosition="bottom" emptyMessage="Nenhum registro encontrado!"
                         rowKey="#{cartao.idCartao}" selection="#{cartaoMB.cartao}" selectionMode="single">
                <f:facet name="header">
                    Cartão
                </f:facet>
                <f:facet name="footer">
                    #{cartaoMB.listarCartoes().size()} Registros encontrados.
                </f:facet>

                <p:column headerText="Código" filterBy="#{cartao.idCartao}" width="8%" sortBy="#{cartao.idCartao}">
                    <center>
                        <h:outputText value="#{cartao.idCartao}" />
                    </center>
                </p:column>
                <p:column headerText="Descrição" filterBy="#{cartao.descricao}" width="20%" sortBy="#{cartao.descricao}">
                    <h:outputText value="#{cartao.descricao}" />
                </p:column>
                <p:column headerText="Tipo" filterBy="#{cartao.tipo}" width="20%" sortBy="#{cartao.tipo}">
                    <h:outputText value="#{cartao.tipo}" />
                </p:column>
                <p:column headerText="Banco" filterBy="#{cartao.idBanco.nome}" width="20%" sortBy="#{cartao.idBanco.nome}">
                    <h:outputText value="#{cartao.idBanco.nome}" />
                </p:column>
                
            </p:dataTable>
        </h:form>
    </p:dialog>
</ui:composition>