<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">
    <div class="row">

        <h:form id="frmCadastro">
            <div class="col-md-12">
                        <p:commandButton value="Novo" immediate="true" icon="Novo"  >
                            <p:ajax update="@form, :frmCadastro" listener="#{estadoMB.novo()}"  resetValues="true" />
                        </p:commandButton>
                        <p:commandButton  value="Salvar" action="#{estadoMB.salvar()}" update=":frmCadastro, :msg" icon="Salvar"/>
                        <p:commandButton  value="Consultar" icon="Consultar"  oncomplete="PF('dlgConsulta').show()" update=":frmConsultar"/>
                <hr/>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <p:outputLabel for="nome" value="Nome" />
                        <p:inputText id="nome"  value="#{estadoMB.estado.nome}"  required="true" requiredMessage="Nome é obrigatório!" placeholder="Ex: São Paulo, Minas Gerais" />
                    </div>
                    <div class="col-md-2">
                        <p:outputLabel for="sigla" value="Sigla" />
                        <p:inputText id="sigla" value="#{estadoMB.estado.sigla}" maxlength="2" placeholder="Ex: SP,MG" required="true" requiredMessage="Sigla é obrigatório!" />
                    </div>
                    <div class="col-md-3">
                        <p:outputLabel for="regiao" value="Região" />
                        <p:inputText id="regiao"  value="#{estadoMB.estado.regiao}"  />
                    </div>
                    <div class="col-md-3">
                        <p:outputLabel for="subRegiao" value="Sub Região" />
                        <p:inputText id="subRegiao"   value="#{estadoMB.estado.subRegiao}"  />
                    </div>
                </div>
            </div>
        </h:form>
    </div>
</ui:composition>