<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:bcr="http://java.sun.com/jsf/composite/bcr">


    <p:dialog  header="Lançar Cheque" widgetVar="dlgLancarCheque" modal="true" width="80%" height="80%" resizable="false" position="top"  
               closeOnEscape="true">
        <p:ajax event="close" />
        <h:form id="frmLancarCheque" style="overflow:scroll; height: 100%; ">
            <div class="block" style="margin-bottom: 10px !important">
                <ul class="statistics">
                    <li>
                        <div class="statistics-info">
                            <a href="#" title="" class="bg-info"><i class="icon-coin"></i></a>
                            <h5 >
                                <h:outputText value="#{chequeMB.widgetValorTotal}">
                                    <f:convertNumber type="currency" minFractionDigits="2" maxFractionDigits="2" />
                                </h:outputText>
                            </h5>
                        </div>
                        <div class="progress progress-micro">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                            </div>
                        </div>
                        <span>Saldo Total a Pagar</span>
                    </li>
                    <!--/////////////////////////////////////////////////////////////-->
                    <li>
                        <div class="statistics-info">
                            <a href="#" title="" class="bg-success"><i class="icon-coin"></i></a>
                            <h5>
                                <h:outputText value="#{chequeMB.widgetValorPago}">
                                    <f:convertNumber type="currency" minFractionDigits="2" maxFractionDigits="2" />
                                </h:outputText>
                            </h5>
                        </div>
                        <div class="progress progress-micro">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                            </div>
                        </div>
                        <span>Saldo Pago</span>
                    </li>
                    <!--/////////////////////////////////////////////////////////////-->
                    <li>
                        <div class="statistics-info">
                            <a href="#" title="" class="bg-danger"><i class="icon-coin"></i></a>
                            <h5>
                                <h:outputText value="#{chequeMB.widgetValorRestante}">
                                    <f:convertNumber type="currency" minFractionDigits="2" maxFractionDigits="2" />
                                </h:outputText>
                            </h5>
                        </div>
                        <div class="progress progress-micro">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                            </div>
                        </div>
                        <span>Saldo Restante a Pagar</span>
                    </li>
                    <!--/////////////////////////////////////////////////////////////-->
                    <li>
                        <div class="statistics-info">
                            <a href="#" title="" class="bg-info"><i class="icon-numbered-list"></i></a>
                            <h5>
                                #{chequeMB.listaCheque.size()}
                            </h5>
                        </div>
                        <div class="progress progress-micro">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                            </div>
                        </div>
                        <span>Nº de Cheques Lançados</span>
                    </li>
                </ul>
            </div>
            <p:messages id="msg2" closable="true" showDetail="true" />
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                <hr/>
                <div class="row" id="rwEmitente">
                    <div class="col-xs-6 col-sm-2 col-md-3 col-lg-2" >
                        <p:outputLabel for="numContasPagar" value="ID Conta" />
                        <p:inputText value="#{chequeMB.cheque.idContasPagar.idContasPagar}" disabled="true" readonly="true" id="numContasPagar"  />
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" >
                        <p:outputLabel for="fornecedor" value="Fornecedor" />
                        <p:inputText value="#{chequeMB.cheque.idFornecedor.nome}" disabled="true" readonly="true" id="fornecedor"  />
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-4" >
                        <p:outputLabel for="planoContas" value="Plano de Contas" />
                        <p:inputText value="#{chequeMB.cheque.idContasPagar.idPlanoContas.descricao}" disabled="true" readonly="true" id="planoContas"  />
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2" >
                        <p:outputLabel for="valorTotal" value="Valor Total" />
                        <pe:inputNumber id="valorTotal" symbol="R$ " value="#{chequeMB.cheque.idContasPagar.valorDuplicata}" 
                                        decimalSeparator="," thousandSeparator="." readOnly="true" disabled="true"/>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-xs-6 col-sm-2 col-md-3 col-lg-2" >
                        <p:outputLabel for="numCheque" value="Nº Cheque" />
                        <p:inputText value="#{chequeMB.cheque.numeroCheque}" id="numCheque"  />
                    </div>
                    <div class="col-xs-6 col-sm-5 col-md-3 col-lg-4" >
                        <p:outputLabel for="contaCorrente" value="Conta Corrente" />
                        <p:selectOneMenu id="contaCorrente"  value="#{chequeMB.cheque.idContaCorrente}" styleClass="form-control" filter="true" 
                                         converter="Converter" effect="fade" var="conta"
                                         filterMatchMode="contains" >
                            <f:selectItem itemLabel="Selecione a Conta Corrente" itemValue=""/>
                            <f:selectItems  value="#{contaCorrenteMB.listarContaCorrente()}" var="ccorrente"
                                            itemLabel="#{ccorrente.idContaCorrente} - #{ccorrente.idBanco.nome} - #{ccorrente.numConta}"  />
                            <p:column>
                                <h:outputText value="#{conta.idContaCorrente}" />
                            </p:column>
                            <p:column>
                                <h:outputText value="#{conta.idBanco.nome}" />
                            </p:column>
                            <p:column>
                                <h:outputText value="#{conta.numConta}" />
                            </p:column>
                        </p:selectOneMenu>
                    </div>
                    <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4" >
                        <p:outputLabel for="colaborador" value="Colaborador" />
                        <p:selectOneMenu id="colaborador" filter="true" filterMatchMode="contains"  converter="Converter" effect="fade"
                                         styleClass="form-control"
                                         value="#{chequeMB.cheque.idColaborador}" var="cola" >
                            <f:selectItem itemLabel="Selecione o colaborador" itemValue="" />
                            <f:selectItems value="#{colaboradorMB.listarColaboradores()}" var="col"
                                           itemLabel="#{col.idColaborador} - #{col.nome}  - #{col.cpf}" />
                            <p:column>
                                <h:outputText value="#{cola.idColaborador}" />
                            </p:column>
                            <p:column>
                                <h:outputText value="#{cola.nome}" />
                            </p:column>
                            <p:column>
                                <h:outputText value="#{cola.cpf}" />
                            </p:column>
                        </p:selectOneMenu>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2" >
                        <p:outputLabel for="valorCheque" value="Valor" />
                        <pe:inputNumber id="valorCheque"  required="true" requiredMessage="Informe o valor do cheque." symbol="R$ "
                                        value="#{chequeMB.cheque.valor}" decimalSeparator="," thousandSeparator="." maxValue="#{chequeMB.widgetValorRestante}"/>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2" >
                        <p:outputLabel for="dtVencimento" value="Data Compensar" />
                        <p:calendar value="#{chequeMB.cheque.dtCompensacaoVencimento}" id="dtVencimento" pattern="dd/MM/yyyy" mask="99/99/9999" locale="pt" showButtonPanel="true" 
                                    navigator="true" required="true" requiredMessage="Informe a data p/ Compensar!" />
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10" >
                        <p:outputLabel for="observacao" value="Observação" />
                        <p:inputText value="#{chequeMB.cheque.observacao}" id="observacao"  />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                        <hr/>
                        <p:commandButton value="Incluir" action="#{chequeMB.incluir()}" icon="Novo" id="btnIncluir" 
                                         disabled="#{chequeMB.widgetValorRestante.compareTo(BigDecimal.ZERO) == 0}"
                                         update="@form, :tabs:frmLancarCheque:dtlCheques" />
                        <p:commandButton value="Salvar e Sair" icon="Selecionar" id="btnSair" disabled="#{chequeMB.widgetValorRestante.compareTo(BigDecimal.ZERO) != 0}"
                                         update="@form, :tabs:frmContasPagarPrincipal"
                                         action="#{chequeMB.SalvarVarios()}" oncomplete="if (!args.validationFailed){PF('dlgLancarCheque').hide();}" />
                        <br/>
                        <hr/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                        <p:dataTable id="dtlCheques" value="#{chequeMB.listaCheque}" widgetVar="chq" paginator="true" rows="5" 
                                     paginatorPosition="bottom" var="chq" emptyMessage="Nenhum cheque neste pagamento.">
                            <p:column headerText="Número Cheque">
                                <h:outputText value="#{chq.numeroCheque}"/>
                            </p:column>
                            <p:column headerText="Banco">
                                <h:outputText value="#{chq.idContaCorrente.idBanco.nome}"/>
                            </p:column>
                            <p:column headerText="Conta Corrente">
                                <h:outputText value="#{chq.idContaCorrente.numConta}"/>
                            </p:column>
                            <p:column headerText="Data a Compensar" width="15%">
                                <h:outputText value="#{chq.dtCompensacaoVencimento}">
                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                </h:outputText>
                            </p:column>
                            <p:column headerText="Valor" style="text-align: center" width="10%">
                                <h:outputText value="#{chq.valor}">
                                    <f:convertNumber type="currency" minFractionDigits="2" maxFractionDigits="2" />
                                </h:outputText>
                            </p:column>
                            <p:column headerText="Observação">
                                <h:outputText value="#{chq.observacao}"/>
                            </p:column>
                            <p:column headerText="Excluir" width="8%">
                                <center>
                                    <p:commandButton icon="Excluir" update=":tabs:frmChequeAExcluir"
                                                     action="#{chequeMB.selecionarChequeAExcluir(chq)}" oncomplete="PF('dlgExcluirCheque').show();" />
                                </center>
                            </p:column>

                        </p:dataTable>
                    </div>
                </div>
            </div>
        </h:form>
    </p:dialog>

    <!-- Excluir Cheques --> 
    <p:dialog widgetVar="dlgExcluirCheque" header="Confirmação" modal="true" closable="false" resizable="false"> 
        <h:form id="frmChequeAExcluir">
            <h:panelGrid columns="2">
                <h:outputText value="Deseja excluir o cheque nº #{chequeMB.chequeExcluir.numeroCheque} no valor de R$ #{chequeMB.chequeExcluir.valor}" />
            </h:panelGrid>
            <hr/>
            <center>
                <h:panelGrid columns="2">
                    <p:commandButton value="Sim, quero excluir." icon="Selecionar" action="#{chequeMB.excluirTemp()}" 
                                     update="@form" 
                                     oncomplete="PF('dlgExcluirCheque').hide()"/>
                    <p:commandButton value="Não."  icon="Excluir" action="#{chequeMB.zerarChequeAExcluir()}" oncomplete="PF('dlgExcluirCheque').hide();"  update="@form" />
                </h:panelGrid>
            </center>
        </h:form>
    </p:dialog>
</ui:composition>