<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">



    <p:dialog widgetVar="dlgAdicionarTelefone"  header="Adicionar Telefones"  resizable="false"  modal="true">
        <p:messages id="msgphone" />
        <h:form id="frmAdicionarTelefone">
            <div class="row">
                <div class="col-md-6">
                    <p:outputLabel for="operadora" value="Operadora" />
                    <p:inputText id="operadora" value="#{clienteMB.telefone.operadora}" /> 
                </div>
                <div class="col-md-6">
                    <p:outputLabel for="numeroPhone" value="Número" />
                    <p:inputMask id="numeroPhone" value="#{clienteMB.telefone.numero}" mask="(99)9999-9999" required="true" requiredMessage="Número é obrigatório" /> 
                </div>
                <div class="col-md-12">
                    <hr/>
                    <p:commandButton value="Adicionar" action="#{clienteMB.adicionarTelefone()}" icon="Selecionar" update=":frmCadastro:tabs:telefones, :frmAdicionarTelefone, :msgphone"/>
                </div>


            </div>
        </h:form>
    </p:dialog>

</ui:composition>