<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">


    <p:dialog widgetVar="dlgAdicionarCentroCusto" modal="true" header="Novo Centro de Custo"  resizable="false" position="center" width="70%" closeOnEscape="true" >
        <h:form id="frmNovoCentroCusto">
            <div class="row">
                <div class="col-md-6">
                    <p:outputLabel for="descricaoCentro" value="Descrição"/>
                    <p:inputText id="descricaoCentro" value="#{clienteMB.centroCusto.descricao}" maxlength="255"  />
                </div>
                <div class="col-md-3">
                    <p:outputLabel for="implaCentro" value="Implantação"/>
                    <p:calendar id="implaCentro" value="#{clienteMB.centroCusto.implantacao}"  pattern="dd/MM/yyyy" />
                </div>
                <div class="col-md-3">
                    <p:outputLabel for="tipoCentro" value="Tipo"/>
                    <p:inputText id="tipoCentro" value="#{clienteMB.centroCusto.tipo}" maxlength="30"  />
                </div>
                <div class="col-md-6">
                    <p:outputLabel for="complementoCentro" value="Complemento"/>
                    <p:inputText id="complementoCentro" value="#{clienteMB.centroCusto.complemento}" maxlength="255"  />
                </div>
                <div class="col-md-2">
                    <p:outputLabel for="ativoComplemento" value="Ativo"  />
                    <p:selectOneRadio  id="ativoComplemento" value="#{clienteMB.centroCusto.ativo}" >
                        <f:selectItem itemLabel="Sim " itemValue="S"   />
                        <f:selectItem itemLabel="Não  " itemValue="N" />
                    </p:selectOneRadio>
                </div>
                <div class="col-md-12">
                    <hr/>
                    <p:commandButton value="Adicionar Centro de Custo" icon="ui-icon-plus" action="#{clienteMB.adicionarCentroCusto()}" update=":frmCadastro:tabs:tblCentroDeCusto, :frmNovoCentroCusto" />
                </div>
            </div>
        </h:form>
    </p:dialog>

</ui:composition>