<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:bcr="http://java.sun.com/jsf/composite/bcr">



    <p:dialog widgetVar="dlgAdicionarResponsavel" modal="true" header="Novo Responsável"  resizable="false" position="center" width="70%" closeOnEscape="true" >
                            <p:messages id="msgResp" />
                            <h:form id="frmNovoResponsavel">
                                <div class="row">
                                    <div class="col-md-6">
                                        <p:outputLabel for="nomeRespo" value="Nome"/>
                                        <p:inputText id="nomeRespo" value="#{clienteMB.responsavel.nome}" required="true" requiredMessage="Nome é obrigatório!" />
                                    </div>
                                    <div class="col-md-6">
                                        <p:outputLabel for="responsabilidade" value="Responsabilidade"/>
                                        <p:inputText id="responsabilidade" value="#{clienteMB.responsavel.tipo}"  required="true" requiredMessage="Responsabilidade é obrigatório!" />
                                    </div>
                                    <div class="col-md-6">
                                        <p:outputLabel for="emailReponsavel" value="Email"/>
                                        <p:inputText id="emailReponsavel" value="#{clienteMB.responsavel.email}"  />
                                    </div>
                                    <div class="col-md-3">
                                        <p:outputLabel for="cpfResponsavel" value="CPF"/>
                                        <p:inputMask id="cpfResponsavel" value="#{clienteMB.responsavel.cpf}" mask="999.999.999-99" required="true" requiredMessage="CPF é obrigatório!" >
                                            <p:ajax event="blur" listener="#{clienteMB.validarCPF(clienteMB.responsavel.cpf)}" update=":msgResp" />
                                        </p:inputMask>
                                    </div>
                                    <div class="col-md-3">
                                        <p:outputLabel for="estCivil" value="Estado Civil"/>
                                        <p:selectOneMenu id="estCivil" value="#{clienteMB.responsavel.estadoCivil}" styleClass="form-control" filter="true" filterMatchMode="contains">
                                            <f:selectItem itemLabel="Selecione o estado civil" itemValue="" />
                                            <f:selectItem itemLabel="Solteiro(a)" itemValue="Solteiro(a)" />
                                            <f:selectItem itemLabel="Casado(a)" itemValue="Casado(a)" />
                                            <f:selectItem itemLabel="Viuvo(a)" itemValue="Viuvo(a)" />
                                            <f:selectItem itemLabel="Divorciado(a)" itemValue="Divorciado(a)" /> 
                                        </p:selectOneMenu> 
                                    </div>
                                    <div class="col-md-2">
                                        <p:outputLabel for="cepResponsavel" value="CEP"/>
                                        <p:inputMask id="cepResponsavel" value="#{clienteMB.responsavel.cep}" mask="99999-999" />
                                    </div>
                                    <div class="col-md-3">
                                        <p:outputLabel for="tipoLogradouroResp" value="Tipo Logradouro"/>
                                        <p:inputText  id="tipoLogradouroResp" value="#{clienteMB.responsavel.tipoLogradouro}" styleClass="form-control" />
                                    </div>
                                    <div class="col-md-3">
                                        <p:outputLabel for="logradouroResp" value="Logradouro"/>
                                        <p:inputText id="logradouroResp" value="#{clienteMB.responsavel.logradouro}" styleClass="form-control" />
                                    </div>
                                    <div class="col-md-1">
                                        <p:outputLabel for="numRespo" value="Nº"/>
                                        <p:inputText id="numRespo" value="#{clienteMB.responsavel.numero}" styleClass="form-control" />
                                    </div>
                                    <div class="col-md-3">
                                        <p:outputLabel for="complRespo" value="Complemento"/>
                                        <p:inputText id="complRespo" value="#{clienteMB.responsavel.complemento}" styleClass="form-control" />
                                    </div>
                                    <div class="col-md-12">
                                        <p:outputLabel for="obsRespo" value="Observação"/>
                                        <p:inputText id="obsRespo" value="#{clienteMB.responsavel.observacoes}" styleClass="form-control" />
                                    </div>
                                    <div class="col-md-12">
                                        <hr/>
                                        <p:commandButton value="Adicionar" action="#{clienteMB.adicionarResponsavel()}" update=":frmNovoResponsavel, :frmCadastro:tabs:tblResponsaveis, :msgResp" />
                                    </div>
                                </div>
                            </h:form>
                        </p:dialog>

</ui:composition>