<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:bcr="http://java.sun.com/jsf/composite/bcr">



    <p:dialog widgetVar="dlgInformacao"  header="Ficha de Clientes" width="70%" resizable="false" position="center top"  modal="true" closeOnEscape="true" height="90%">
        <h:form id="frmInformacao">
            <div class="row">
                <div class="col-md-12">
                    <h2>
                        <h:outputText value="#{clienteMB.cliente.nome}" /> <br/>
                        <h:outputText value="#{clienteMB.cliente.idCliente}" /> <br/>
                    </h2>
                    <hr/>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4">
                        <h:panelGrid columns="2" columnClasses="colunmOne,colunmTwo" styleClass="gridInfo">
                            <h:outputText value="Data do Cadastro: " />
                            <h:outputText value="#{clienteMB.cliente.dtCadastro}" >
                                <f:convertDateTime pattern="dd/MM/yyyy" />
                            </h:outputText>
                            <h:outputText value="Ultima Atualizaçao: " />
                            <h:outputText value="#{clienteMB.cliente.dtUltimaAtualizacao}" >
                                <f:convertDateTime pattern="dd/MM/yyyy" />
                            </h:outputText>
                            <h:outputText value="Inativo: " />
                            <h:outputText value="#{clienteMB.cliente.inativo=='N'?'Não':'Sim'}" />
                            <h:outputText value="Bloqueado: " />
                            <h:outputText value="#{clienteMB.cliente.bloqueado=='N'?'Não':'Sim'}" />
                            <h:outputText value="Tipo de Pessoa: " />
                            <h:outputText value="#{clienteMB.cliente.tipo=='F'?'Física':'Jurídica'}" />
                            <h:outputText value="#{clienteMB.cliente.tipo=='F'?'CPF':'CNPJ'}: " />
                            <h:outputText value="#{clienteMB.cliente.cgccpf}" />
                            <h:outputText value="RG: " style="display: #{clienteMB.cliente.tipo !='F'?'none':''} " />
                            <h:outputText value="#{clienteMB.cliente.rg}" style="display: #{clienteMB.cliente.tipo !='F'?'none':''} " />
                            <h:outputText value="IE: " style="display: #{clienteMB.cliente.tipo !='J'?'none':''} " />
                            <h:outputText value="#{clienteMB.cliente.ie}" style="display: #{clienteMB.cliente.tipo !='J'?'none':''} " />
                            <h:outputText value="Sexo: " style="display: #{clienteMB.cliente.tipo !='F'?'none':''} " />
                            <h:outputText value="#{clienteMB.cliente.sexo=='M'?'Masculino':'Feminino'}" style="display: #{clienteMB.cliente.tipo !='F'?'none':''} " />
                            <h:outputText value="IM: " style="display: #{clienteMB.cliente.tipo !='J'?'none':''} " />
                            <h:outputText value="#{clienteMB.cliente.im}" style="display: #{clienteMB.cliente.tipo !='J'?'none':''} " />
                        </h:panelGrid>
                    </div>
                    <div class="col-md-4">
                        <h:panelGrid columns="2" columnClasses="colunmOne,colunmTwo" styleClass="gridInfo">
                            <h:outputText value="Data de Nascimento: " style="display: #{clienteMB.cliente.tipo !='F'?'none':''} "/>
                            <h:outputText value="#{clienteMB.cliente.dtNascimento}" style="display: #{clienteMB.cliente.tipo !='F'?'none':''} " >
                                <f:convertDateTime pattern="dd/MM/yyyy" />
                            </h:outputText>
                            <h:outputText value="Email: " />
                            <h:outputText value="#{clienteMB.cliente.email}" />
                            <h:outputText value="Contato: " />
                            <h:outputText value="#{clienteMB.cliente.contato}" />
                            <h:outputText value="Home Page: " />
                            <h:outputText value="#{clienteMB.cliente.homePage}" />
                            <h:outputText value="Observações: " />
                            <h:outputText value="#{clienteMB.cliente.observacoes}" />
                            <h:outputText value="Logradouro: " />
                            <h:outputText value="#{clienteMB.cliente.logradouro}" />
                            <h:outputText value="Número: " />
                            <h:outputText value="#{clienteMB.cliente.numero}" />
                            <h:outputText value="Complemento: " />
                            <h:outputText value="#{clienteMB.cliente.complemento}" />
                            <h:outputText value="Bairro: " />
                            <h:outputText value="#{clienteMB.cliente.bairro}" />
                            <h:outputText value="Cidade: " />
                            <h:outputText value="#{clienteMB.cliente.idCidade.nome}" />
                            <h:outputText value="Estado: " />
                            <h:outputText value="#{clienteMB.cliente.idCidade.idEstado.nome}" />
                        </h:panelGrid>
                    </div>
                    <div class="col-md-4">
                        <h:panelGrid columns="2" columnClasses="colunmOne,colunmTwo" styleClass="gridInfo">
                            <h:outputText value="Logradouro Cobrança: " />
                            <h:outputText value="#{clienteMB.cliente.logradouroCobranca}" />
                            <h:outputText value="Número Cobrança: " />
                            <h:outputText value="#{clienteMB.cliente.numeroCobranca}" />
                            <h:outputText value="Complemento Cobrança: " />
                            <h:outputText value="#{clienteMB.cliente.complementoCobranca}" />
                            <h:outputText value="Bairro Cobrança: " />
                            <h:outputText value="#{clienteMB.cliente.bairroCobranca}" />
                            <h:outputText value="Cidade Cobrança: " />
                            <h:outputText value="#{clienteMB.cliente.idCidadeCobranca.nome}" />
                            <h:outputText value="Estado Cobrança: " />
                            <h:outputText value="#{clienteMB.cliente.idCidadeCobranca.idEstado.nome}" />
                        </h:panelGrid>
                    </div>
                </div>
            </div>
            <div class="row">
                <hr/>
                <div class="col-md-12">
                    <p:tabView >
                        <p:tab title="Telefones">
                            <p:dataTable  value="#{clienteMB.listaDeTelefones}" var="phone"
                                          emptyMessage="Nenhum telefone adicionado!" rows="5" paginator="true" paginatorAlwaysVisible="false" paginatorPosition="bottom">
                                <f:facet name="header">
                                    Telefones 
                                </f:facet>
                                <p:column headerText="Operadora"  >
                                    <center>
                                        <h:outputText value="#{phone.operadora}" />
                                    </center>
                                </p:column>
                                <p:column headerText="Número"  >
                                    <center>
                                        <h:outputText value="#{phone.numero}" />
                                    </center>
                                </p:column>
                            </p:dataTable>
                        </p:tab>
                        <p:tab title="Responsáveis">
                            <p:dataTable value="#{clienteMB.responsaveis}" var="resps" rowIndexVar="indexCliente"
                                         emptyMessage="Nenhum responsável adicionado!">
                                <f:facet name="header">
                                    Responsáveis 
                                </f:facet>
                                <p:column headerText="Codigo" width="8%" >
                                    <center>
                                        <h:outputText value="#{resps.idClienteResponsavel}" />
                                    </center>
                                </p:column>
                                <p:column headerText="Nome" width="" >
                                    <h:outputText value="#{resps.nome}" />
                                </p:column>
                                <p:column headerText="Tipo" width="10%" >
                                    <h:outputText value="#{resps.tipo}" />
                                </p:column>
                                <p:column headerText="CPF" width="15%" >
                                    <h:outputText value="#{resps.cpf}" />
                                </p:column>
                                <p:column headerText="Email" >
                                    <h:outputText value="#{resps.email}" />
                                </p:column>
                            </p:dataTable>
                        </p:tab>
                        <p:tab title="Centro de Custo">
                            <p:dataTable  value="#{clienteMB.centrosDeCusto}" var="centro"  rows="5" paginator="true" paginatorAlwaysVisible="false"
                                          emptyMessage="Nenhum centro de custo cadastrado!">
                                <f:facet name="header">
                                    Centro de Custos 
                                </f:facet>
                                <p:column headerText="Codigo" width="8%" >
                                    <center>
                                        <h:outputText value="#{centro.idCentroCusto}" />
                                    </center>
                                </p:column>
                                <p:column headerText="Descrição"  >
                                    <h:outputText value="#{centro.descricao}" />
                                </p:column>
                                <p:column headerText="Implantação"  >
                                    <h:outputText value="#{centro.implantacao}" >
                                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                                    </h:outputText>
                                </p:column>
                                <p:column headerText="Tipo" width="20%" >
                                    <h:outputText value="#{centro.tipo}" />
                                </p:column>
                                <p:column headerText="Complemento" >
                                    <h:outputText value="#{centro.complemento}" />
                                </p:column>
                                <p:column headerText="Ativo" >
                                    <h:outputText value="#{centro.ativo}" />
                                </p:column>
                            </p:dataTable>
                        </p:tab>
                    </p:tabView>
                </div>
            </div>
        </h:form>
    </p:dialog >

</ui:composition>