<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:bcr="http://java.sun.com/jsf/composite/bcr">



    <h:form id="frmCadastro">
        <div class="col-md-12">

            <p:commandButton value="Novo" immediate="true" icon="Novo"  >
                <p:ajax update="@form, :frmCadastro" listener="#{clienteMB.novo()}"  resetValues="true"  />
            </p:commandButton>
            <p:commandButton  value="Salvar" action="#{clienteMB.salvar()}" update=":frmCadastro, :msg" icon="Salvar">
                <f:param name="id_empresa" value="#{sessaoMB.usuario.idEmpresa.idEmpresa}"  />
                <f:param name="mode" value="true"  />
            </p:commandButton>
            <p:commandButton  value="Consultar" icon="Consultar" action="#{clienteMB.carregarDatatableCliente()}" update=":frmConsultar" oncomplete="PF('dlgConsulta').show();"   />
            <hr/>
        </div>
        <div class="col-md-12">
            <p:tabView id="tabs">
                <p:tab  title="Dados Básicos">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8 col-md-4">
                                <p:outputLabel for="nome" value="Nome" />
                                <p:inputText id="nome" value="#{clienteMB.cliente.nome}" styleClass="form-control"  required="#{param['mode']}" requiredMessage="Nome é obrigatório!" />
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-2">
                            <p:outputLabel for="dtCadastro" value="Data de Cadastro"   />
                            <p:calendar id="dtCadastro"  value="#{clienteMB.cliente.dtCadastro}"  pattern="dd/MM/yyyy" readonly="true" showOn="false"  />
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-2">
                            <p:outputLabel for="dtAtualizacao" value="Data de Atualização"   />
                            <p:calendar id="dtAtualizacao"  value="#{clienteMB.cliente.dtUltimaAtualizacao}"  pattern="dd/MM/yyyy" readonly="true" showOn="false"  />
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-2">
                            <p:outputLabel for="inativo" value="Inativo"  />
                            <p:selectOneRadio  id="inativo" value="#{clienteMB.cliente.inativo}" required="#{param['mode']}" requiredMessage="Informe se o cliente está inativo!" >
                                <f:selectItem itemLabel="Não  " itemValue="N"   />
                                <f:selectItem itemLabel="Sim  " itemValue="S" />
                            </p:selectOneRadio>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-2">
                            <p:outputLabel for="bloqueado" value="Bloqueado" />
                            <p:selectOneRadio  id="bloqueado" value="#{clienteMB.cliente.bloqueado}" required="#{param['mode']}" requiredMessage="Informe se o cliente está bloqueado!">
                                <f:selectItem itemLabel="Não " itemValue="N"  />
                                <f:selectItem itemLabel="Sim  " itemValue="S" />
                            </p:selectOneRadio>
                        </div>
                    </div>

                    <div class="row">
                        <h:panelGroup id="row">
                            <div class="col-xs-12 col-sm-4 col-md-2">
                                <p:outputLabel for="tipopessoa" value="Tipo de Pessoa" />
                                <p:selectOneRadio  id="tipopessoa" value="#{clienteMB.cliente.tipo}" required="#{param['mode']}" requiredMessage="Tipo de Pessoa é obrigatório!">
                                    <f:selectItem itemLabel="Física " itemValue="F" />
                                    <f:selectItem itemLabel="Jurídica  " itemValue="J" />
                                    <p:ajax update=":frmCadastro:tabs:row"  event="change" />
                                </p:selectOneRadio>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-3">
                                <p:outputLabel id="lblCPF" for="cpf" value="#{clienteMB.cliente.tipo=='F'?'CPF':'CNPJ'}" />
                                <p:inputMask id="cpf" value="#{clienteMB.cliente.cgccpf}"  mask="#{clienteMB.cliente.tipo=='F'?'999.999.999-99':'99.999.999/9999-99'}" required="#{param['mode']}" requiredMessage="#{clienteMB.cliente.tipo=='F'?'CPF':'CNPJ'} é obrigatório!">
                                    <p:ajax event="blur" listener="#{clienteMB.validarCPFCNPJ()}" update=":msg" />
                                </p:inputMask>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-3" style="display: #{clienteMB.cliente.tipo!='F'?'none':''}" >
                                <p:outputLabel for="rg" value="RG" />
                                <p:inputText id="rg" value="#{clienteMB.cliente.rg}"   />
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2" style="display: #{clienteMB.cliente.tipo!='F'?'none':''}" >
                                <p:outputLabel for="sexo" value="Sexo"  />
                                <p:selectOneRadio  id="sexo" value="#{clienteMB.cliente.sexo}" rendered="#{clienteMB.cliente.tipo=='F'}" required="#{param['mode']}" requiredMessage="Sexo é obrigatório!">
                                    <f:selectItem itemLabel="Masc " itemValue="M" />
                                    <f:selectItem itemLabel="Femin" itemValue="F" />
                                </p:selectOneRadio>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2"  style="display: #{clienteMB.cliente.tipo!='F'?'none':''}" >
                                <p:outputLabel for="dtNascimento" value="Data de Nascimento"   />
                                <p:calendar id="dtNascimento" value="#{clienteMB.cliente.dtNascimento}" mask="99/99/9999"  pattern="dd/MM/yyyy"  locale="pt" showButtonPanel="true"  />
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-2" style="display: #{clienteMB.cliente.tipo!='J'?'none':''}" >
                                <p:outputLabel for="ie" value="Inscrição Estadual"   />
                                <p:inputText id="ie"  value="#{clienteMB.cliente.ie}"     />
                            </div>

                            <div class="col-xs-4 col-sm-4 col-md-2"  style="display: #{clienteMB.cliente.tipo!='J'?'none':''}" >
                                <p:outputLabel for="im" value="Inscrição Municipal"   />
                                <p:inputText id="im"  value="#{clienteMB.cliente.im}"    />
                            </div>

                        </h:panelGroup>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <p:outputLabel for="email" value="Email"   />
                            <p:inputText id="email" value="#{clienteMB.cliente.email}"  placeholder="Ex: contato@bcrtecnologia.com.br" />
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <p:outputLabel for="contato" value="Contato"   />
                            <p:inputText id="contato"   value="#{clienteMB.cliente.contato}"    />
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <p:dialog widgetVar="dialogFornecedor123" header="Cadastro de Fornecedor" modal="true" >
                                <p:ajax event="close" update=":frmCadastro:tabs:fornecedor" />
                                <iframe src="../Fornecedor/index.xhtml" width="800px" height="600" />
                            </p:dialog>
                            <bcr:atalhoDialogoOneMenu dialogName="dialogFornecedor123" nameWidgetVar="wvaFornecedor123" nameFunc="atalhoFornecedor123" valueToOpenDialog="Cadastrar Fornecedor" />
                            <p:outputLabel for="fornecedor" value="Fornecedor" />
                            <h:panelGrid columns="2" style="width: 100% ">
                                <p:selectOneMenu id="fornecedor" value="#{clienteMB.cliente.idFornecedor}" widgetVar="wvaFornecedor123"  onchange="atalhoFornecedor123(this)"
                                                 converter="Converter" var="f"  filter="true" filterMatchMode="contains" 
                                                 styleClass="form-control myClass"  >
                                    <f:selectItem itemLabel="Selecione um fornecedor" itemValue=""/>
                                    <f:selectItems value="#{fornecedorMB.listaFornecedores()}" var="forn123" 
                                                   itemLabel="#{forn123.nome}" itemValue="#{forn123}" />
                                    <f:selectItem itemLabel="Cadastrar Fornecedor" itemValue="cadForn"     />
                                    <p:column>
                                        <h:outputText value="#{f.idFornecedor}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{f.nome}"/>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{f.cgccpf}"/>
                                    </p:column>
                                    <p:ajax event="change" update="@this, btnImport" />
                                </p:selectOneMenu>
                                <p:commandButton value="" id="btnImport" action="#{clienteMB.importarDadosDoFornecedorParaCliente()}" disabled="#{clienteMB.cliente.idFornecedor == null ? 'true':'false'}" update="@form, :msg" icon="ui-icon-transferthick-e-w" styleClass="btnSearch" title="Clique aqui para importar os dados do fornecedor!"   />

                            </h:panelGrid>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <p:outputLabel for="home" value="Home Page"   />
                            <p:inputText id="home"   value="#{clienteMB.cliente.homePage}" placeholder="Ex: www.google.com"   />
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-8">
                            <p:outputLabel for="obs" value="Observação"   />
                            <p:inputText id="obs"   value="#{clienteMB.cliente.observacoes}"    />
                        </div>
                    </div>
                </p:tab>
                <p:tab title="Endereços">

                    <div class="row">
                        <div class="col-md-2">
                            <p:outputLabel for="cep" value="CEP"/>
                            <p:inputMask id="cep" value="#{clienteMB.cliente.cep}" styleClass="inputSearch" mask="99999-999"  onblur="pesquisacep(this.value);" >
                                <p:ajax listener="#{clienteMB.pesquisarCEP(1)}" update="logradouro,bairro,cidade,estado,:msg" />
                            </p:inputMask>
                        </div>
                        <div class="col-md-2">
                            <p:outputLabel for="tipologradouro" value="Tipo"/>
                            <p:inputText id="tipologradouro" value="#{clienteMB.cliente.tipoLogradouro}" placeholder="Rua, Av..."  />
                        </div>
                        <div class="col-md-4">
                            <p:outputLabel for="logradouro"  value="Logradouro"/>
                            <p:inputText id="logradouro" value="#{clienteMB.cliente.logradouro}"  />
                        </div>
                        <div class="col-md-1">
                            <p:outputLabel for="numero" value="Número"/>
                            <p:inputText id="numero" value="#{clienteMB.cliente.numero}" />
                        </div>
                        <div class="col-md-3">
                            <p:outputLabel for="complemento" value="Complemento"/>
                            <p:inputText id="complemento" value="#{clienteMB.cliente.complemento}"  />
                        </div>
                        <div class="col-md-3">
                            <p:outputLabel for="bairro" value="Bairro"/>
                            <p:inputText id="bairro" value="#{clienteMB.cliente.bairro}"  />
                        </div>
                        <div class="col-md-4">
                            <p:outputLabel for="cidade" value="Cidade"/>
                            <h:panelGrid columns="2" style="width: 100%;">
                                <p:inputText id="cidade" value="#{clienteMB.cidade.nome}" styleClass="inputSearch" readonly="true" />
                                <p:commandButton value="" icon="ui-icon-search" styleClass="btnSearch"  onclick="PF('dlgConsultaCidade').show();" actionListener="#{clienteMB.carregarDatatableCidade()}" update=":frmConsultarCidade"  >
                                </p:commandButton>
                            </h:panelGrid>
                        </div>
                        <div class="col-md-2">
                            <p:outputLabel for="estado" value="Estado"/>
                            <p:inputText id="estado" value="#{clienteMB.cidade.idEstado.sigla}"  readonly="true"/>
                        </div>
                    </div>

                    <fieldset>
                        <legend>Endereço de Cobrança</legend>
                        <div class="row">
                            <div class="col-md-2">
                                <p:outputLabel for="CEPCobranca" value="CEP Cobrança"/>
                                <p:inputMask id="CEPCobranca" value="#{clienteMB.cliente.CEPcobranca}" styleClass="inputSearch" mask="99999-999"  onblur="pesquisacep2(this.value);" >
                                    <p:ajax listener="#{clienteMB.pesquisarCEP(2)}" update="logradouro2,bairro2,cidade2,estado2, :msg" />
                                </p:inputMask>
                            </div>
                            <div class="col-md-2">
                                <p:outputLabel for="tipologradouro2" value="Tipo"/>
                                <p:inputText id="tipologradouro2" value="#{clienteMB.cliente.tipoLogradouroCobranca}" placeholder="Rua, Av..." />
                            </div>
                            <div class="col-md-4">
                                <p:outputLabel for="logradouro2" value="Logradouro"/>
                                <p:inputText id="logradouro2" value="#{clienteMB.cliente.logradouroCobranca}" />
                            </div>
                            <div class="col-md-1">
                                <p:outputLabel for="numero2" value="Número"/>
                                <p:inputText id="numero2" value="#{clienteMB.cliente.numeroCobranca}" />
                            </div>
                            <div class="col-md-3">
                                <p:outputLabel for="complemento2" value="Complemento"/>
                                <p:inputText id="complemento2" value="#{clienteMB.cliente.complementoCobranca}" />
                            </div>
                            <div class="col-md-3">
                                <p:outputLabel for="bairro2" value="Bairro"/>
                                <p:inputText id="bairro2" value="#{clienteMB.cliente.bairroCobranca}" />
                            </div>
                            <div class="col-md-4">
                                <p:outputLabel for="cidade2" value="Cidade"/>
                                <h:panelGrid columns="2" style="width: 100%;">
                                    <p:inputText id="cidade2" value="#{clienteMB.cidadeCobranca.nome}" styleClass="inputSearch" readonly="true" >
                                        <p:ajax listener="#{clienteMB.carregarDatatableCidade()}"  />
                                    </p:inputText>
                                    <p:commandButton value="" icon="ui-icon-search" styleClass="btnSearch"   onclick="PF('dlgConsultaCidade2').show()"  actionListener="#{clienteMB.carregarDatatableCidade()}" update=":frmConsultarCidade2" />
                                </h:panelGrid>
                            </div>
                            <div class="col-md-2">
                                <p:outputLabel for="estado2" value="Estado"/>
                                <p:inputText id="estado2" value="#{clienteMB.cidade.idEstado.sigla}"  readonly="true"/>
                            </div>
                        </div>
                    </fieldset>
                </p:tab>
                <p:tab title="Telefones">
                    <div class="row">

                        <p:commandButton value="Adicionar Telefone"  icon="ui-icon-plus" onclick="PF('dlgAdicionarTelefone').show();"/>
                        <hr/>
                        <div class="col-md-6">
                            <p:dataTable id="telefones" value="#{clienteMB.listaDeTelefones}" var="phones" rowIndexVar="indexPhone" emptyMessage="Nenhum telefone adicionado">
                                <f:facet name="header">
                                    Telefones
                                </f:facet>
                                <p:column headerText="Operadora" >
                                    <h:outputText value="#{phones.operadora}" />
                                </p:column>
                                <p:column headerText="Número" >
                                    <h:outputText value="#{phones.numero}" />
                                </p:column>
                                <p:column width="9%" >
                                    <p:commandButton id="excTel" icon="Excluir" action="#{clienteMB.excluirTelefone(phones, indexPhone)}" update="telefones" immediate="true" />
                                    <pe:tooltip for="excTel" value="Clique aqui para remover este telefone!" showEffect="fadeIn" hideEffect="fadeIn"/>  
                                </p:column>
                            </p:dataTable>
                        </div>

                    </div>
                </p:tab>
                <p:tab title="Responsáveis">
                    <div class="row">
                        <p:commandButton value="Adicionar Responsável" icon="ui-icon-plus" oncomplete="PF('dlgAdicionarResponsavel').show();" />
                        <hr/>
                        <div class="col-md-12">
                            <p:dataTable id="tblResponsaveis" value="#{clienteMB.responsaveis}" var="resps" rowIndexVar="indexCliente"
                                         emptyMessage="Nenhum responsável adicionado!">
                                <f:facet name="header">
                                    Responsáveis Adicionados
                                </f:facet>
                                <p:column headerText="Codigo" width="8%" >
                                    <center>
                                        <h:outputText value="#{resps.idClienteResponsavel}" />
                                    </center>
                                </p:column>
                                <p:column headerText="Nome" width="" >
                                    <h:outputText value="#{resps.nome}" />
                                </p:column>
                                <p:column headerText="Tipo" width="15%" >
                                    <h:outputText value="#{resps.tipo}" />
                                </p:column>
                                <p:column headerText="CPF" width="10%" >
                                    <h:outputText value="#{resps.cpf}" />
                                </p:column>
                                <p:column headerText="Email" >
                                    <h:outputText value="#{resps.email}" />
                                </p:column>
                                <p:column width="5%" >
                                    <p:commandButton  title="Excluir Responsavel"  update=":frmCadastro:tabs:tblResponsaveis,:msg" icon="Excluir" actionListener="#{clienteMB.excluirResposavel(resps, indexCliente)}" immediate="true" />
                                </p:column>
                            </p:dataTable>
                        </div>
                    </div>

                </p:tab>
                <p:tab title="Centro de Custo">
                    <div class="row">
                        <p:commandButton value="Adicionar Centro de Custo" icon="ui-icon-plus" oncomplete="PF('dlgAdicionarCentroCusto').show()"/>
                        <hr/>
                        <div class="col-md-12">
                            <p:dataTable id="tblCentroDeCusto" value="#{clienteMB.centrosDeCusto}" var="centro" rowIndexVar="indexCentroCusto"
                                         emptyMessage="Nenhum centro de custo cadastrado!">
                                <f:facet name="header">
                                    Centro de Custos Adicionados
                                </f:facet>
                                <p:column width="5%">
                                    <p:rowToggler />
                                </p:column>
                                <p:column headerText="Codigo" width="8%" >
                                    <center>
                                        <h:outputText value="#{centro.idCentroCusto}" />
                                    </center>
                                </p:column>
                                <p:column headerText="Descrição"  >
                                    <h:outputText value="#{centro.descricao}" />
                                </p:column>
                                <p:column headerText="Implantação"  >
                                    <h:outputText value="#{centro.implantacao}" >
                                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                                    </h:outputText>
                                </p:column>

                                <p:column headerText="Ativo" >
                                    <h:outputText value="#{centro.ativo}" />
                                </p:column>
                                <p:column width="20%" >
                                    <p:commandButton value="Adicionar Agrupamento"  action="#{centroCustoMB.setCentroCusto(centro)}" oncomplete="PF('dlgAgrupamento').show();" />
                                    <p:commandButton  title="Excluir Centro de Custo" action="#{clienteMB.excluirCentroCusto(centro, indexCentroCusto)}"  update=":frmCadastro:tabs:tblCentroDeCusto,:msg" icon="Excluir"  immediate="true" />
                                </p:column>
                                <p:rowExpansion>
                                    <p:dataTable value="#{centro.centroCustoAgrupamentoList}" var="ccagrup" emptyMessage="Nenhum agrupamento foi adicionado!">
                                        <p:column headerText="Agrupamento" >
                                            <h:outputText value="#{ccagrup.idAgrupamento.descricao}" />
                                        </p:column>
                                        <p:column  >
                                            <p:commandButton value="Excluir"  action="#{centroCustoMB.excluirCentroAgrupamento(ccagrup)}" update="@form, :msg"/>
                                        </p:column>
                                    </p:dataTable>
                                </p:rowExpansion>
                            </p:dataTable>
                        </div>
                    </div>
                </p:tab>
            </p:tabView>
        </div>
        <p:dialog widgetVar="dlgAgrupamento" modal="true" width="50%">
            <h:form id="frmAgrupamento">
                <p:dataTable value="#{agrupamentoMB.listaAgrupamentos()}" var="agr" emptyMessage="Nenhum agrupamento para adicionar!">
                    <f:facet name="header">
                        Centro de custo atual #{centroCustoMB.centroCusto.descricao}
                    </f:facet>
                    <p:column headerText="Descrição" >
                        <h:outputText value="#{agr.descricao}" />
                    </p:column>
                    <p:column>
                        <p:commandButton value="Selecionar" update=":msg, :frmCadastro" action="#{centroCustoMB.adicionarAgrupamento(agr)}" oncomplete="PF('dlgAgrupamento').hide();" />
                    </p:column>
                </p:dataTable>
            </h:form>
        </p:dialog>

    </h:form>


</ui:composition>