.ui-icon.Consultar{
    background-image: url(pesquisar.png);
    margin-right: 4px;
}
.ui-icon.Excluir{
    background-image: url(excluir.png);
    margin-right: 4px;
}
.ui-icon.Editar{
    background-image: url(editar.gif);
    margin-right: 4px;
}
.ui-icon.Info{
    background-image: url(ver.png);
    margin-right: 4px;
}
.ui-icon.Novo{
    background-image: url(add.png);
    margin-right: 4px;
}
.ui-icon.Relatorio{
    background-image: url(Relatorio.png);
    margin-right: 4px;
}
.ui-icon.Salvar{
    background-image: url(save.png);
    margin-right: 4px;
}
.ui-icon.Selecionar{
    background-image: url(confirmar.png);
    margin-right: 4px;
}
.ui-icon.Alerta{
    background-image: url(Alert.png);
    margin-right: 4px;
}
.ui-icon.Cancelar{
    background-image: url(estornar.png);
    margin-right: 4px;
}

.ui-icon.Sangria{
    background-image: url(Sangria.png);
    margin-right: 4px;
}
.ui-icon.Suprimento{
    background-image: url(Suprimento.png);
    margin-right: 4px;
}
.ui-icon.Parcelado{
    background-image: url(Parcelado.png);
    margin-right: 4px;
}
.ui-icon.Multiplo{
    background-image: url(Multiplo.png);
    margin-right: 4px;
}
.ui-icon.Single{
    background-image: url(single.png);
    margin-right: 4px;
}
.ui-icon.Gerar{
    background-image: url(Gerar.png);
    margin-right: 4px;
}
.ui-icon.Transferencia{
    background-image: url(Transferencia.png);
    margin-right: 4px;
}

.ui-icon.Saque{
    background-image: url(Saque.png);
    margin-right: 4px;
}
.ui-icon.Deposito{
    background-image: url(Deposito.png);
    margin-right: 4px;
}
.ui-icon.Rateio{
    background-image: url(Rateio.png);
    margin-right: 4px;
}
.ui-icon.ComPermissao{
    background-image: url(ComPermissao.png);
    margin-right: 4px;
}
.ui-icon.SemPermissao{
    background-image: url(SemPermissao.png);
    margin-right: 4px;
}

.ui-icon.new_adicionar{
    background-image: url(add.png);
    margin-right: 4px;
}

.ui-icon.new_limpar{
    background-image: url(limpar.png);
    margin-right: 4px;
}

.ui-icon.new_confirmar{
    background-image: url(confirmar.png);
    margin-right: 4px;
}
.ui-icon.Analisar{
    background-image: url(Analisar.png);
    margin-right: 4px;
}
.ui-icon.Recusar{
    background-image: url(Recusar.png);
    margin-right: 4px;
}
.ui-icon.Solicitar{
    background-image: url(Solicitar.png);
    margin-right: 4px;
}
.ui-icon.Database{
    background-image: url(database.png);
    margin-right: 4px;
}
.ui-icon.Baixa{
    background-image: url(Baixa.png);
    margin-right: 4px;
}
.ui-icon.Importar{
    background-image: url(Importar.gif);
    margin-right: 4px;
}
.ui-icon.Finalizar{
    background-image: url(Finalizar.png);
    margin-right: 4px;
}
.ui-icon.Voltar{
    background-image: url(Voltar.png);
    margin-right: 4px;
}
.ui-icon.Atalho{
    background-image: url(Atalho.png);
    margin-right: 4px;
}
.ui-icon.Cotar{
    background-image: url(check-list-light.png);
    margin-right: 4px;
}