<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">

    <body>

        <ui:composition template="./../../WEB-INF/Template.xhtml">

            <ui:define name="titulo">
                Cadastro de Agrupamentos
            </ui:define>

            <ui:define name="descriptionpage">
                Nesta seção você pode cadastrar os Agrupamentos de plano de contas.
            </ui:define>

            <ui:define name="breadcrumb">
                Cadastro de Agrupamentos
            </ui:define>

            <ui:define name="content">
                <div class="col-md-12">
                    <p:panel header="Cadastro de Agrupamentos" id="conteudo">
                        <div class="row">
                            <h:form id="frmCadastro">
                                <div class="col-md-12">
                                    <p:commandButton value="Novo" immediate="true" icon="Novo"  >
                                        <p:ajax update="@form, :frmCadastro" listener="#{agrupamentoMB.novo()}"  resetValues="true"  />
                                    </p:commandButton>
                                    <p:commandButton  value="Salvar" action="#{agrupamentoMB.salvar()}" update=":frmCadastro, :msg,:frmConsultar" icon="Salvar">
                                        <f:param name="mode" value="true"  />
                                    </p:commandButton>
                                    <p:commandButton  value="Consultar" icon="Consultar"  update=":frmConsultar" oncomplete="PF('dlgConsulta').show()" />
                                    <hr/>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p:outputLabel for="desc" value="Descrição"  />
                                            <p:inputText value="#{agrupamentoMB.agrupamento.descricao}" id="desc" required="#{param['mode']}" requiredMessage="Nome é obrigatória!" />
                                        </div>

                                    </div>
                                </div>
                            </h:form>


                            <p:dialog widgetVar="dlgConsulta"  header="Consulta de Agrupamentos" width="50%" resizable="false" position="center top" modal="true">
                                <h:form id="frmConsultar">
                                    <p:messages  closable="true"/>
                                    <p:contextMenu for="agrupamentos" >
                                        <p:menuitem value="Editar"  icon="Editar" oncomplete="PF('dlgConsulta').hide()"  update=":frmCadastro"  />
                                        <p:menuitem value="Excluir" update="@form" icon="Excluir" actionListener="#{agrupamentoMB.excluir()}"/>
                                    </p:contextMenu>
                                    <p:dataTable id="agrupamentos" value="#{agrupamentoMB.listaAgrupamentos()}" var="agr" 
                                                 paginator="true" rows="15" paginatorAlwaysVisible="false" 
                                                 paginatorPosition="bottom" lazy="true" 
                                                 rowKey="#{agr.idAgrupamento}" selection="#{agrupamentoMB.agrupamento}" selectionMode="single">
                                        <p:column headerText="Código" width="15%" style="text-align: center" filterBy="#{agr.idAgrupamento}">
                                            <h:outputText value="#{agr.idAgrupamento}" />
                                        </p:column>
                                        <p:column headerText="Descrição" width="85%" filterBy="#{agr.descricao}">
                                            <h:outputText value="#{agr.descricao}" />
                                        </p:column>
                                    </p:dataTable>
                                </h:form>
                            </p:dialog>

                        </div>
                    </p:panel>
                </div>
            </ui:define>

        </ui:composition>

    </body>
</html>
