<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <p:dialog widgetVar="dlgConsulta"  header="Consulta de Cidades" width="80%" resizable="false" position="center top" >
        <p:messages id="msg2" closable="true"/>
        <h:form id="frmConsultar">
            <p:contextMenu for="estados" >
                <p:menuitem value="Editar"  icon="Editar" oncomplete="PF('dlgConsulta').hide()"  update=":frmCadastro"  />
                <p:menuitem value="Excluir" update="@form,:msg2" icon="Excluir" actionListener="#{cidadeMB.excluir}"/>
            </p:contextMenu>
            <p:dataTable id="estados" value="#{cidadeMB.cidadesLazy}" var="cidade" 
                         paginator="true" rows="15" paginatorAlwaysVisible="false" 
                         paginatorPosition="bottom" lazy="true" 
                         rowKey="#{cidade.idCidade}" selection="#{cidadeMB.cidade}" selectionMode="single">
                <f:facet name="header">
                    Cidades
                </f:facet>
                <f:facet name="footer">
                    #{cidadeMB.cidades.size()} Registros encontrados.
                </f:facet>
                <p:column headerText="Cidade" filterBy="#{cidade.nome}" width="20%" sortBy="#{cidade.nome}">
                    <h:outputText value="#{cidade.nome}" />
                </p:column>
                <p:column headerText="Estado" filterBy="#{cidade.idEstado.sigla}" width="10%" sortBy="#{cidade.idEstado.nome}">
                    <center>
                        <h:outputText value="#{cidade.idEstado.sigla}"  />
                    </center>
                </p:column>
                <p:column headerText="CEP Unico" filterBy="#{cidade.cep}" sortBy="#{cidade.cep}">
                    <h:outputText value="#{cidade.cep}" />
                </p:column>
                <p:column headerText="Código IBGE" filterBy="#{cidade.codigoIBGE}" sortBy="#{cidade.codigoIBGE}">
                    <h:outputText value="#{cidade.codigoIBGE}" />
                </p:column>
            </p:dataTable>
        </h:form>
    </p:dialog>
</ui:composition>