<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:pe="http://primefaces.org/ui/extensions">

    <div class="row">
        <h:form id="frmCadastro">
            <div class="col-md-12">
                        <p:commandButton value="Novo" immediate="true" icon="Novo"  >
                            <p:ajax update="@form, :frmCadastro" listener="#{cidadeMB.novo()}"  resetValues="true"  />
                        </p:commandButton>
                        <p:commandButton  value="Salvar" action="#{cidadeMB.salvar()}" update=":frmCadastro, :msg,:frmConsultar" icon="Salvar"/>
                        <p:commandButton  value="Consultar" icon="Consultar"  update=":frmConsultar" action="#{cidadeMB.carregarDatatableCidade()}" oncomplete="PF('dlgConsulta').show()" />
                <hr/>
            </div>
            <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2">
                            <p:outputLabel for="cep" value="CEP Único"  />
                            <p:inputMask id="cep"  value="#{cidadeMB.cidade.cep}" onblur="pesquisacep(this.value);"    mask="99999-999" required="true" requiredMessage="CEP obrigatório!"  title="Informe o CEP para que possa ser pesquisado!">
                                <pe:tooltip for="cep" showEvent="focus" hideEvent="blur"/>  
                            </p:inputMask>
                        </div>
                        <div class="col-md-4">
                            <p:outputLabel for="nome" value="Nome" />
                            <p:inputText id="nome"   value="#{cidadeMB.cidade.nome}"  required="true" requiredMessage="Nome  obrigatório!" />
                        </div>
                        <div class="col-md-3">
                            <p:outputLabel for="sigla" value="Sigla" />
                            <p:selectOneMenu id="sigla" value="#{cidadeMB.estado.idEstado}" filter="true" filterMatchMode="contains" styleClass="form-control" required="true" requiredMessage="Estado obrigatório!">
                                <f:selectItem itemLabel="Selecione o estado" itemValue="" />
                                <f:selectItems value="#{estadoMB.listarEstados()}" var="ufs" 
                                               itemLabel="#{ufs.sigla} - #{ufs.nome}" itemValue="#{ufs.idEstado}" />
                            </p:selectOneMenu>
                        </div>
                        <div class="col-md-3">
                            <p:outputLabel for="codibge" value="Código IBGE" />
                            <p:inputText id="codibge" value="#{cidadeMB.cidade.codigoIBGE}"    />
                        </div>
                    </div>
               
            </div>
        </h:form>
    </div>
</ui:composition>