<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:bcr="http://java.sun.com/jsf/composite/bcr">



    <p:dialog widgetVar="dlgAdicionarFornecedor"  header="Adicionar Fornecedor"  resizable="false"   modal="true">
        <h:form id="frmAdicionarFornecedor">
            <div class="col-md-12">
                <p:outputLabel for="fornecedor" value="Forcenedor" />
                <bcr:atalhoDialogoOneMenu dialogName="dlgAtalhoFornecedor" nameWidgetVar="wvaFornecedor" nameFunc="atalhoFornecedor" valueToOpenDialog="Cadastrar Fornecedor" />
                <p:selectOneMenu id="fornecedor" value="#{produtoMB.fornecedor}" widgetVar="wvaFornecedor"  onchange="atalhoFornecedor(this)"
                                 converter="Converter" var="f"  filter="true" filterMatchMode="contains" 
                                 styleClass="form-control myClass" required="true" requiredMessage="Fornecedor é obrigatório!" >
                    <f:selectItem  itemLabel="Selecione o fornecedor" itemValue=""   />
                    <f:selectItems value="#{fornecedorMB.listaFornecedores()}" var="forn"
                                   itemLabel="#{forn.idFornecedor} - #{forn.nome} - #{forn.cgccpf} " itemValue="#{forn}" />
                    <f:selectItem itemLabel="Cadastrar Fornecedor" itemValue="cadForn" id="atalhocadastro"    />
                    <p:column>
                        <h:outputText value="#{f.idFornecedor}" />
                    </p:column>
                    <p:column>
                        <h:outputText value="#{f.nome}" />
                    </p:column>
                    <p:column>
                        <h:outputText value="#{f.cgccpf}" />
                    </p:column>
                    <p:ajax event="change" update="@this" />
                </p:selectOneMenu>

            </div>
            <div class="col-md-12">
                <hr/>
                <p:commandButton value="Adicionar" action="#{produtoMB.adicionarFornecedor()}" update=":frmCadastro:tabs:fornecedores" />
            </div>
        </h:form>
    </p:dialog>
    <p:dialog header="Cadastro de Fornecedor" widgetVar="dlgAtalhoFornecedor" modal="true"  width="50%" height="500"  position="top">
        <p:ajax event="close" update=":frmAdicionarFornecedor:fornecedor" />
        <iframe src="../Fornecedor/index.xhtml#conteudo"  width="100%" height="99%" />
    </p:dialog>
</ui:composition>