<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <p:dialog widgetVar="dlgConsulta"  header="Consulta de Usuários" width="80%" resizable="false" position="center top" >
                        <h:form id="frmConsultar">
                            <p:messages closable="true"/>
                            <p:contextMenu for="usuarios" >
                                <p:menuitem value="Editar"  icon="Editar" oncomplete="PF('dlgConsulta').hide()"  update=":frmCadastro"  />
                                <p:menuitem value="Excluir" update="@form" icon="Excluir" actionListener="#{usuarioMB.excluir()}"/>
                            </p:contextMenu>
                            <p:dataTable id="usuarios" value="#{usuarioMB.listaUsuarios()}" var="usu" 
                                         paginator="true" rows="15" paginatorAlwaysVisible="false" 
                                         paginatorPosition="bottom" lazy="true" 
                                         rowKey="#{usu.idUsuario}" selection="#{usuarioMB.usuario}" selectionMode="single">
                                <f:facet name="header">
                                    Usuários do Sistema
                                </f:facet>
                                <p:column headerText="Nome" filterBy="#{usu.nome}" width="20%" sortBy="#{usu.nome}">
                                    <h:outputText value="#{usu.nome}" />
                                </p:column>
                                <p:column headerText="Email" filterBy="#{usu.email}" width="20%" sortBy="#{usu.email}">
                                    <h:outputText value="#{usu.email}" />
                                </p:column>
                                <p:column headerText="Login" filterBy="#{usu.login}" width="20%" sortBy="#{usu.login}">
                                    <h:outputText value="#{usu.login}" />
                                </p:column>
                                <p:column headerText="Perfil" filterBy="#{usu.idPerfil.descricao}" width="20%" sortBy="#{usu.idPerfil.descricao}">
                                    <h:outputText value="#{usu.idPerfil.descricao}" />
                                </p:column>
                                <p:column headerText="Empresa" filterBy="#{usu.idEmpresa.idEmpresa}|#{usu.idEmpresa.nomeFantasia}" width="20%" sortBy="#{usu.idEmpresa.idEmpresa}|#{usu.idEmpresa.nomeFantasia}">
                                    <h:outputText value="#{usu.idEmpresa.idEmpresa}|#{usu.idEmpresa.nomeFantasia}" />
                                </p:column>
                                
                                <f:facet name="footer">
                                    #{usuarioMB.listaUsuarios().size()} Registros encontrados.
                                </f:facet>
                            </p:dataTable>
                        </h:form>
                    </p:dialog>
</ui:composition>