<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <body>

        <ui:composition template="./../../WEB-INF/Template.xhtml">

            <ui:define name="titulo">
                Cadastro de Usuário
            </ui:define>

            <ui:define name="descriptionpage">
                Nesta seção você pode cadastrar os usuários.
            </ui:define>

            <ui:define name="breadcrumb">
                Cadastro de Usuarios
            </ui:define>

            <ui:define name="content" id="conteudo">
                <div class="col-md-12">
                    <p:panel header="Cadastro de Usuários" >
                        <ui:include src="inserirUsuario.xhtml"/>
                        <ui:include src="consultarUsuario.xhtml"/>
                    </p:panel>
                </div>

            </ui:define>

        </ui:composition>

    </body>
</html>
