<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <div class="row">
        <h:form id="frmCadastro">
            <div class="col-md-12">
                        <p:commandButton value="Novo" immediate="true" icon="Novo" >
                            <p:ajax update="@form, :frmCadastro, :frmConsultar" listener="#{usuarioMB.novo()}"  resetValues="true"  />
                        </p:commandButton>
                        <p:commandButton  value="Salvar" action="#{usuarioMB.salvar()}" update=":frmCadastro, :msg" icon="Salvar"/>
                        <p:commandButton  value="Consultar" icon="Consultar" update=":frmConsultar" immediate="true"  oncomplete="PF('dlgConsulta').show()" />
                <hr/>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <p:outputLabel for="name" value="Nome" />
                        <p:inputText id="name" value="#{usuarioMB.usuario.nome}" required="true" requiredMessage="Informe o nome do usuário!" maxlength="255" />
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <p:outputLabel for="mail" value="Email" />
                        <p:inputText id="mail" value="#{usuarioMB.usuario.email}"  maxlength="100" />
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <p:outputLabel for="login" value="Login de Acesso" />
                        <p:inputText id="login" value="#{usuarioMB.usuario.login}" required="true" requiredMessage="Informe o login do usuário!" maxlength="20" />
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <p:outputLabel for="senha" value="Senha de Acesso" />
                        <p:inputText id="senha" value="#{usuarioMB.usuario.senha}" required="true" requiredMessage="Informe a senha do usuário!" maxlength="100" type="password" />
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <p:outputLabel for="perfil" value="Perfil" />
                        <p:selectOneMenu id="perfil" value="#{usuarioMB.usuario.idPerfil}" converter="Converter" required="true" requiredMessage="Informe o Perfil"
                                         styleClass="form-control" filter="true" filterMatchMode="contains" >
                            <f:selectItem itemLabel="Selecione o Perfil" itemValue=""/>
                            <f:selectItems value="#{usuarioMB.listaPerfis()}" var="perf"
                                           itemLabel="#{perf.descricao}" itemValue="#{perf}" />
                        </p:selectOneMenu>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <p:outputLabel for="empresa" value="Empresa" />
                        <p:selectOneMenu id="empresa" value="#{usuarioMB.usuario.idEmpresa}" converter="Converter" required="true" requiredMessage="Informe a Empresa"
                                         styleClass="form-control" filter="true" filterMatchMode="contains" var="e">
                            <f:selectItem itemLabel="Selecione a Empresa" itemValue=""/>
                            <f:selectItems value="#{empresaMB.listaEmpresas()}" var="emp"
                                           itemLabel="#{emp.idEmpresa} | #{emp.nomeFantasia} " itemValue="#{emp}" />
                            <p:column>
                                <h:outputText value="#{e.idEmpresa}" />
                            </p:column>
                            <p:column>
                                <h:outputText value="#{e.nomeFantasia}" />
                            </p:column>
                            <p:column>
                                <h:outputText value="#{e.razaoSocial}" />
                            </p:column>
                        </p:selectOneMenu>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <p:outputLabel for="ativo" value="Ativo" />
                        <p:selectOneRadio  id="ativo" value="#{usuarioMB.usuario.inativo}" required="true" requiredMessage="Informe se o usuário está ativo!" >
                            <f:selectItem itemLabel="Sim  " itemValue="1" />
                            <f:selectItem itemLabel="Não  " itemValue="0"   />
                        </p:selectOneRadio>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2">
                        <p:outputLabel for="dtCadastro" value="Data do Cadastro" />
                        <p:calendar id="dtCadastro" value="#{usuarioMB.usuario.dtCadastro}" showOn="false" readonly="true" pattern="dd/MM/yyyy" />
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2">
                        <p:outputLabel for="ultimaAtu" value="Ultima Atualização" />
                        <p:calendar id="ultimaAtu" value="#{usuarioMB.usuario.dtUltimaAtualizacao}" showOn="false" readonly="true" pattern="dd/MM/yyyy" />
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2">
                        <p:outputLabel for="ultimoAcess" value="Ultimo Acesso" />
                        <p:calendar id="ultimoAcess" value="#{usuarioMB.usuario.dtUltimoAcesso}" showOn="false" readonly="true" pattern="dd/MM/yyyy"/>
                    </div>
                </div>
            </div>
        </h:form>
    </div>

</ui:composition>