<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <div class="row">
        <h:form id="frmDtlAnalise">
            <div class="col-md-12">
                <p:commandButton   value="Analisar" action="#{requisicaoMaterialMB.processarValores()}" disabled="#{requisicaoMaterialMB.verificaParaAnalise()}" icon="Analisar" update=":tabs:frmAnalisar" oncomplete="PF('dlgAnalise').show()" />
                <p:commandButton   value="Aprovar Requisição"   icon="new_confirmar"  action="#{requisicaoMaterialMB.aprovarRequisicoes()}" update="@form, :msg, :tabs:frmRequisicaoMaterial" disabled="#{requisicaoMaterialMB.verificaSePodeAprovarRecusar()}"/>
                <p:commandButton   value="Recusar Requisicões"   icon="Recusar" action="#{requisicaoMaterialMB.recusarRequisicoes()}"  update="@form, :msg, :tabs:frmRequisicaoMaterial" disabled="#{requisicaoMaterialMB.verificaSePodeAprovarRecusar()}" />
                <hr/>
            </div>
            <div class="col-md-12">
                <p:dataTable id="teste" value="#{requisicaoMaterialMB.listaRequisicoesParaAnalise()}"   var="reqa"  paginator="true" rows="10" emptyMessage="Nenhuma requisição aguardando análise!" 
                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="5,10,15" paginatorAlwaysVisible="false" paginatorPosition="bottom"
                             selectionMode="multiple" 
                             selection="#{requisicaoMaterialMB.listaRequisicaoMaterialSelecionadas}" rowKey="#{reqa}" >
                    <p:ajax event="rowSelect" listener="#{requisicaoMaterialMB.semSelecionar()}"   update="@form" />
                    <p:ajax event="rowUnselect"  listener="#{requisicaoMaterialMB.semSelecionar()}"   update="@form" />
                    <f:facet name="header">
                        <h:outputText value="Requisições em Análise"  />
                        <h:commandLink title="Exportar para Excel">
                            <p:graphicImage name="/icons/Excel.png" />
                            <p:dataExporter type="xls" target="teste" fileName="Requisições_Em_Analise"  />
                        </h:commandLink>
                        <h:commandLink title="Exportar para PDF">
                            <p:graphicImage name="/icons/Pdf.png" />
                            <p:dataExporter type="pdf" target="teste" fileName="Requisições_Em_Analise"  />
                        </h:commandLink>
                    </f:facet>
                    <p:column style="width: 3.5%">
                        <p:rowToggler />
                    </p:column>
                    <p:column headerText="ID" width="5%" style="text-align: center">
                        <h:outputText value="#{reqa.idRequisicaoMaterial}" />
                    </p:column>
                    <p:column headerText="Cliente" width="20%" >
                        <h:outputText value="#{reqa.idCliente.nome}" />                    
                    </p:column>

                    <p:column headerText="Local de Trabalho" width="10%"  styleClass="hidden-xs hidden-sm">
                        <h:outputText value="#{reqa.idLocalTrabalho.descricao}" />                    
                    </p:column>
                    <p:column headerText="Solicitação" width="10%" style="text-align: center">
                        <h:outputText value="#{reqa.dtCadastro}" >
                            <f:convertDateTime pattern="dd/MM/yyyy"/>
                        </h:outputText>
                    </p:column>
                    <p:column headerText="Usuário" width="10%" styleClass="hidden-xs hidden-sm" >
                        <h:outputText value="#{reqa.idUsuario.nome == null ? reqa.idUsuario.login : reqa.idUsuario.nome}" />
                    </p:column>
                    <p:column headerText="Status" width="10%" style="text-align: center">
                        <h:outputText value="#{reqa.status}" />                    
                    </p:column>
                    <p:column headerText="Valor Total" width="10%" style="text-align: center">
                        <h:outputText value="#{reqa.valor}" >
                            <f:convertNumber type="currency" minFractionDigits="2" maxFractionDigits="2" />
                        </h:outputText>
                    </p:column>
                    <p:rowExpansion>
                        <p:dataTable value="#{reqa.requisicaoMaterialItemList}" var="reqaItem" style="width: 80%" >
                            <f:facet name="header">
                                Itens da Requisição
                            </f:facet> 
                            <p:column headerText="Produto" width="25%">
                                <h:outputText value="#{reqaItem.idProduto.descricao}" />
                            </p:column>
                            <p:column headerText="Unidade" width="10%">
                                <h:outputText value="#{reqaItem.idProduto.idUnidadeSaida.descricaoResumida}" />
                            </p:column>
                            <p:column headerText="Valor Unitário" width="10%" style="text-align: center">
                                <h:outputText value="#{reqaItem.vlrUnitario}" >
                                    <f:convertNumber type="currency" minFractionDigits="2" maxFractionDigits="2" />
                                </h:outputText>
                            </p:column>
                            <p:column headerText="Quantidade" width="10%" style="text-align: center">
                                <h:outputText value="#{reqaItem.quantidade}" />
                            </p:column>
                            <p:column headerText="Valor Total" width="10%" style="text-align: center">
                                <h:outputText value="#{reqaItem.quantidade * reqaItem.vlrUnitario}" >
                                    <f:convertNumber type="currency" minFractionDigits="2" maxFractionDigits="2" />
                                </h:outputText>
                            </p:column>
                        </p:dataTable>
                    </p:rowExpansion>
                </p:dataTable>
            </div>
        </h:form>
        <p:dialog widgetVar="dlgAnalise" header="Análise de Requisição" modal="true" width="80%" position="top" resizable="false">
            <h:form id="frmAnalisar">
                <div class="row">
                    <p:messages />
                    <div class="col-xs-12 col-sm-6 col-md-6 col-sm-4" >
                        <h:outputText value="Cliente: " class="h5"/>
                        <h:outputText value="#{requisicaoMaterialMB.requisicaoMaterial.idCliente.nome}" class="small" />
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-sm-4" >
                        <h:outputText value="Local de Trabalho: " class="h5" />
                        <h:outputText value="#{requisicaoMaterialMB.requisicaoMaterial.idLocalTrabalho.descricao}"  class="small" />
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-sm-1" >
                        <h:outputText value="Data: " class="h5" />
                        <h:outputText value="#{requisicaoMaterialMB.requisicaoMaterial.dtCadastro}" class="small"  >
                            <f:convertDateTime pattern="dd/MM/yyyy" />
                        </h:outputText>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-sm-1" >
                        <h:outputText value="Valor: " class="h5" />
                        <h:outputText value="#{requisicaoMaterialMB.requisicaoMaterial.valor}" >
                            <f:convertNumber type="currency" minFractionDigits="2" maxFractionDigits="2" class="small"  />
                        </h:outputText>
                    </div>
                    <div class="col-xs-12" >
                        <hr/>
                        <p:dataTable value="#{requisicaoMaterialMB.requisicaoMaterial.requisicaoMaterialItemList}" var="itm" paginator="true" paginatorAlwaysVisible="false" paginatorPosition="bottom" rows="10" editable="true" editMode="cell"> 
                            <f:facet name="header" > 
                                Itens Para Serem Analisados
                            </f:facet>

                            <p:column headerText="Produto"  width="20%">
                                <h:outputText value="#{itm.idProduto.descricao}" />
                            </p:column>
                            <p:column headerText="Medida" width="5%" style="text-align: center">
                                <h:outputText value="#{itm.idProduto.idUnidadeSaida.descricaoResumida}" />
                            </p:column>
                            <p:column headerText="Qtd Lançada" width="8%" style="text-align: center">
                                <h:outputText value="#{itm.quantidade}" />
                            </p:column>
                            <p:column headerText="Qtd Aprovada" width="8%" style="text-align: center; " >
                                <p:cellEditor>
                                    <f:facet name="output">
                                        <h:outputText value="#{itm.quantidadeAprovada}" style="color: #009900 !important;" />
                                    </f:facet>
                                    <f:facet name="input">
                                        <p:inputText value="#{itm.quantidadeAprovada}" style="width:96%; color: #009900 !important;" >
                                            <p:ajax  event="blur" update="vlrTotal,stat" />
                                        </p:inputText>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>
                            <p:column headerText="Vlr Unit" width="8%" style="text-align: center" >
                                <h:outputText value="#{itm.vlrUnitario}" >
                                    <f:convertNumber type="currency" />
                                </h:outputText>
                            </p:column>
                            <p:column headerText="Vlr Tot" width="8%" style="text-align: center">
                                <h:outputText id="vlrTotal" value="#{itm.vlrUnitario * itm.quantidadeAprovada}" >
                                    <f:convertNumber type="currency" />
                                </h:outputText>
                            </p:column>
                            <p:column headerText="Status" width="8%" style="text-align: center">
                                <h:outputText id="stat"  value="#{itm.quantidadeAprovada==0 ? 'Recusado':'Aceito'}" styleClass="#{itm.quantidadeAprovada == 0 ? 'label label-danger':'label label-success'}" />
                            </p:column>
                            <p:column width="5%" >
                                <center>
                                    <p:commandButton  icon="Recusar" action="#{requisicaoMaterialMB.recusar_item(itm)}" update="@form" title="Recusar Item" />
                                </center>
                            </p:column>
                        </p:dataTable>
                    </div>
                    <div class="col-xs-12" >
                        <hr/>
                        <p:commandButton  value="Salvar e Aceitar Requisição" icon="Salvar"  action="#{requisicaoMaterialMB.aprovarRequisicao()}" update="@form, :msg, :tabs:frmDtlAnalise, :tabs:frmRequisicaoMaterial" oncomplete="PF('dlgAnalise').hide();"/>
                        <p:commandButton  value="Recusar Requisição" icon="Recusar" action="#{requisicaoMaterialMB.recusarRequisicao()}" update="@form, :msg, :tabs:frmDtlAnalise, :tabs:frmRequisicaoMaterial" oncomplete="PF('dlgAnalise').hide();" />
                    </div>

                </div>
            </h:form>
        </p:dialog>
    </div>
</ui:composition>