<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <h:form id="frmRequisicaoMaterial">

        <div class="col-md-12">
            <p:commandButton   value="Novo Lançamento" icon="Novo" action="#{requisicaoMaterialMB.novo()}" oncomplete="PF('dlgLancarRequisicao').show();"  update=":tabs:frmLancarRequisicao"/>
            <p:commandButton   value="Pesquisar" icon="Consultar" oncomplete="PF('dlgPesquisa').show()" />
            <hr/>
        </div>
        <div class="col-md-12">
            <p:contextMenu id="contexto" for="dtblRequisicaoMaterial">
                <p:menuitem value="Ver"  icon="Info" onclick="PF('dlgVerRequisicao').show();" update=":tabs:frmVerRequisicao" />
                <p:menuitem value="Editar" icon="Editar" disabled="#{!requisicaoMaterialMB.verificaSePodeEditar()}"  update=":tabs:frmLancarRequisicao" oncomplete="PF('dlgLancarRequisicao').show();"/>
                <p:menuitem value="Excluir"  icon="Excluir" disabled="#{!requisicaoMaterialMB.verificaSePodeEditar()}" action="#{requisicaoMaterialMB.Excluir()}" update="@form, :msg" />
            </p:contextMenu>
            <p:dataTable id="dtblRequisicaoMaterial" value="#{requisicaoMaterialMB.model}" lazy="true"  var="req"  paginator="true" rows="10" emptyMessage="Nenhuma requisição localizada!" 
                         paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                         rowsPerPageTemplate="5,10,15" paginatorAlwaysVisible="false" paginatorPosition="bottom"
                         selectionMode="single" 
                         selection="#{requisicaoMaterialMB.requisicaoMaterial}" rowKey="#{req}" >
                <p:ajax event="rowSelect" listener="#{requisicaoMaterialMB.semSelecionar()}"   update="@form" />
                <p:ajax event="rowUnselect"  listener="#{requisicaoMaterialMB.semSelecionar()}"   update="@form" />
                <f:facet name="header">
                    <h:outputText value="Requisições"  />
                    <h:commandLink title="Exportar para Excel">
                        <p:graphicImage name="/icons/Excel.png" />
                        <p:dataExporter type="xls" target="dtblRequisicaoMaterial" fileName="Requisições"  />
                    </h:commandLink>
                    <h:commandLink title="Exportar para PDF">
                        <p:graphicImage name="/icons/Pdf.png" />
                        <p:dataExporter type="pdf" target="dtblRequisicaoMaterial" fileName="Requisições"  />
                    </h:commandLink>
                </f:facet>
                <p:column style="width: 3.5%">
                    <p:rowToggler />
                </p:column>
                <p:column headerText="ID" width="5%" style="text-align: center">
                    <h:outputText value="#{req.idRequisicaoMaterial}" />
                </p:column>
                <p:column headerText="Cliente" width="20%" >
                    <h:outputText value="#{req.idCliente.nome}" />                    
                </p:column>
              
                <p:column headerText="Local de Trabalho" width="10%"  styleClass="hidden-xs hidden-sm" >
                    <h:outputText value="#{req.idLocalTrabalho.descricao}" />                    
                </p:column>
                <p:column headerText="Solicitação" width="10%" style="text-align: center">
                    <h:outputText value="#{req.dtCadastro}" >
                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                    </h:outputText>
                </p:column>
                <p:column headerText="Usuário" width="10%"  styleClass="hidden-xs hidden-sm">
                    <h:outputText value="#{req.idUsuario.nome == null ? req.idUsuario.login : req.idUsuario.nome}" />
                </p:column>
                <p:column headerText="Status" width="10%" style="text-align: center">
                    <h:outputText value="#{req.status}" styleClass="#{requisicaoMaterialMB.statusRequisicao(req.status)}" />                    
                </p:column>
                <p:column headerText="Valor Total" width="10%" style="text-align: center">
                    <h:outputText value="#{req.valor}" >
                        <f:convertNumber type="currency" minFractionDigits="2" maxFractionDigits="2" />
                    </h:outputText>
                </p:column>
                <p:rowExpansion>
                    <p:dataTable value="#{req.requisicaoMaterialItemList}" var="reqItem" style="width: 80%" >
                        <p:column headerText="Produto" width="25%">
                            <h:outputText value="#{reqItem.idProduto.descricao}" />
                        </p:column>
                        <p:column headerText="Unidade" width="10%">
                            <h:outputText value="#{reqItem.idProduto.idUnidadeSaida.descricaoResumida}" />
                        </p:column>
                        <p:column headerText="Valor Unitário" width="10%" style="text-align: center">
                            <h:outputText value="#{reqItem.vlrUnitario}" >
                                <f:convertNumber type="currency" minFractionDigits="2" maxFractionDigits="2" />
                            </h:outputText>
                        </p:column>
                        <p:column headerText="Quantidade" width="10%" style="text-align: center">
                            <h:outputText value="#{reqItem.quantidade}" />
                        </p:column>
                        <p:column headerText="Valor Total" width="10%" style="text-align: center">
                            <h:outputText value="#{reqItem.quantidade * reqItem.vlrUnitario}" >
                                  <f:convertNumber type="currency" minFractionDigits="2" maxFractionDigits="2" />
                            </h:outputText>
                        </p:column>
                    </p:dataTable>
                </p:rowExpansion>
            </p:dataTable>
        </div>
    </h:form>
</ui:composition>