<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:bcr="http://java.sun.com/jsf/composite/bcr">

    <p:dialog  header="Lançar Requisição de Material" widgetVar="dlgLancarRequisicao" modal="true" width="70%" height="90%" resizable="false" position="top"  closeOnEscape="true" showEffect="fade" hideEffect="fade" >
        <h:form id="frmLancarRequisicao"  >
            <p:messages  closable="true" />
            <p:tabView id="tabs">
                <p:tab title="Cabeçalho">
                    <div class="row">
                        <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
                            <p:outputLabel for="localTrabalho" value="Local de Trabalho" />
                            <p:selectOneMenu id="localTrabalho" value="#{requisicaoMaterialMB.requisicaoMaterial.idLocalTrabalho}" 
                                             filter="true" filterMatchMode="contains"   converter="Converter"
                                             styleClass="form-control myClass" required="true" requiredMessage="Local de trabalho é obrigatório." >
                                <f:selectItem  itemLabel="Selecione o local de trabalho" itemValue=""   />
                                <f:selectItems value="#{localTrabalhoMB.listarLocaisDeTrabalho()}" var="local"
                                               itemLabel="#{local.idLocalTrabalho} - #{local.descricao}" itemValue="#{local}" />
                                <p:ajax event="change" update="cliente" listener="#{requisicaoMaterialMB.setarCliente()}" />
                            </p:selectOneMenu>
                        </div>
                        
                        <div class="col-xs-12 col-sm-7 col-md-5 col-lg-4">
                            <p:outputLabel for="cliente" value="Cliente" />
                            <p:selectOneMenu id="cliente" value="#{requisicaoMaterialMB.requisicaoMaterial.idCliente}" widgetVar="wvaCliente3" disabled="true"
                                             converter="Converter" var="c3"  filter="true" filterMatchMode="contains" 
                                             styleClass="form-control myClass" required="true" requiredMessage="Cliente é obrigatório!" >
                                <f:selectItem  itemLabel="Selecione o Cliente" itemValue=""   />
                                <f:selectItems value="#{clienteMB.listarTodosClientes()}" var="clie3"
                                               itemLabel="#{clie3.idCliente} - #{clie3.nome}" itemValue="#{clie3}" />
                                <f:selectItem itemLabel="Cadastrar Cliente" itemValue="cadClien"    />
                                <p:column>
                                    <h:outputText value="#{c3.idCliente}" />
                                </p:column>
                                <p:column>
                                    <h:outputText value="#{c3.nome}" />
                                </p:column>
                                <p:column>
                                    <h:outputText value="#{c3.cgccpf}" />
                                </p:column>
                            </p:selectOneMenu>
                        </div>
                        

                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                            <p:outputLabel for="data" value="Data Solicitação"/>
                            <p:calendar value="#{requisicaoMaterialMB.requisicaoMaterial.dtCadastro}" id="data" 
                                        pattern="dd/MM/yyyy" mask="99/99/9999" locale="pt" showButtonPanel="true" 
                                        navigator="true"/>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                            <p:outputLabel for="valor" value="Valor Total:"/>
                            <pe:inputNumber id="valor" symbol="R$ " value="#{requisicaoMaterialMB.requisicaoMaterial.valor}" 
                                            disabled="true"
                                            decimalSeparator="," thousandSeparator="."/>
                        </div>

                        <div class="col-xs-8 col-sm-8 col-md-6 col-lg-2" style="display: none;" >
                            <p:outputLabel for="status" value="Status"/>
                            <p:selectOneMenu id="status" styleClass="form-control" value="#{requisicaoMaterialMB.requisicaoMaterial.status}" disabled="true">
                                <f:selectItem itemLabel="Emitido" itemValue="Emitido"/>
                                <f:selectItem itemLabel="Em Análise" itemValue="Em Analise"/>
                                <f:selectItem itemLabel="Aprovado" itemValue="Aprovado"/>
                                <f:selectItem itemLabel="Recusado" itemValue="Recusado"/>
                                <f:selectItem itemLabel="Em Andamento" itemValue="Em Andamento"/>
                                <f:selectItem itemLabel="Finalizado" itemValue="Finalizado"/>
                            </p:selectOneMenu>
                        </div>
                    </div>
                </p:tab>
                <p:tab title="Itens">
                    <div class="row">
                        <hr/>
                        <div class="col-xs-9 col-sm-8 col-md-4 col-lg-4">
                            <p:outputLabel for="produto" value="Produto:" />
                            <bcr:atalhoDialogoOneMenu dialogName="dlgProduto" nameFunc="atalhoProduto" nameWidgetVar="wvaProduto"  valueToOpenDialog="Cadastrar Produto"/>
                            <p:selectOneMenu id="produto" value="#{requisicaoMaterialMB.requisicaoMaterialItem.idProduto}" widgetVar="wvaProduto"  onchange="atalhoProduto(this)"
                                             converter="Converter" var="pro"  filter="true" filterMatchMode="contains" 
                                             styleClass="form-control myClass"  >
                                <f:selectItem  itemLabel="Selecione um produto" itemValue=""   />
                                <f:selectItems value="#{produtoMB.listarProdutos()}" var="prod"
                                               itemLabel="#{prod.idProduto} - #{prod.descricao} - #{prod.idUnidadeSaida.descricaoResumida} " itemValue="#{prod}" />
                                <f:selectItem itemLabel="Cadastrar Produto" itemValue="cadProduto"    />
                                <p:column>
                                    <h:outputText value="#{pro.idProduto}" />
                                </p:column>
                                <p:column>
                                    <h:outputText value="#{pro.descricao}" />
                                </p:column>
                                <p:column>
                                    <h:outputText value="#{pro.idUnidadeSaida.descricaoResumida}" />
                                </p:column>
                                <p:ajax event="change" update="un, valorUnitario, quantidade " listener="#{requisicaoMaterialMB.setarValores()}" />
                            </p:selectOneMenu>
                        </div>
                        <div class="col-xs-3 col-sm-4 col-md-2 col-lg-1">
                            <p:outputLabel for="un" value="Unidade" />
                            <p:inputText value="#{requisicaoMaterialMB.requisicaoMaterialItem.idProduto.idUnidadeEntrada.descricaoResumida}" id="un" readonly="true"/>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                            <p:outputLabel for="quantidade" value="Quantidade:" />
                            <pe:inputNumber value="#{requisicaoMaterialMB.requisicaoMaterialItem.quantidade}" id="quantidade" decimalSeparator="," thousandSeparator="." minValue="1">
                                <p:ajax event="blur" update="valorTotal" />
                            </pe:inputNumber>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
                            <p:outputLabel for="valorUnitario" value="Valor Unitário:"  />
                            <pe:inputNumber value="#{requisicaoMaterialMB.requisicaoMaterialItem.vlrUnitario}" minValue="0"  symbol="R$ " decimalSeparator="," thousandSeparator="."  id="valorUnitario">
                                <p:ajax event="blur" update="valorTotal" />
                            </pe:inputNumber>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                            <p:outputLabel for="valorTotal" value="Valor Total:" />
                            <h:panelGrid columns="3">
                                <p:commandButton   icon="new_adicionar" action="#{requisicaoMaterialMB.adicionarItem()}" update="@form"/>
                                &nbsp;
                                <pe:inputNumber value="#{requisicaoMaterialMB.requisicaoMaterialItem.quantidade * requisicaoMaterialMB.requisicaoMaterialItem.vlrUnitario}" minValue="0" id="valorTotal" decimalSeparator="," thousandSeparator="." symbol="R$ "  disabled="true"/>
                            </h:panelGrid>
                        </div>
                    </div>
                    <div class="row">
                        <hr/>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <p:dataTable id="dtblItensRequisicaoMaterial" value="#{requisicaoMaterialMB.requisicaoMaterial.requisicaoMaterialItemList}" var="reqItens"  paginator="true" rows="10" emptyMessage="Nenhum item adicionado." 
                                         paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                         rowsPerPageTemplate="5,10,15" paginatorAlwaysVisible="false" paginatorPosition="bottom"  rowIndexVar="ivar"
                                         rowKey="#{reqItens.idRequisicaoMaterialItem}" >
                                <f:facet name="header">
                                    <h:outputText value="Itens da Requisição"  />
                                </f:facet>
                                <p:column headerText="ID Produto" width="10%" style="text-align: center" styleClass="hidden-xs hidden-sm ">
                                    <h:outputText value="#{reqItens.idProduto.idProduto}" />
                                </p:column>
                                <p:column headerText="Descrição" width="20%" style="text-align: center">
                                    <h:outputText value="#{reqItens.descricao}" />                    
                                </p:column>
                                <p:column headerText="Qtd." width="10%" style="text-align: center">
                                    <h:outputText value="#{reqItens.quantidade}" />                    
                                </p:column>
                                <p:column headerText="Valor Unitário" width="10%" style="text-align: center">
                                    <h:outputText value="#{reqItens.vlrUnitario}" >
                                        <f:convertNumber type="currency" minFractionDigits="2" maxFractionDigits="2" />
                                    </h:outputText>
                                </p:column>
                                <p:column headerText="Valor Total" width="10%" style="text-align: center" styleClass="hidden-xs">
                                    <h:outputText value="#{reqItens.quantidade * reqItens.vlrUnitario}" >
                                        <f:convertNumber type="currency" minFractionDigits="2" maxFractionDigits="2" />
                                    </h:outputText>
                                </p:column>
                                <p:column width="10%" style="text-align: center">
                                    <p:commandButton id="btnExcluir"  icon="new_limpar" action="#{requisicaoMaterialMB.removerItemRequisicaoMaterial(ivar)}" update="@form"/>
                                </p:column>
                                <f:facet name="footer">
                                    <h:outputText  value="Valor Total: #{requisicaoMaterialMB.calcularValoresListaRequisicao()}" />
                                </f:facet>
                            </p:dataTable>
                        </div>
                    </div>
                </p:tab>
            </p:tabView>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                <hr/>
                <p:commandButton value="Confirmar" icon="new_confirmar"  action="#{requisicaoMaterialMB.Salvar()}" update="@form, :msg, :tabs:frmRequisicaoMaterial " oncomplete="if (!args.validationFailed){PF('dlgLancarRequisicao').hide();}" />
                <p:commandButton   value="Nova Requisição" icon="Novo" action="#{requisicaoMaterialMB.novo()}"   update="@form"/>
                <br/>
                <hr/>
            </div>
        </h:form>
    </p:dialog>

</ui:composition>