<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <p:dialog id="dlgPesquisa" header="Pesquisa de Requisições de Materiais" widgetVar="dlgPesquisa" modal="true" width="50%" showEffect="fade" hideEffect="fade" closeOnEscape="true">
        <h:form id="frmPesquisaRequisicao">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <h:outputText value="Cliente" />
                    <p:selectOneMenu value=""  styleClass="form-control" filter="true" filterMatchMode="contains" var="clix" converter="Converter" >
                        <f:selectItem itemLabel="Selecione o Cliente"  itemValue="" />
                        <f:selectItems value="#{clienteMB.listarTodosClientes()}" var="cli"
                                       itemLabel="#{cli.nome}" itemValue="#{cli}"/>
                        <p:column>
                            <h:outputText value="#{clix.nome}"/>
                        </p:column>
                        <p:column>
                            <h:outputText value="#{clix.cgccpf}"/>
                        </p:column>
                    </p:selectOneMenu>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <h:outputText value="Por Solicitação" />
                    <h:panelGrid columns="3" style="width: 100%">
                        <p:calendar  placeholder="Data Inicial"/>
                        &nbsp;
                        <p:calendar  placeholder="Data Final"/>
                    </h:panelGrid>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <h:outputText value="Local de Trabalho" />
                    <p:selectOneMenu value=""  styleClass="form-control" filter="true" filterMatchMode="contains"  converter="Converter" >
                        <f:selectItem itemLabel="Selecione o Local"  itemValue="" />
                        <f:selectItems value="#{localTrabalhoMB.listarLocaisDeTrabalho()}" var="loc"
                                       itemLabel="#{loc.descricao}" itemValue="#{loc}"  />
                    </p:selectOneMenu>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <h:outputText value="Status" />
                    <p:selectOneMenu value=""  styleClass="form-control">
                        <f:selectItem itemLabel="Emitido" itemValue="Emitido"/>
                        <f:selectItem itemLabel="Em Análise" itemValue="Em Analise"/>
                        <f:selectItem itemLabel="Aprovado" itemValue="Aprovado"/>
                        <f:selectItem itemLabel="Recusado" itemValue="Recusado"/>
                        <f:selectItem itemLabel="Em Andamento" itemValue="Em Andamento"/>
                        <f:selectItem itemLabel="Finalizado" itemValue="Finalizado"/>
                    </p:selectOneMenu>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <hr/>
                    <p:commandButton   value="Pesquisar" icon="Consultar" update=":tabs:frmRequisicaoMaterial" oncomplete="PF('dlgPesquisa').hide()" />
                </div>
            </div>
        </h:form>
    </p:dialog>
</ui:composition>