<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <p:dialog widgetVar="dlgVerRequisicao" header="Info Requisição" width="60%" modal="true" position="top" showEffect="fade" hideEffect="fade"  >
        <h:form id="frmVerRequisicao" >
            <div class="row">
                <div class="col-lg-12">
                    <strong>Cliente: #{requisicaoMaterialMB.requisicaoMaterial.idCliente.nome}</strong><br/>
                    <span>Aplicação: #{requisicaoMaterialMB.requisicaoMaterial.idLocalTrabalho.descricao}</span>
                    <hr/>
                </div>
                <div class="col-md-4">
                    <h:panelGrid columns="2" styleClass="gridInfo" columnClasses="colunmOneMin, colunmTwoMax">
                        <h:outputText value="Data de Lançamento" />
                        <h:outputText value="#{requisicaoMaterialMB.requisicaoMaterial.dtCadastro}" >
                            <f:convertDateTime pattern="dd/MM/yyyy"  />
                        </h:outputText>
                        <h:outputText value="Data de Últ. Revisão" />
                        <h:outputText value="#{requisicaoMaterialMB.requisicaoMaterial.dtAtualizacao}" >
                            <f:convertDateTime pattern="dd/MM/yyyy"  />
                        </h:outputText>
                        <h:outputText value="Valor" />
                        <h:outputText value="#{requisicaoMaterialMB.requisicaoMaterial.valor}" >
                            <f:convertNumber type="currency"  minFractionDigits="2" maxFractionDigits="2"  />
                        </h:outputText>
                    </h:panelGrid>
                </div>
                <div class="col-md-4">
                    <h:panelGrid columns="2" styleClass="gridInfo" columnClasses="colunmOneMin, colunmTwoMax">
                        <h:outputText value="Status" />
                        <h:outputText value="#{requisicaoMaterialMB.requisicaoMaterial.status}" />
                        <h:outputText value="Usuário" />
                        <h:outputText value="#{requisicaoMaterialMB.requisicaoMaterial.idUsuario.nome}" />
                    </h:panelGrid>
                </div>
                <div class="col-md-4">

                </div>
                <div class="col-md-12">
                    <hr/>
                    <p:dataTable value="#{requisicaoMaterialMB.requisicaoMaterial.requisicaoMaterialItemList}" var="reqItens" >
                        <p:column headerText="ID">
                            <h:outputText value="#{reqItens.idProduto.idProduto}"/>
                        </p:column>
                        <p:column headerText="Descrição">
                            <h:outputText value="#{reqItens.idProduto.descricao}"/>
                        </p:column>
                        <p:column headerText="Quantidade">
                            <h:outputText value="#{reqItens.quantidade}"/>
                        </p:column>
                        <p:column headerText="Valor Unitário" style="text-align: center" width="10%">
                            <h:outputText value="#{reqItens.vlrUnitario}">
                                <f:convertNumber type="currency" minFractionDigits="2" maxFractionDigits="2" />
                            </h:outputText>
                        </p:column>
                        <p:column headerText="Sub-Total" style="text-align: center" width="10%">
                            <h:outputText value="#{reqItens.quantidade * reqItens.vlrUnitario}">
                                <f:convertNumber type="currency" minFractionDigits="2" maxFractionDigits="2" />
                            </h:outputText>
                        </p:column>
                    </p:dataTable>
                </div>
            </div>
        </h:form>
    </p:dialog>
</ui:composition>