<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:bcr="http://java.sun.com/jsf/composite/bcr">

    <div class="row">
        <h:form id="frmCadastro">
            <div class="col-md-12">
                        <p:commandButton value="Novo" immediate="true" icon="Novo"  >
                            <p:ajax update="@form, :frmCadastro" listener="#{contaCorrenteMB.novo()}"  resetValues="true"  />
                        </p:commandButton>
                        <p:commandButton  value="Salvar" action="#{contaCorrenteMB.salvar()}" update=":frmCadastro, :msg,:frmConsultar" icon="Salvar">
                            <f:param name="id_empresa" value="#{sessaoMB.usuario.idEmpresa.idEmpresa}"  />
                            <f:param name="mode" value="true"  />
                        </p:commandButton>

                        <p:commandButton  value="Consultar" icon="Consultar"  update=":frmConsultar" oncomplete="PF('dlgConsulta').show()" />
                <hr/>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <p:outputLabel for="nun_agencia" value="Nº Agencia"  />
                        <p:inputText value="#{contaCorrenteMB.contaCorrente.numAgencia}" id="nun_agencia" required="#{param['mode']}" requiredMessage="Número da agencia é obrigatório!" />
                    </div>
                    <div class="col-md-3">
                        <p:outputLabel for="nun_conta" value="Nº Conta"  />
                        <p:inputText value="#{contaCorrenteMB.contaCorrente.numConta}" id="nun_conta" required="#{param['mode']}" requiredMessage="Número da conta é obrigatório!" />
                    </div>
                    <div class="col-md-3">
                        <p:outputLabel for="gestor" value="Gestor"  />
                        <p:inputText value="#{contaCorrenteMB.contaCorrente.gestor}" id="gestor" required="#{param['mode']}" requiredMessage="Gestor é obrigatório!" />
                    </div>
                    <div class="col-md-3">
                        <p:outputLabel for="saldoInicial" value="Saldo Inicial"  />
                        <pe:inputNumber value="#{contaCorrenteMB.movimentobancario.valor}" id="saldoInicial" symbol="R$ " decimalSeparator="," thousandSeparator="."  minValue="-99999999999999999"
                                        required="#{param['mode']}" readOnly="#{contaCorrenteMB.contaCorrente.idContaCorrente != null?'true':'false'}" requiredMessage="Gestor é obrigatório!" />
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                        <p:outputLabel for="banco" value="Banco"/>
                        <h:panelGrid columns="2" style="width: 100%;">
                            <bcr:atalhoDialogoOneMenu dialogName="dlgAtalhoBanco" nameWidgetVar="wvaBanco" nameFunc="atalhoBanco" valueToOpenDialog="Cadastrar Banco" />
                            <p:selectOneMenu id="banco" value="#{contaCorrenteMB.banco}" converter="Converter" 
                                             widgetVar="wvaBanco" onchange="atalhoBanco(this)"
                                             styleClass="form-control" filter="true" filterMatchMode="contains" var="banco" >
                                <f:selectItem itemLabel="Selecione o Banco" itemValue="" />
                                <f:selectItems value="#{bancoMB.listarBancos()}" var="bancos"
                                               itemLabel="#{bancos.idBanco} | #{bancos.nome}" itemValue="#{bancos}" />
                                <f:selectItem itemLabel="Cadastrar Banco" itemValue="cadbc" />
                                <p:column>
                                    <h:outputText value="#{banco.idBanco}" />
                                </p:column>
                                <p:column>
                                    <h:outputText value="#{banco.nome}" />
                                </p:column>
                                <p:column>
                                    <h:outputText value="#{banco.numeroBanco}" />
                                </p:column>
                            </p:selectOneMenu>
                            <p:dialog header="Cadastro de Banco" widgetVar="dlgAtalhoBanco" modal="true"  width="50%" height="500"  position="top">
                                <p:ajax event="close" update="banco" />
                                <iframe src="../Banco/index.xhtml"  width="100%" height="99%" />
                            </p:dialog>
                        </h:panelGrid>

                    </div>
                </div>
            </div>
        </h:form>
    </div>
</ui:composition>
