<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <p:dialog widgetVar="dlgConsulta" modal="true" header="Consulta de Banco" width="80%" resizable="false" position="center top" >
        <p:messages id="msg2" closable="true"/>
        <h:form id="frmConsultar">
            <p:contextMenu for="banco" >
                <p:menuitem value="Editar"  icon="Editar" oncomplete="PF('dlgConsulta').hide()"  update=":frmCadastro"  />
                <p:menuitem value="Excluir" update="@form,:msg2" icon="Excluir" actionListener="#{bancoMB.excluir()}"/>
            </p:contextMenu>

            <p:dataTable id="banco" value="#{bancoMB.listarBancos()}" var="banco" paginator="true" rows="15" paginatorAlwaysVisible="false" 
                         paginatorPosition="bottom" emptyMessage="Nenhum registro encontrado!"
                         rowKey="#{banco.idBanco}" selection="#{bancoMB.banco}" selectionMode="single">
                <f:facet name="header">
                    Banco
                </f:facet>
                <f:facet name="footer">
                    #{bancoMB.listarBancos().size()} Registros encontrados.
                </f:facet>

                <p:column headerText="Código" filterBy="#{banco.idBanco}" width="8%" sortBy="#{banco.idBanco}">
                    <center>
                        <h:outputText value="#{banco.idBanco}" />
                    </center>
                </p:column>
                <p:column headerText="Nome" filterBy="#{banco.nome}" width="20%" sortBy="#{banco.nome}">
                    <h:outputText value="#{banco.nome}" />
                </p:column>
                <p:column headerText="Numero do Banco" filterBy="#{banco.numeroBanco}" width="20%" sortBy="#{banco.numeroBanco}">
                    <h:outputText value="#{banco.numeroBanco}" />
                </p:column>
                <p:column headerText="Numero do Banco Exportação" filterBy="#{banco.numeroBancoExp}" width="20%" sortBy="#{banco.numeroBancoExp}">
                    <h:outputText value="#{banco.numeroBancoExp}" />
                </p:column>
            </p:dataTable>
        </h:form>
    </p:dialog>
</ui:composition>