<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

        <h:form id="frmCadastro">
                <div class="row">
            <div class="col-md-12">
                        <p:commandButton value="Novo" immediate="true" icon="Novo"  >
                            <p:ajax update="@form, :frmCadastro" listener="#{bancoMB.novo()}"  resetValues="true"  />
                        </p:commandButton>
                        <p:commandButton  value="Salvar" action="#{bancoMB.salvar()}" update=":frmCadastro, :msg,:frmConsultar" icon="Salvar">
                            <f:param name="id_empresa" value="#{sessaoMB.usuario.idEmpresa.idEmpresa}"  />
                            <f:param name="mode" value="true"  />
                        </p:commandButton>
                        <p:commandButton  value="Consultar" icon="Consultar"  update=":frmConsultar" oncomplete="PF('dlgConsulta').show()" />
                <hr/>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <p:outputLabel for="nome" value="Nome"  />
                        <p:inputText value="#{bancoMB.banco.nome}" id="nome" required="#{param['mode']}" requiredMessage="Nome é obrigatória!" />
                    </div>
                    <div class="col-md-2">
                        <p:outputLabel for="nbanco" value="Número do Banco"  />
                        <p:inputText value="#{bancoMB.banco.numeroBanco}" id="nbanco" required="#{param['mode']}" requiredMessage="Número do Banco é obrigatória!" maxlength="4" />
                    </div>
                    <div class="col-md-2">
                        <p:outputLabel for="nbancoExp" value="Número do Banco Exportação"  />
                        <p:inputText value="#{bancoMB.banco.numeroBancoExp}" id="nbancoExp" 
                                     maxlength="4" />
                    </div>
                </div>
            </div>
                        </div>

        </h:form>
</ui:composition>