<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">

    <body>

        <ui:composition template="./../../WEB-INF/Template.xhtml">

            <ui:define name="titulo">
                Controle de Centro de Custos
            </ui:define>

            <ui:define name="descriptionpage">
                Nesta seção você pode controlar os centros de custo.
            </ui:define>

            <ui:define name="breadcrumb">
                Controle de Centro de Custos
            </ui:define>

            <ui:define name="content">
                <p:panel header="Controle de Centro de Custos">
                    <div class="row">
                        <div class="col-lg-12">
                            <h:form id="frmPrincipal" >
                                <p:dataTable value="#{centroCustoMB.listarCentroCusto()}" var="ccusto" >
                                    <p:column width="5%">
                                        <p:rowToggler />
                                    </p:column>
                                    <p:column headerText="Cliente" filterBy="#{ccusto.idCliente.nome}" filterMatchMode="contains">
                                        <h:outputText value="#{ccusto.idCliente.nome}" />
                                    </p:column>
                                    <p:column headerText="Centro de Custo" filterBy="#{ccusto.descricao}" filterMatchMode="contains">
                                        <h:outputText value="#{ccusto.descricao}" />
                                    </p:column>
                                    <p:column >
                                        <p:commandButton value="Adicionar Agrupamento"  action="#{centroCustoMB.setCentroCusto(ccusto)}" oncomplete="PF('dlgAgrupamento').show();" update=":frmAgrupamento"/>
                                    </p:column>
                                    <p:rowExpansion>
                                        <p:dataTable value="#{ccusto.centroCustoAgrupamentoList}" var="ccagrup" emptyMessage="Nenhum agrupamento foi adicionado!">
                                            <p:column headerText="Agrupamento" >
                                                <h:outputText value="#{ccagrup.idAgrupamento.descricao}" />
                                            </p:column>
                                            <p:column  >
                                                <p:commandButton value="Excluir"  action="#{centroCustoMB.excluirCentroAgrupamento(ccagrup)}" update="@form, :msg"/>
                                            </p:column>
                                        </p:dataTable>
                                    </p:rowExpansion>
                                </p:dataTable>                        
                            </h:form>
                            <p:dialog widgetVar="dlgAgrupamento" modal="true" width="50%">
                                <h:form id="frmAgrupamento">
                                    <p:dataTable value="#{agrupamentoMB.listaAgrupamentos()}" var="agr" emptyMessage="Nenhum agrupamento para adicionar!">
                                        <f:facet name="header">
                                            Centro de custo atual #{centroCustoMB.centroCusto.descricao}
                                        </f:facet>
                                        <p:column headerText="Descrição" >
                                            <h:outputText value="#{agr.descricao}" />
                                        </p:column>
                                        <p:column>
                                            <p:commandButton value="Selecionar" update=":msg, :frmPrincipal" action="#{centroCustoMB.adicionarAgrupamento(agr)}" oncomplete="PF('dlgAgrupamento').hide();" />
                                        </p:column>
                                    </p:dataTable>
                                </h:form>
                            </p:dialog>
                        </div>
                    </div>
                </p:panel>
            </ui:define>

        </ui:composition>

    </body>
</html>
